{% include 'header.twig' %}
   
    	<div class="content-wrap">
        <div class="panel-welcome">
          <div class="icon">
            <svg width="53" height="53" viewBox="0 0 53 53" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path
                d="M19.875 21.5312C19.875 19.7021 18.3916 18.2188 16.5625 18.2188H14.9062C11.247 18.2188 8.28125 21.1845 8.28125 24.8438V29.8125C8.28125 33.4718 11.247 36.4375 14.9062 36.4375H16.5625C18.3916 36.4375 19.875 34.9541 19.875 33.125V21.5312ZM38.0938 36.4375C41.753 36.4375 44.7188 33.4718 44.7188 29.8125V24.8438C44.7188 21.1845 41.753 18.2188 38.0938 18.2188H36.4375C34.6084 18.2188 33.125 19.7021 33.125 21.5312V33.125C33.125 34.9541 34.6084 36.4375 36.4375 36.4375H38.0938ZM26.5 0C11.7159 0 0.474102 12.3008 0 26.5V28.1562C0 29.0713 0.741172 29.8125 1.65625 29.8125H3.3125C4.22758 29.8125 4.96875 29.0713 4.96875 28.1562V26.5C4.96875 14.6278 14.6278 4.96875 26.5 4.96875C38.3722 4.96875 48.0312 14.6278 48.0312 26.5H48.0188C48.0271 26.7515 48.0312 43.6546 48.0312 43.6546C48.0312 46.0717 46.0717 48.0312 43.6546 48.0312H33.125C33.125 45.2871 30.9004 43.0625 28.1562 43.0625H24.8438C22.0996 43.0625 19.875 45.2871 19.875 48.0312C19.875 50.7754 22.0996 53 24.8438 53H43.6546C48.8159 53 53 48.8159 53 43.6546V26.5C52.5259 12.3008 41.2841 0 26.5 0Z"
                fill="white" />
            </svg>
          </div>
          <div class="text">
            <strong>Hello, <span>{{ user["username"]  }}</span> !</strong>
            <p>To become our business partner, it is sufficient to purchase the service .<br>
              Your order is processed instantly.
            </p>
          </div>
        </div>
		
		
		
		   <div class="row">
          <div class="col-lg-6">
            <div class="panel-box v2">
              <div class="pb-title">
                <svg width="26" height="20" viewBox="0 0 26 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path
                    d="M12.1695 5.04384L4.16732 11.6345V18.7478C4.16732 18.932 4.24048 19.1086 4.37072 19.2389C4.50095 19.3691 4.67758 19.4423 4.86176 19.4423L9.72548 19.4297C9.90905 19.4288 10.0848 19.3552 10.2143 19.2251C10.3438 19.0949 10.4165 18.9188 10.4164 18.7352V14.5812C10.4164 14.397 10.4896 14.2204 10.6198 14.0901C10.7501 13.9599 10.9267 13.8867 11.1109 13.8867H13.8887C14.0728 13.8867 14.2495 13.9599 14.3797 14.0901C14.51 14.2204 14.5831 14.397 14.5831 14.5812V18.7322C14.5828 18.8236 14.6006 18.9141 14.6354 18.9986C14.6701 19.0831 14.7212 19.1599 14.7857 19.2247C14.8503 19.2894 14.9269 19.3407 15.0113 19.3758C15.0957 19.4108 15.1862 19.4288 15.2776 19.4288L20.1395 19.4423C20.3237 19.4423 20.5004 19.3691 20.6306 19.2389C20.7608 19.1086 20.834 18.932 20.834 18.7478V11.6298L12.8335 5.04384C12.7395 4.96802 12.6223 4.92668 12.5015 4.92668C12.3807 4.92668 12.2635 4.96802 12.1695 5.04384ZM24.8097 9.52344L21.1812 6.53255V0.520833C21.1812 0.3827 21.1263 0.250224 21.0287 0.152549C20.931 0.0548735 20.7985 0 20.6604 0H18.2298C18.0917 0 17.9592 0.0548735 17.8615 0.152549C17.7639 0.250224 17.709 0.3827 17.709 0.520833V3.67231L13.8231 0.47526C13.4502 0.168394 12.9823 0.000613431 12.4993 0.000613431C12.0164 0.000613431 11.5485 0.168394 11.1756 0.47526L0.189019 9.52344C0.136279 9.56703 0.0926449 9.62058 0.0606102 9.68104C0.0285755 9.7415 0.00876769 9.80768 0.00231864 9.8758C-0.0041304 9.94392 0.00290567 10.0126 0.0230248 10.078C0.043144 10.1434 0.0759519 10.2042 0.119574 10.2569L1.22634 11.6024C1.26985 11.6553 1.32336 11.6991 1.38381 11.7313C1.44426 11.7635 1.51047 11.7835 1.57864 11.79C1.64681 11.7966 1.71561 11.7897 1.7811 11.7696C1.84659 11.7496 1.90748 11.7168 1.96029 11.6732L12.1695 3.26432C12.2635 3.18851 12.3807 3.14717 12.5015 3.14717C12.6223 3.14717 12.7395 3.18851 12.8335 3.26432L23.0432 11.6732C23.0959 11.7168 23.1567 11.7496 23.2221 11.7697C23.2875 11.7898 23.3562 11.7969 23.4243 11.7904C23.4924 11.784 23.5586 11.7642 23.6191 11.7321C23.6795 11.7001 23.7331 11.6565 23.7767 11.6037L24.8835 10.2582C24.927 10.2052 24.9597 10.1441 24.9796 10.0784C24.9995 10.0128 25.0062 9.94379 24.9993 9.8755C24.9925 9.80722 24.9722 9.74096 24.9396 9.68054C24.9071 9.62012 24.8629 9.56673 24.8097 9.52344Z"
                    fill="white" fill-opacity="0.71" />
                </svg>
                Child Panel
              </div>
     {% if error %}
      <div class="alert alert-dismissible alert-danger">
          <button type="button" class="close" data-dismiss="alert">×</button>
        {{ errorText }}
      </div>
    {% endif %}  

    {% if data["childpanel"]["success"] == 1 %}
      <div class="alert alert-dismissible alert-success">
          <strong> Order Id: </strong> {{ data['childpanel']['id'] }} <br>
          <strong> Service: </strong> {{ data['childpanel']['service'] }} <br>
          <strong> Domain: </strong> {{ data['childpanel']['link'] }} <br>
          <strong> Quantity: </strong> {{ data['childpanel']['quantity'] }} <br>
          <strong> Charge: </strong> {{ data['childpanel']['price'] }} <br>
      </div>
    {% endif %}
                   <form name="contact-form" action="child-panels" method="post">
				   
				   
				     <div class="input-wrap">
                <strong>Domain</strong>
                <div class="input-item">
                  <span>
                    <svg width="25" height="25" viewBox="0 0 25 25" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <path
                        d="M12.1094 0C5.42139 0 0 5.42139 0 12.1094C0 18.7974 5.42139 24.2188 12.1094 24.2188C18.7974 24.2188 24.2188 18.7974 24.2188 12.1094C24.2188 5.42139 18.7974 0 12.1094 0ZM19.9219 10.5225V10.8608C19.9219 11.1475 19.7598 11.4097 19.5034 11.5376L18.752 11.9136C18.6326 11.9733 18.4996 12.0004 18.3664 11.9921C18.2332 11.9837 18.1046 11.9403 17.9937 11.8662L17.1045 11.2734C17.0086 11.2096 16.8993 11.1684 16.7851 11.1531C16.6709 11.1378 16.5547 11.1487 16.4453 11.1851L16.3159 11.228C15.8423 11.3857 15.6489 11.9502 15.9258 12.3657L16.5723 13.3354C16.7124 13.5459 16.9487 13.6724 17.2017 13.6724H17.6025C18.0205 13.6724 18.3594 14.0112 18.3594 14.4292V14.9829C18.3594 15.1465 18.3062 15.3062 18.208 15.437L17.293 16.6567C17.2236 16.7495 17.1763 16.8569 17.1548 16.9707L16.9448 18.0854C16.9146 18.2461 16.833 18.3926 16.7124 18.5034C16.2497 18.9272 15.8398 19.4052 15.4917 19.9272L14.8555 20.8818C14.7317 21.0675 14.5641 21.2197 14.3674 21.3249C14.1707 21.4302 13.9511 21.4853 13.728 21.4854C13.2148 21.4854 12.7456 21.1953 12.5161 20.7363C12.2486 20.2013 12.1093 19.6114 12.1094 19.0132V17.5537C12.1094 17.1357 11.7705 16.7969 11.3525 16.7969H10.0889C9.38135 16.7969 8.70312 16.5156 8.20264 16.0156C7.70252 15.5153 7.42152 14.8368 7.42139 14.1294V13.4429C7.42139 12.6035 7.81689 11.813 8.48828 11.3091L9.83496 10.2988C10.2967 9.95254 10.8583 9.76529 11.4355 9.76514H11.479C11.8931 9.76514 12.3018 9.86133 12.6719 10.0469L13.3906 10.4062C13.5703 10.4961 13.7778 10.5107 13.9683 10.4473L16.2783 9.67725C16.5874 9.57422 16.7959 9.28516 16.7959 8.95947C16.7959 8.5415 16.457 8.20264 16.0391 8.20264H15.5464C15.3457 8.20264 15.1533 8.12305 15.0112 7.98096L14.6733 7.64307C14.6031 7.57277 14.5196 7.51701 14.4278 7.47898C14.336 7.44094 14.2376 7.42137 14.1382 7.42139H9.74121C9.32324 7.42139 8.98438 7.08252 8.98438 6.66455V6.44971C8.98438 6.10254 9.2207 5.7998 9.55762 5.71533L10.2632 5.53906C10.4458 5.49316 10.605 5.38135 10.7095 5.22461L11.104 4.6333C11.2441 4.42285 11.4805 4.29639 11.7334 4.29639H12.9155C13.3335 4.29639 13.6724 3.95752 13.6724 3.53955V2.47998C17.5405 3.10693 20.6475 6.00684 21.5786 9.76562H20.6787C20.2607 9.76562 19.9219 10.1045 19.9219 10.5225Z"
                        fill="white" />
                    </svg>
                  </span>
                  <input type="text"  name="domain" required>
                </div>
              </div>
				   
		
    
		 <div class="input-wrap">
                <strong>Currency
                </strong>
                <div class="input-item">
                  <span>
                    <svg width="25" height="18" viewBox="0 0 25 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <path
                        d="M24.2641 0.877344C22.7488 0.241797 21.2324 4.69827e-08 19.7168 4.69827e-08C14.9055 -0.000390578 10.0945 2.43516 5.2832 2.43516C4.07656 2.43516 2.8707 2.28203 1.66406 1.89922C1.52852 1.85625 1.39258 1.83594 1.25977 1.83594C0.5875 1.83594 0 2.35625 0 3.07852V15.4715C0 15.9648 0.282422 16.4324 0.735937 16.6223C2.25117 17.2582 3.76758 17.5 5.2832 17.5C10.0945 17.5 14.9059 15.0645 19.7172 15.0645C20.9238 15.0645 22.1297 15.2176 23.3363 15.6004C23.4719 15.6434 23.6078 15.6637 23.7406 15.6637C24.4129 15.6637 25.0004 15.1434 25.0004 14.4211V2.02852C25 1.53477 24.7176 1.06758 24.2641 0.877344ZM1.875 3.91484C2.66094 4.11172 3.48125 4.21055 4.325 4.26367C4.09531 5.41172 3.08594 6.27695 1.875 6.27695V3.91484ZM1.875 15.0477V13.1812C3.21758 13.1812 4.30391 14.2465 4.36367 15.5797C3.48359 15.509 2.66094 15.3332 1.875 15.0477ZM12.5 12.5C10.7738 12.5 9.375 10.8207 9.375 8.75C9.375 6.67891 10.7742 5 12.5 5C14.2258 5 15.625 6.67891 15.625 8.75C15.625 10.8215 14.2254 12.5 12.5 12.5ZM23.125 13.5852C22.4406 13.4137 21.7301 13.3176 21.0031 13.2555C21.2324 12.2367 22.0773 11.4633 23.125 11.3305V13.5852ZM23.125 4.36211C21.9184 4.20937 20.982 3.20195 20.9449 1.95781C21.7082 2.04258 22.4328 2.20117 23.125 2.45234V4.36211Z"
                        fill="white" />
                    </svg>
                  </span>
	

 <select style="background: transparent;
    border: none; width: 100%"  name="panel_currency" aria-required="true">
                                                {% for curr in site['currencies'] %}
                                                <option value="{{ curr['name'] }}">{{curr['name']}}</option>
                                                {% endfor %}
                                            </select>

    </div>
	
	
	</div>
	 <div class="input-wrap">
                <strong>Monthly Total
                </strong>
                <div class="input-item">
                  <span>
                    <svg width="25" height="25" viewBox="0 0 25 25" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <path
                        d="M0 19.79V21.875C0 23.5986 4.19922 25 9.375 25C14.5508 25 18.75 23.5986 18.75 21.875V19.79C16.7334 21.2109 13.0469 21.875 9.375 21.875C5.70312 21.875 2.0166 21.2109 0 19.79ZM15.625 6.25C20.8008 6.25 25 4.84863 25 3.125C25 1.40137 20.8008 0 15.625 0C10.4492 0 6.25 1.40137 6.25 3.125C6.25 4.84863 10.4492 6.25 15.625 6.25ZM0 14.668V17.1875C0 18.9111 4.19922 20.3125 9.375 20.3125C14.5508 20.3125 18.75 18.9111 18.75 17.1875V14.668C16.7334 16.3281 13.042 17.1875 9.375 17.1875C5.70801 17.1875 2.0166 16.3281 0 14.668ZM20.3125 15.2051C23.1104 14.6631 25 13.6572 25 12.5V10.415C23.8672 11.2158 22.2021 11.7627 20.3125 12.0996V15.2051ZM9.375 7.8125C4.19922 7.8125 0 9.56055 0 11.7188C0 13.877 4.19922 15.625 9.375 15.625C14.5508 15.625 18.75 13.877 18.75 11.7188C18.75 9.56055 14.5508 7.8125 9.375 7.8125ZM20.083 10.5615C23.0127 10.0342 25 8.99902 25 7.8125V5.72754C23.2666 6.95312 20.2881 7.61231 17.1533 7.76856C18.5938 8.4668 19.6533 9.4043 20.083 10.5615Z"
                        fill="white" />
                    </svg>
                  </span>
				  <input type="text" value=" {{ currency["symbol"]  }} {{ (settings["panel_price"]*currency["value"]) |round(2, 'floor') }}" readonly>
                </div>
              </div>
			  
			   <div class="input-wrap">
                <strong>Username
                </strong>
                <div class="input-item">
                  <span>
                    <svg width="25" height="25" viewBox="0 0 25 25" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <path
                        d="M12.5 14.0625C16.3818 14.0625 19.5312 10.9131 19.5312 7.03125C19.5312 3.14941 16.3818 0 12.5 0C8.61816 0 5.46875 3.14941 5.46875 7.03125C5.46875 10.9131 8.61816 14.0625 12.5 14.0625ZM18.75 15.625H16.0596C14.9756 16.123 13.7695 16.4062 12.5 16.4062C11.2305 16.4062 10.0293 16.123 8.94043 15.625H6.25C2.79785 15.625 0 18.4229 0 21.875V22.6562C0 23.9502 1.0498 25 2.34375 25H22.6562C23.9502 25 25 23.9502 25 22.6562V21.875C25 18.4229 22.2021 15.625 18.75 15.625Z"
                        fill="white" />
                    </svg>
                  </span>
                   <input type="text" id="createorderform-username" name="username" aria-required="true">
                </div>
              </div>
   
		        <div class="input-wrap">
                <strong>Admin Password
                </strong>
                <div class="input-item">
                  <span>
                    <svg width="22" height="25" viewBox="0 0 22 25" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <path
                        d="M19.5312 10.9375H18.3594V7.42188C18.3594 3.33008 15.0293 0 10.9375 0C6.8457 0 3.51562 3.33008 3.51562 7.42188V10.9375H2.34375C1.0498 10.9375 0 11.9873 0 13.2812V22.6562C0 23.9502 1.0498 25 2.34375 25H19.5312C20.8252 25 21.875 23.9502 21.875 22.6562V13.2812C21.875 11.9873 20.8252 10.9375 19.5312 10.9375ZM14.4531 10.9375H7.42188V7.42188C7.42188 5.4834 8.99902 3.90625 10.9375 3.90625C12.876 3.90625 14.4531 5.4834 14.4531 7.42188V10.9375Z"
                        fill="white" />
                    </svg>
                  </span>
                  <input type="password" id="createorderform-password" name="password" aria-required="true">
                </div>
              </div>
              <div class="input-wrap">
                <strong>Confirm Password
                </strong>
                <div class="input-item">
                  <span>
                    <svg width="22" height="25" viewBox="0 0 22 25" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <path
                        d="M19.5312 10.9375H18.3594V7.42188C18.3594 3.33008 15.0293 0 10.9375 0C6.8457 0 3.51562 3.33008 3.51562 7.42188V10.9375H2.34375C1.0498 10.9375 0 11.9873 0 13.2812V22.6562C0 23.9502 1.0498 25 2.34375 25H19.5312C20.8252 25 21.875 23.9502 21.875 22.6562V13.2812C21.875 11.9873 20.8252 10.9375 19.5312 10.9375ZM14.4531 10.9375H7.42188V7.42188C7.42188 5.4834 8.99902 3.90625 10.9375 3.90625C12.876 3.90625 14.4531 5.4834 14.4531 7.42188V10.9375Z"
                        fill="white" />
                    </svg>
                  </span>
                  <input type="password" id="createorderform-password_confirm" name="password_confirm" aria-required="true">
                </div>
              </div>
		 
    		 

  
    <button type="submit" class="orange-btn" name="submit" value="Submit" id="submit_form">Submit Order</button>
    
    </form>
                </div>
            </div>
		
		 <div class="col-lg-6">
            <div class="panel-box v2">
              <div class="pb-title">
                <svg width="26" height="20" viewBox="0 0 26 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path
                    d="M12.1695 5.04384L4.16732 11.6345V18.7478C4.16732 18.932 4.24048 19.1086 4.37072 19.2389C4.50095 19.3691 4.67758 19.4423 4.86176 19.4423L9.72548 19.4297C9.90905 19.4288 10.0848 19.3552 10.2143 19.2251C10.3438 19.0949 10.4165 18.9188 10.4164 18.7352V14.5812C10.4164 14.397 10.4896 14.2204 10.6198 14.0901C10.7501 13.9599 10.9267 13.8867 11.1109 13.8867H13.8887C14.0728 13.8867 14.2495 13.9599 14.3797 14.0901C14.51 14.2204 14.5831 14.397 14.5831 14.5812V18.7322C14.5828 18.8236 14.6006 18.9141 14.6354 18.9986C14.6701 19.0831 14.7212 19.1599 14.7857 19.2247C14.8503 19.2894 14.9269 19.3407 15.0113 19.3758C15.0957 19.4108 15.1862 19.4288 15.2776 19.4288L20.1395 19.4423C20.3237 19.4423 20.5004 19.3691 20.6306 19.2389C20.7608 19.1086 20.834 18.932 20.834 18.7478V11.6298L12.8335 5.04384C12.7395 4.96802 12.6223 4.92668 12.5015 4.92668C12.3807 4.92668 12.2635 4.96802 12.1695 5.04384ZM24.8097 9.52344L21.1812 6.53255V0.520833C21.1812 0.3827 21.1263 0.250224 21.0287 0.152549C20.931 0.0548735 20.7985 0 20.6604 0H18.2298C18.0917 0 17.9592 0.0548735 17.8615 0.152549C17.7639 0.250224 17.709 0.3827 17.709 0.520833V3.67231L13.8231 0.47526C13.4502 0.168394 12.9823 0.000613431 12.4993 0.000613431C12.0164 0.000613431 11.5485 0.168394 11.1756 0.47526L0.189019 9.52344C0.136279 9.56703 0.0926449 9.62058 0.0606102 9.68104C0.0285755 9.7415 0.00876769 9.80768 0.00231864 9.8758C-0.0041304 9.94392 0.00290567 10.0126 0.0230248 10.078C0.043144 10.1434 0.0759519 10.2042 0.119574 10.2569L1.22634 11.6024C1.26985 11.6553 1.32336 11.6991 1.38381 11.7313C1.44426 11.7635 1.51047 11.7835 1.57864 11.79C1.64681 11.7966 1.71561 11.7897 1.7811 11.7696C1.84659 11.7496 1.90748 11.7168 1.96029 11.6732L12.1695 3.26432C12.2635 3.18851 12.3807 3.14717 12.5015 3.14717C12.6223 3.14717 12.7395 3.18851 12.8335 3.26432L23.0432 11.6732C23.0959 11.7168 23.1567 11.7496 23.2221 11.7697C23.2875 11.7898 23.3562 11.7969 23.4243 11.7904C23.4924 11.784 23.5586 11.7642 23.6191 11.7321C23.6795 11.7001 23.7331 11.6565 23.7767 11.6037L24.8835 10.2582C24.927 10.2052 24.9597 10.1441 24.9796 10.0784C24.9995 10.0128 25.0062 9.94379 24.9993 9.8755C24.9925 9.80722 24.9722 9.74096 24.9396 9.68054C24.9071 9.62012 24.8629 9.56673 24.8097 9.52344Z"
                    fill="white" fill-opacity="0.71" />
                </svg>
                Important INFO
              </div>
              <div class="dns-box">
                <div class="icon">
                  <svg width="69" height="69" viewBox="0 0 69 69" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path
                      d="M64.6875 19.7143H4.3125C1.93079 19.7143 0 17.5077 0 14.7857V4.92857C0 2.20661 1.93079 0 4.3125 0H64.6875C67.0692 0 69 2.20661 69 4.92857V14.7857C69 17.5077 67.0692 19.7143 64.6875 19.7143ZM58.2188 6.16071C56.4324 6.16071 54.9844 7.81564 54.9844 9.85714C54.9844 11.8986 56.4324 13.5536 58.2188 13.5536C60.0051 13.5536 61.4531 11.8986 61.4531 9.85714C61.4531 7.81564 60.0051 6.16071 58.2188 6.16071ZM49.5938 6.16071C47.8074 6.16071 46.3594 7.81564 46.3594 9.85714C46.3594 11.8986 47.8074 13.5536 49.5938 13.5536C51.3801 13.5536 52.8281 11.8986 52.8281 9.85714C52.8281 7.81564 51.3801 6.16071 49.5938 6.16071ZM64.6875 44.3571H4.3125C1.93079 44.3571 0 42.1505 0 39.4286V29.5714C0 26.8495 1.93079 24.6429 4.3125 24.6429H64.6875C67.0692 24.6429 69 26.8495 69 29.5714V39.4286C69 42.1505 67.0692 44.3571 64.6875 44.3571ZM58.2188 30.8036C56.4324 30.8036 54.9844 32.4585 54.9844 34.5C54.9844 36.5415 56.4324 38.1964 58.2188 38.1964C60.0051 38.1964 61.4531 36.5415 61.4531 34.5C61.4531 32.4585 60.0051 30.8036 58.2188 30.8036ZM49.5938 30.8036C47.8074 30.8036 46.3594 32.4585 46.3594 34.5C46.3594 36.5415 47.8074 38.1964 49.5938 38.1964C51.3801 38.1964 52.8281 36.5415 52.8281 34.5C52.8281 32.4585 51.3801 30.8036 49.5938 30.8036ZM64.6875 69H4.3125C1.93079 69 0 66.7934 0 64.0714V54.2143C0 51.4923 1.93079 49.2857 4.3125 49.2857H64.6875C67.0692 49.2857 69 51.4923 69 54.2143V64.0714C69 66.7934 67.0692 69 64.6875 69ZM58.2188 55.4464C56.4324 55.4464 54.9844 57.1013 54.9844 59.1429C54.9844 61.1844 56.4324 62.8393 58.2188 62.8393C60.0051 62.8393 61.4531 61.1844 61.4531 59.1429C61.4531 57.1013 60.0051 55.4464 58.2188 55.4464ZM49.5938 55.4464C47.8074 55.4464 46.3594 57.1013 46.3594 59.1429C46.3594 61.1844 47.8074 62.8393 49.5938 62.8393C51.3801 62.8393 52.8281 61.1844 52.8281 59.1429C52.8281 57.1013 51.3801 55.4464 49.5938 55.4464Z"
                      fill="white" />
                  </svg>
                </div>
                <div class="text">
                  <span>Please visit your registrar's dashboard to change nameservers to:</span>
                  <strong>{{ site['ns1'] }}</strong>
                  <strong>{{ site['ns2'] }}</strong>
                </div>
              </div>
              <p>
               By setting up your own panel, you can sell SmmFansGrow.com services to your customers. You can earn income from this sale. If you want to start your own business with affordable costs, don't miss this opportunity and fill out the form right next to it!<br>
                <br>
				There is never an <b>SmmFansGrow.com</b> phrase on the site that belongs to you, you will have a panel that belongs entirely to your own brand.
              <br>
                <br>
                <ul>
      <li>By making your own logo and design, you can sell to your customers through a unique panel.</li>
      <li>You can sell the <b>SmmFansGrow.com</b> service you want in your own panel with the commission you want.</li>
      <li>You can start selling quickly by integrating almost all payment methods into your panel.</li>
      <li>You can give instant support to your customers from the "Support" section.</li>
   </ul>
                
              </p>
            </div>
          </div>
        </div>
		      </div>


    
    
		

{% include 'footer.twig' %}