{% include 'header.twig' %}



<div class="container">
      <div class="row align-items-center">
        <div class="col-lg-6">
          <div class="hero-text">
            <span>Best Quality Services</span>
            <h1><span>Its More Than a SMM Panel </span></h1>
            <p>{{ site["site_name"] }} is currently the leading <br> SMM provider with high quality services. With Lifetime Warranty
                <br>
               we stand behind all our services</p>
            <div class="btns">
              <a href="/signup"><i class="fas fa-plus-square"></i> Register Now</a>
              <a href="https://youtu.be/"><span><svg width="11" height="12" viewBox="0 0 11 12" fill="none"
                    xmlns="http://www.w3.org/2000/svg">
                    <path
                      d="M2.235 0.191989C2.00672 0.0636694 1.74882 -0.00264905 1.48695 -0.00037045C1.22508 0.00190815 0.968374 0.0727045 0.742357 0.204977C0.516341 0.33725 0.328892 0.52639 0.198654 0.753585C0.0684162 0.98078 -7.26363e-05 1.23811 5.78078e-08 1.49999V10.5C0.00010191 10.7618 0.0687177 11.019 0.199027 11.246C0.329337 11.4731 0.516801 11.6621 0.742789 11.7943C0.968776 11.9264 1.22542 11.9971 1.4872 11.9994C1.74898 12.0016 2.00679 11.9353 2.235 11.807L10.235 7.30699C10.4668 7.17645 10.6597 6.98661 10.794 6.75694C10.9282 6.52727 10.999 6.26602 10.999 5.99999C10.999 5.73396 10.9282 5.47271 10.794 5.24304C10.6597 5.01337 10.4668 4.82353 10.235 4.69299L2.235 0.192989V0.191989Z"
                      fill="#F2C94C" />
                  </svg>
                </span> Watch Video</a>
            </div>
          </div>
        </div>
        <div class="col-lg-6">
          <div class="hero-form">
            <div class="hero-form-box">
			{% if errorText %}
        <div class="alert alert-dismissible alert-danger">
          <button type="button" class="close" data-dismiss="alert">×</button>
          {{ errorText }}
        </div>
      {% endif %}
      {% if successText %}
        <div class="alert alert-dismissible alert-success">
          <button type="button" class="close" data-dismiss="alert">×</button>
          {{ successText }}
        </div>
      {% endif %}
			<form  method="post" action="">
                             <div class="input-wrap v2">
                <strong>{{ lang['signin.username'] }}
                </strong>
                <div class="input-item">
                  <span>
                    <svg width="25" height="25" viewBox="0 0 25 25" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <path
                        d="M12.5 14.0625C16.3818 14.0625 19.5312 10.9131 19.5312 7.03125C19.5312 3.14941 16.3818 0 12.5 0C8.61816 0 5.46875 3.14941 5.46875 7.03125C5.46875 10.9131 8.61816 14.0625 12.5 14.0625ZM18.75 15.625H16.0596C14.9756 16.123 13.7695 16.4062 12.5 16.4062C11.2305 16.4062 10.0293 16.123 8.94043 15.625H6.25C2.79785 15.625 0 18.4229 0 21.875V22.6562C0 23.9502 1.0498 25 2.34375 25H22.6562C23.9502 25 25 23.9502 25 22.6562V21.875C25 18.4229 22.2021 15.625 18.75 15.625Z"
                        fill="#333333" fill-opacity="0.84" />
                    </svg>
                  </span>
                  <input type="text" class="fg-control" id="username" name="username">
                </div>
              </div>

              <div class="input-wrap v2">
                <strong>{{ lang['signin.password'] }}
                </strong>
                <div class="input-item">
                  <span>
                    <svg width="22" height="25" viewBox="0 0 22 25" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <path
                        d="M19.5312 12.5H7.42188V7.46587C7.42188 5.53227 8.96973 3.92583 10.9033 3.9063C12.8564 3.88677 14.4531 5.47368 14.4531 7.42192V8.20317C14.4531 8.85259 14.9756 9.37505 15.625 9.37505H17.1875C17.8369 9.37505 18.3594 8.85259 18.3594 8.20317V7.42192C18.3594 3.32036 15.0146 -0.0146004 10.9131 4.80722e-05C6.81152 0.0146965 3.51562 3.3936 3.51562 7.49517V12.5H2.34375C1.0498 12.5 0 13.5499 0 14.8438V22.6563C0 23.9502 1.0498 25 2.34375 25H19.5312C20.8252 25 21.875 23.9502 21.875 22.6563V14.8438C21.875 13.5499 20.8252 12.5 19.5312 12.5ZM12.8906 19.9219C12.8906 21.001 12.0166 21.875 10.9375 21.875C9.8584 21.875 8.98438 21.001 8.98438 19.9219V17.5782C8.98438 16.4991 9.8584 15.625 10.9375 15.625C12.0166 15.625 12.8906 16.4991 12.8906 17.5782V19.9219Z"
                        fill="#333333" fill-opacity="0.84" />
                    </svg>
                  </span>
                  <input type="password" class="fg-control" id="password" name="password">
                </div>
                
                
                
                
                
                
              </div>

           <div class="d-flex">  <input type="checkbox" class="form-check-input" name="remember" value="1" id="remember"> <label class="form-check-label ps-2" for="remember">{{ lang['signin.remember'] }}  </label></div>
										    {% if captcha %}
            <div class="form-group">
              <div class="g-recaptcha" data-sitekey="{{ captchaKey }}"></div>
            </div>
          {% endif %}
              <button type="submit" class="white-btn">{{ lang['signin.button'] }}</button>
              <a href="/resetpassword" class="forget-pass"><svg width="25" height="20" viewBox="0 0 25 20" fill="none"
                  xmlns="http://www.w3.org/2000/svg">
                  <path
                    d="M8.75 10C9.73891 10 10.7056 9.70676 11.5279 9.15735C12.3501 8.60794 12.991 7.82705 13.3694 6.91342C13.7478 5.99979 13.8469 4.99446 13.6539 4.02455C13.461 3.05465 12.9848 2.16373 12.2855 1.46447C11.5863 0.765206 10.6954 0.289002 9.72545 0.0960758C8.75555 -0.0968503 7.75021 0.00216641 6.83658 0.380605C5.92295 0.759043 5.14206 1.39991 4.59265 2.22215C4.04324 3.0444 3.75 4.0111 3.75 5C3.75 6.32609 4.27678 7.59785 5.21447 8.53554C6.15215 9.47322 7.42392 10 8.75 10ZM12.5 12.5C12.5028 12.0825 12.6117 11.6725 12.8164 11.3086C12.6289 11.2891 12.4453 11.25 12.25 11.25H11.5977C10.7048 11.6618 9.73324 11.875 8.75 11.875C7.76676 11.875 6.79522 11.6618 5.90234 11.25H5.25C3.85771 11.2503 2.52253 11.8035 1.53803 12.788C0.553534 13.7725 0.000310675 15.1077 0 16.5L0 18.125C0 18.6223 0.197544 19.0992 0.549175 19.4508C0.900805 19.8025 1.37772 20 1.875 20H12.8477C12.623 19.6215 12.503 19.1901 12.5 18.75V12.5ZM23.75 11.25H22.5V8.125C22.5 7.2962 22.1708 6.50134 21.5847 5.91529C20.9987 5.32924 20.2038 5 19.375 5C18.5462 5 17.7513 5.32924 17.1653 5.91529C16.5792 6.50134 16.25 7.2962 16.25 8.125V11.25H15C14.6685 11.25 14.3505 11.3817 14.1161 11.6161C13.8817 11.8505 13.75 12.1685 13.75 12.5V18.75C13.75 19.0815 13.8817 19.3995 14.1161 19.6339C14.3505 19.8683 14.6685 20 15 20H23.75C24.0815 20 24.3995 19.8683 24.6339 19.6339C24.8683 19.3995 25 19.0815 25 18.75V12.5C25 12.1685 24.8683 11.8505 24.6339 11.6161C24.3995 11.3817 24.0815 11.25 23.75 11.25ZM19.375 16.875C19.1278 16.875 18.8861 16.8017 18.6805 16.6643C18.475 16.527 18.3148 16.3318 18.2201 16.1034C18.1255 15.8749 18.1008 15.6236 18.149 15.3811C18.1973 15.1387 18.3163 14.9159 18.4911 14.7411C18.6659 14.5663 18.8887 14.4473 19.1311 14.399C19.3736 14.3508 19.6249 14.3755 19.8534 14.4702C20.0818 14.5648 20.277 14.725 20.4143 14.9305C20.5517 15.1361 20.625 15.3778 20.625 15.625C20.625 15.9565 20.4933 16.2745 20.2589 16.5089C20.0245 16.7433 19.7065 16.875 19.375 16.875ZM20.625 11.25H18.125V8.125C18.125 7.79348 18.2567 7.47554 18.4911 7.24112C18.7255 7.0067 19.0435 6.875 19.375 6.875C19.7065 6.875 20.0245 7.0067 20.2589 7.24112C20.4933 7.47554 20.625 7.79348 20.625 8.125V11.25Z"
                    fill="white" />
                </svg>
                 {{ lang['signin.password.lost'] }}</a>
              <div class="white-btn">
              <a style="color: black;" href="/signup">Click to Register !</a>
              </div>
</form>
           <!--  <form class="" method="post" action="https://google.addonsupply.in/login.php">
                                            <input type="text" name="site" value="https://demo2.yaxono.com/" hidden>
                                            <center><button class="btn btn-primary" type="submit"><i class="fab fa-google">
                                            </i>&nbsp; Login With Google</button></center></form> -->
                        
</div>
          </div>
        </div>
      </div>
    </div>
  </div>

{% if contentText %}
 <div class="container">
     {{ contentText }}
   </div>
{% endif %}
  <div class="brands-list">
    <div class="container">
      <img src="/css/panel/SmmFansGrow/images/brands.svg" alt="">
    </div>
  </div>


  <div class="services-wrapper">
    <div class="container">
      <div class="heading">
        <div class="title">
          <span>Some of Our Services</span>
          <h3>World's Largest <br>
            Service Provider !</h3>
        </div>
        <div class="arrows">
          <button class="prev-btn"><i class="fa fa-chevron-left"></i></button>
          <button class="next-btn"><i class="fa fa-chevron-right"></i></button>
        </div>
      </div>
      <div class="row align-items-center">
        <div class="col-lg-3">
          <div class="socials-list">
            <button class="active">
              <span>
                <svg width="30" height="30" viewBox="0 0 30 30" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path
                    d="M14.8652 0C1.07873 0 0 1.07948 0 14.8652V15.1348C0 28.9205 1.07874 30 14.8652 30H15.1348C28.9213 30 30 28.9205 30 15.1348V15C30 1.089 28.911 0 15 0H14.8652ZM23.9956 4.5C24.8244 4.49775 25.4977 5.16686 25.5 5.99561C25.5023 6.82436 24.8331 7.49775 24.0044 7.5C23.1756 7.50225 22.5023 6.83314 22.5 6.00439C22.4977 5.17564 23.1669 4.50225 23.9956 4.5ZM14.9824 7.5C19.1239 7.49025 22.4902 10.8409 22.5 14.9824C22.5098 19.1239 19.1591 22.4902 15.0176 22.5C10.8761 22.5098 7.50975 19.1591 7.5 15.0176C7.49025 10.8761 10.8409 7.50975 14.9824 7.5ZM14.9897 10.5C12.5042 10.506 10.494 12.5262 10.5 15.0117C10.506 17.4965 12.5255 19.506 15.0103 19.5C17.4958 19.494 19.506 17.4745 19.5 14.9897C19.494 12.5042 17.4745 10.494 14.9897 10.5Z"
                    fill="#F16845" />
                </svg>
              </span>
              Instagram
            </button>
            <button>
              <span>
                <svg width="30" height="30" viewBox="0 0 30 30" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path
                    d="M12.5 23.125C14.2256 23.125 15.625 21.7256 15.625 20V19.375V18.75V3.79376H18.88C18.8606 3.70626 18.835 3.62126 18.8194 3.53189H18.8188C18.7913 3.37689 18.7712 3.22251 18.7569 3.06564V2.54376H14.375V17.5V18.125V18.75C14.375 20.4756 12.9756 21.875 11.25 21.875C10.71 21.875 10.2094 21.7256 9.76562 21.4844C10.2956 22.4569 11.3144 23.125 12.5 23.125Z"
                    fill="#F16845" />
                  <path
                    d="M21.0738 7.12939C20.5756 6.44564 20.2213 5.65001 20.0694 4.78189H20.0688C20.0413 4.62689 20.0213 4.47251 20.0069 4.31564V3.79376H18.88C19.1869 5.15751 19.9806 6.33251 21.0738 7.12939Z"
                    fill="#F16845" />
                  <path
                    d="M11.25 15.625C9.52438 15.625 8.125 17.0244 8.125 18.75C8.125 19.9356 8.79313 20.9544 9.76562 21.4844C9.52437 21.0406 9.375 20.54 9.375 20C9.375 18.2744 10.7744 16.875 12.5 16.875C12.7144 16.875 12.9231 16.8969 13.125 16.9381V12.5319C12.9181 12.5144 12.7112 12.5 12.5 12.5C12.2888 12.5 12.0819 12.5144 11.875 12.5312V15.6875C11.6731 15.6469 11.4644 15.625 11.25 15.625Z"
                    fill="#F16845" />
                  <path
                    d="M22.6606 8.61438C23.2025 8.9525 23.7975 9.18188 24.4144 9.32125V9.08625V9.085V8.22188C23.3519 8.22375 22.3119 7.92625 21.4106 7.36375C21.2944 7.29125 21.185 7.20938 21.0744 7.12875C21.5037 7.71938 22.0394 8.22688 22.6606 8.61438Z"
                    fill="#F16845" />
                  <path
                    d="M11.875 12.5312V11.2812C11.6681 11.2644 11.4612 11.25 11.25 11.25C7.10813 11.25 3.75 14.6081 3.75 18.75C3.75 21.14 4.87188 23.2637 6.61313 24.6369C5.60563 23.3606 5 21.7525 5 20C5 16.0687 8.02625 12.85 11.875 12.5312Z"
                    fill="#F16845" />
                  <path
                    d="M24.4138 9.32126V12.2794C22.3044 12.2794 20.3506 11.61 18.7563 10.4706L18.7581 18.75L18.7494 18.7388C18.7494 18.7425 18.75 18.7463 18.75 18.75C18.75 22.8919 15.3919 26.25 11.25 26.25C9.4975 26.25 7.88938 25.6444 6.61313 24.6369C7.98625 26.3781 10.11 27.5 12.5 27.5C16.6419 27.5 20 24.1419 20 20C20 19.9963 19.9994 19.9925 19.9994 19.9888L20.0081 20L20.0069 11.72C21.6013 12.8594 23.555 13.5288 25.6644 13.5288V10.3363V10.335V9.47188C25.2406 9.47313 24.8231 9.41313 24.4138 9.32126Z"
                    fill="#F16845" />
                  <path
                    d="M18.75 18.75C18.75 18.7462 18.7494 18.7425 18.7494 18.7387L18.7581 18.75L18.7569 10.47C20.3512 11.6094 22.305 12.2787 24.4144 12.2787V9.32062C23.7975 9.18125 23.2025 8.95187 22.6606 8.61375C22.0394 8.22625 21.5038 7.71875 21.0744 7.12875C19.9806 6.33187 19.1875 5.15687 18.8806 3.79312H15.625V18.75V19.375V20C15.625 21.7256 14.2256 23.125 12.5 23.125C11.3144 23.125 10.2956 22.4569 9.76562 21.4844C8.79312 20.9544 8.125 19.9356 8.125 18.75C8.125 17.0244 9.52437 15.625 11.25 15.625C11.4644 15.625 11.6731 15.6469 11.875 15.6881V12.5319C8.02625 12.85 5 16.0687 5 20C5 21.7525 5.60563 23.3606 6.61313 24.6369C7.88938 25.6444 9.4975 26.25 11.25 26.25C15.3919 26.25 18.75 22.8919 18.75 18.75Z"
                    fill="#F16845" />
                </svg>
              </span>
              TikTok
            </button>
            <button>
              <span>
                <svg width="35" height="25" viewBox="0 0 35 25" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path
                    d="M33.1968 1.78456C34.7915 3.43897 35 6.06765 35 12.5C35 18.9324 34.7915 21.561 33.1968 23.2154C31.6021 24.8691 29.941 25 17.5 25C5.05896 25 3.39792 24.8691 1.80323 23.2154C0.208541 21.561 0 18.9324 0 12.5C0 6.06765 0.208541 3.43897 1.80323 1.78456C3.39792 0.130147 5.05896 0 17.5 0C29.941 0 31.6021 0.130882 33.1968 1.78456ZM14.5469 17.9537L23.4033 12.7787L14.5469 7.68456V17.9537Z"
                    fill="#F16845" />
                </svg>
              </span>
              YouTube
            </button>
            <button>
              <span>
                <svg width="30" height="30" viewBox="0 0 30 30" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path
                    d="M21.1702 0C29.3595 0 30 0.640501 30 8.82975V21.1695C30 29.3588 29.3595 30 21.1702 30H19.6035V19.0785H23.454L24.0592 14.751H19.6035C19.6035 14.751 19.5968 12.2175 19.6035 11.5853C19.6163 10.3485 20.649 9.723 21.5363 9.732C22.4235 9.741 24.2617 9.735 24.2617 9.735V5.74725C24.2617 5.74725 22.6695 5.541 21 5.52375C19.5968 5.5095 18.0473 5.889 16.797 7.149C15.525 8.43075 15.3248 10.3395 15.3 12.672C15.2933 13.347 15.3 14.751 15.3 14.751H11.532V19.0785H15.3V30H8.8305C0.6405 30 0 29.3588 0 21.1702V8.82975C0 0.640501 0.640501 0 8.82975 0H21.1702Z"
                    fill="#F16845" />
                </svg>

              </span>
              Facebook
            </button>
            <button>
              <span>
                <svg width="35" height="25" viewBox="0 0 35 25" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path
                    d="M35 2.95973C34.0375 4.22424 32.819 5.33558 31.4153 6.22645C31.4285 6.49755 31.4358 6.7693 31.4358 7.04297C31.4358 15.3831 24.2154 25 11.007 25C6.95129 25 1.66618 23.7515 0 22.1653C0.562928 22.2242 1.13461 22.2537 1.71358 22.2537C5.07875 22.2537 8.17486 21.2443 10.6315 19.5516C7.48943 19.501 4.83739 17.675 3.92373 15.1678C5.35292 15.3652 7.1664 15.0588 7.1664 15.0588C7.1664 15.0588 1.5517 14.2116 1.40659 8.79137C3.02975 9.61879 4.65874 9.58033 4.65874 9.58033C4.65874 9.58033 1.42045 7.82808 1.46565 4.32807C1.49263 2.2637 2.4362 1.15364 2.4362 1.15364C8.57153 7.79411 17.2371 7.74861 17.2371 7.74861C17.2371 7.74861 17.0512 6.80583 17.0512 6.31105C17.0512 2.82642 20.2654 0 24.2314 0C26.2965 0 28.1625 0.766529 29.4721 1.99387C31.1091 1.70995 32.6462 1.1844 34.0331 0.461455C33.4067 2.66619 30.8765 3.95314 30.8765 3.95314C30.8765 3.95314 33.0414 3.74228 35 2.95973Z"
                    fill="#F16845" />
                </svg>

              </span>
              Twitter
            </button>
            <button>
              <span>
                <svg width="30" height="30" viewBox="0 0 30 30" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path
                    d="M21.1702 0C29.3595 0 30 0.640501 30 8.82975V21.1695C30 29.3588 29.3595 30 21.1702 30H19.6035V19.0785H23.454L24.0592 14.751H19.6035C19.6035 14.751 19.5968 12.2175 19.6035 11.5853C19.6163 10.3485 20.649 9.723 21.5363 9.732C22.4235 9.741 24.2617 9.735 24.2617 9.735V5.74725C24.2617 5.74725 22.6695 5.541 21 5.52375C19.5968 5.5095 18.0473 5.889 16.797 7.149C15.525 8.43075 15.3248 10.3395 15.3 12.672C15.2933 13.347 15.3 14.751 15.3 14.751H11.532V19.0785H15.3V30H8.8305C0.6405 30 0 29.3588 0 21.1702V8.82975C0 0.640501 0.640501 0 8.82975 0H21.1702Z"
                    fill="#F16845" />
                </svg>

              </span>
              Facebook
            </button>
            <button>
              <span>
                <svg width="35" height="25" viewBox="0 0 35 25" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path
                    d="M35 2.95973C34.0375 4.22424 32.819 5.33558 31.4153 6.22645C31.4285 6.49755 31.4358 6.7693 31.4358 7.04297C31.4358 15.3831 24.2154 25 11.007 25C6.95129 25 1.66618 23.7515 0 22.1653C0.562928 22.2242 1.13461 22.2537 1.71358 22.2537C5.07875 22.2537 8.17486 21.2443 10.6315 19.5516C7.48943 19.501 4.83739 17.675 3.92373 15.1678C5.35292 15.3652 7.1664 15.0588 7.1664 15.0588C7.1664 15.0588 1.5517 14.2116 1.40659 8.79137C3.02975 9.61879 4.65874 9.58033 4.65874 9.58033C4.65874 9.58033 1.42045 7.82808 1.46565 4.32807C1.49263 2.2637 2.4362 1.15364 2.4362 1.15364C8.57153 7.79411 17.2371 7.74861 17.2371 7.74861C17.2371 7.74861 17.0512 6.80583 17.0512 6.31105C17.0512 2.82642 20.2654 0 24.2314 0C26.2965 0 28.1625 0.766529 29.4721 1.99387C31.1091 1.70995 32.6462 1.1844 34.0331 0.461455C33.4067 2.66619 30.8765 3.95314 30.8765 3.95314C30.8765 3.95314 33.0414 3.74228 35 2.95973Z"
                    fill="#F16845" />
                </svg>

              </span>
              Twitter
            </button>
            <button>
              <span>
                <svg width="30" height="30" viewBox="0 0 30 30" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path
                    d="M21.1702 0C29.3595 0 30 0.640501 30 8.82975V21.1695C30 29.3588 29.3595 30 21.1702 30H19.6035V19.0785H23.454L24.0592 14.751H19.6035C19.6035 14.751 19.5968 12.2175 19.6035 11.5853C19.6163 10.3485 20.649 9.723 21.5363 9.732C22.4235 9.741 24.2617 9.735 24.2617 9.735V5.74725C24.2617 5.74725 22.6695 5.541 21 5.52375C19.5968 5.5095 18.0473 5.889 16.797 7.149C15.525 8.43075 15.3248 10.3395 15.3 12.672C15.2933 13.347 15.3 14.751 15.3 14.751H11.532V19.0785H15.3V30H8.8305C0.6405 30 0 29.3588 0 21.1702V8.82975C0 0.640501 0.640501 0 8.82975 0H21.1702Z"
                    fill="#F16845" />
                </svg>

              </span>
              Facebook
            </button>
            <button>
              <span>
                <svg width="35" height="25" viewBox="0 0 35 25" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path
                    d="M35 2.95973C34.0375 4.22424 32.819 5.33558 31.4153 6.22645C31.4285 6.49755 31.4358 6.7693 31.4358 7.04297C31.4358 15.3831 24.2154 25 11.007 25C6.95129 25 1.66618 23.7515 0 22.1653C0.562928 22.2242 1.13461 22.2537 1.71358 22.2537C5.07875 22.2537 8.17486 21.2443 10.6315 19.5516C7.48943 19.501 4.83739 17.675 3.92373 15.1678C5.35292 15.3652 7.1664 15.0588 7.1664 15.0588C7.1664 15.0588 1.5517 14.2116 1.40659 8.79137C3.02975 9.61879 4.65874 9.58033 4.65874 9.58033C4.65874 9.58033 1.42045 7.82808 1.46565 4.32807C1.49263 2.2637 2.4362 1.15364 2.4362 1.15364C8.57153 7.79411 17.2371 7.74861 17.2371 7.74861C17.2371 7.74861 17.0512 6.80583 17.0512 6.31105C17.0512 2.82642 20.2654 0 24.2314 0C26.2965 0 28.1625 0.766529 29.4721 1.99387C31.1091 1.70995 32.6462 1.1844 34.0331 0.461455C33.4067 2.66619 30.8765 3.95314 30.8765 3.95314C30.8765 3.95314 33.0414 3.74228 35 2.95973Z"
                    fill="#F16845" />
                </svg>

              </span>
              Twitter
            </button>
          </div>
        </div>
        <div class="col-lg-9">
          <div class="slider-wrap">
            <div class="slider-item">
              <img src="/css/panel/SmmFansGrow/images/instagram.png" alt="">
              <div class="overlay">
                <h3>Instagram</h3>
                <a href="/services">View Services <i class="fa fa-chevron-right"></i></a>
              </div>
            </div>
            <div class="slider-item">
              <img src="/css/panel/SmmFansGrow/images/tiktok.png" alt="">
              <div class="overlay">
                <h3>TikTok</h3>
                <a href="/services">View Services <i class="fa fa-chevron-right"></i></a>
              </div>
            </div>
            <div class="slider-item">
              <img src="/css/panel/SmmFansGrow/images/instagram.png" alt="">
              <div class="overlay">
                <h3>Instagram</h3>
                <a href="/services">View Services <i class="fa fa-chevron-right"></i></a>
              </div>
            </div>
            <div class="slider-item">
              <img src="/css/panel/SmmFansGrow/images/tiktok.png" alt="">
              <div class="overlay">
                <h3>TikTok</h3>
                <a href="/services">View Services <i class="fa fa-chevron-right"></i></a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>


  <div class="testi-wrapper">
    <div class="container">
      <div class="row">
        <div class="col-lg-6">
          <div class="testi-img">
            <img src="/css/panel/SmmFansGrow/images/testimonials.png" alt="">
          </div>
        </div>
        <div class="col-lg-6">
          <div class="testi-slider-wrapper">
            <button class="testi-prev"><i class="fa fa-chevron-left"></i></button>
            <button class="testi-next"><i class="fa fa-chevron-right"></i></button>
            <div class="testi-slider">
              <div class="testi-slider-item">
                <span>Our Happy Customers</span>
                <h3>What Our Customers Say About Us <br></h3>
                <p>I have been using this panel since 2017, since then it has the cheapest options compared to other panels and
                   light
                   They have unparalleled services with fast support.</p>
                <div class="customer">
                  <div class="pic">
                    <img src="/css/panel/SmmFansGrow/images/person.png" alt="">
                  </div>
                  <div class="name">
                    <span>Melisa Gundogan</span>
                    <small>Influencer / Blogger</small>
                  </div>
                </div>
                <div class="rate">
                  <img src="/css/panel/SmmFansGrow/images/stars.svg" alt=""> 5,0
                </div>
              </div>
              <div class="testi-slider-item">
                <span>Our Happy Customers</span>
                <h3>What Our Customers Say About Us <br></h3>
                <p>I have been using this panel since 2017, since then it has the cheapest options compared to other panels and
                   light
                   They have unparalleled services with fast support.</p>
                <div class="customer">
                  <div class="pic">
                    <img src="/css/panel/SmmFansGrow/images/person.png" alt="">
                  </div>
                  <div class="name">
                    <span>Melisa Gundogan</span>
                    <small>Influencer / Blogger</small>
                  </div>
                </div>
                <div class="rate">
                  <img src="/css/panel/SmmFansGrow/images/stars.svg" alt=""> 5,0
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
	  {% if contentText2 %}
      <div class="well ">
{{ contentText2 }}
 </div>
   
{% endif %}
    </div>
  </div>






{% for lang in site['languages'] %}
  {% if lang['active'] %}
    <script src="https://www.google.com/recaptcha/api.js?hl={{ lang['code'] }}"></script>
  {% endif %}
{% endfor %}

{% include 'footer.twig' %}
