{% include 'header.twig' %}




<div class="app-content">
			<div class="container-fluid">
			
              
              
			   <div class="d-card dc-dash">
                    <div class="row">
                        <div class="col-lg-6 col-md-8 col-12">
                            <div class="py-3 px-5">
                                <div class="dch-title"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">
                                    Add funds
                                </font></font></div>
                                <div class="dch-text"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">
                                    You can add funds and see past payments
                                </font></font></div>
                            </div>                        
                        </div>
                    </div>
                </div>

              <div class="alert alert-hevo alert-dismissible" role="alert">
     	  <h6><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">If you need another payment method, please contact support</font></font></h6>
     	</div>
              
				<section class="neworder">
				
						<div class="row">
							<div class="col-lg-7 col-12 mb-5 mb-lg-0">
								<div class="d-card">
									
									<div class="d-card-head">
										<div class="dch-body">
											 <i class="icon far fa-credit-card me-3"></i>
											 <span class="ml-3"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Make secure payments</font></font></span>
										</div>
									</div>
									
									<div class="d-card-body" id="dc-body">								
									
									 <form method="post" action="addfunds">
			{% if error %}
			  <div class="alert alert-dismissible alert-danger">
				<button type="button" class="close" data-dismiss="alert">×</button>
				{{ errorText }}
			  </div>
			{% endif %}
			{% if success %}
			  <div class="alert alert-dismissible alert-success">
				<button type="button" class="close" data-dismiss="alert">×</button>
				{{ successText }}
			  </div>
			{% endif %}
									
										<div class="form-group">
												 <label for="method" class="control-label"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Method</font></font></label>
												 <select class="form-control" id="payment_method" name="payment_type" onchange="handleOrderType(this)">
                      
                   {% for payment in paymentsList %}
                      <option value="{{ payment['id'] }}" {% if data['payment_type'] == payment['id'] %} selected {% endif %} >{{ payment['method_name'] }}</option>
                    {% endfor %}
                  </select>
                  </div>
                  
                  
                  <!-- content -->
                  
                  <div class="payment_contents mt-3 mb-3">
                                                     {% for payment in paymentsList %}
                                                         <div id="{{payment['id']}}" class="payment_content_class d-none">
                                                             <div class="card">
                                                                 {{payment['content']}}
                                                             </div> 
                                                         </div>
                                                     {% endfor %}
                                                 </div>
                  
                  
											  <!--  manual payment -->
											  
											 <div class="fga mb-4 custom-payment-content"  style="display:none">
                                       <label class="fla" for="amount">Instructions:</label>
                                       <br>
                                       <p>     {% for payment in paymentsList %}
													  {% if payment['id'] == 34  %} 
													    {{ payment['content'] }}
													  {% endif %}
													{% endfor %} </p>
                                        </div>
                                        
                                        
                                          <div class="fga mb-4 custom-payment-content-bkash"  style="display:none">
                                       <label class="fla" for="amount">Instructions:</label>
                                       <br>
                                       <p> {% for payment in paymentsList %}
													  {% if payment['id'] == 21  %} 
													    {{ payment['content'] }}
													  {% endif %}
													{% endfor %} </p>
                                        </div>
                                        
                                        
                                        
                                         <div class="fga mb-4 custom-payment-content-bkash"  style="display:none">
                                       <label class="fla" for="amount">Instructions:</label>
                                       <br>
                                       <p> {% for payment in paymentsList %}
													  {% if payment['id'] == 33  %} 
													    {{ payment['content'] }}
													  {% endif %}
													{% endfor %} </p>
                                        </div>


                                    	 <!-- Start -->
                
    <div id="qr">
           <form method="post" action="addfunds">
                    <center><img width="300" height="600" src="{{ PaytmQRimage }}" ></img> </center>
                    
                    <div class="form-group">
                        <label for="method" class="control-label">Order ID</label>
                        <p>Enter Transaction/Order ID without spaces. Example - 202010122210100058</p>
                        <input class="form-control" name="paytmqr_orderid" value="{{ data['paytmqr_orderid'] }}">
                    </div>
                    
    
          </div>
    
    
    <!--end--->
                        

											  <div class="fga mb-4 normal-payment" >
                                            <label class="fla" for="amount">{{ lang['addfunds.amount'] }}     {{currency['symbol']}} </label>
                                            <div class="fg t">
                                                <div class="fg-icon"><i class="far fa-coin"></i></div>
                                                <input  class="fg-control" name="payment_amount" id="amount" value="{{ data['payment_amount'] }}">
                                            </div>
                                        </div>
								  <button type="submit" class="btn btn-primary btn-block  normal-payment">
							<font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Pay</font></font></button>
								
								{% if bankPayment == 2 %}			  
							 <button type="button" class="btn btn-secondary btn-block mt-3" data-toggle="modal" data-target="#papara"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Pay using manual payment methods</font></font></button>
                                            {% endif %}
                                    
										  </form>
									</div>
								</div>
								
							</div>
							
							<!-- Papara -->
<div class="modal fade" id="papara">
   <div class="modal-dialog">
      <div class="modal-content">
         <!-- Modal Header -->
         <div class="modal-header">
            <h4 class="modal-title">
                
                payment methods
                </h4>
            <button type="button" class="close" data-dismiss="modal">×</button>
         </div>
         <!-- Modal body -->
         <div class="modal-body">
             <form method="post" action="addfunds">
    
                  <div class="form-group col-md-12">
                    <label for="method" class="control-label">Bank to pay</label>
                    <select class="form-control" name="payment_bank">                    </select>
                  </div>
               <div class="d-flex">
                    <div class="form-group col-md-6">
                        <label for="method" class="control-label">Amount</label>
                        <input class="form-control" name="payment_bank_amount" value="">
                    </div>
                    <div class="form-group col-md-6">
                        <label for="method" class="control-label">Payer Name</label>
                        <input class="form-control" name="payment_gonderen" value="">
                    </div>
                  </div>
                    <div class="col-md-12">
                      <button type="submit" class="w-100 btn btn-primary">Make a payment notification</button>
                    </div>
                </form>
                 <div class="table-responsive">
                <table class="table table-striped table-bordered table-checkable text-white">
                  <thead style="       color: aliceblue !important;">
                    <tr>
                      <th>Bank Name</th>
                      <th>Branch code</th>
                      <th>Account number</th>
                      <th>IBAN</th>
                      <th>Recipient Name</th>

                    </tr>
                  </thead>
                  <tbody>               
                  {% for bank in bankList %}
                    <tr>
                      <td>{{ bank['bank_name'] }}</td>
                      <td>{{ bank['bank_sube'] }}</td>
                      <td>{{ bank['bank_hesap'] }}</td>
                      <td><b>{{ bank['bank_iban'] }}</b><br></td>
                      <td>{{ bank["bank_alici"] }}</td>
                    </tr>
                  {% endfor %}
                  </tbody>
                  </table>
                </div>
         </div>
      </div>
   </div>
</div>
							<div class="col-lg-5 col-12 mb-5 mb-lg-0">
								<div class="d-card">									
									<div class="d-card-head">
										<div class="dch-body">
											 <i class="icon far fa-comment-dollar me-3"></i>
											 <span class="ml-3"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">my previous payments</font></font></span>
										</div>
									</div>
									<div class="d-card-body">
									    
										
										
										
											<div class="table-responsive">
												<table class="table">
												  <thead class="white">
													<tr>
													  <th><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">ID</font></font></th>
													  <th><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Last update</font></font></th>
													  <th><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Subject</font></font></th>
													  <th><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Amount</font></font></th>
													</tr>
												  </thead>
													<tbody>	
													    
                                         {% for payment in lastPaymentsList %}
              <tr>
                <td>{{payment['id']}}</td>
                 <td>{{payment['created_at']}} </td>  
                <td class="width-40">{{payment['payment_method']}}</td>
                <td >{{ currency['symbol'] }}{{ (payment['amount']*currency['value']) |round(4, 'floor') }}
                </td>
                
              </tr>
            {% endfor %}   
													</tbody>
												</table>
											</div>
										
										
									        
									</div>
								</div>
							</div>
						</div>

					</section>

			</div>
		</div></div>    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>    <script type="text/javascript" src="js/main.js"></script>    <script type="text/javascript" src="js/panel/cerulean/bootstrap.js"></script>    <script type="text/javascript" src="js/panel/cerulean/main.js"></script>    <script type="text/javascript" src="js/datepicker/js/bootstrap-datepicker.min.js"></script>    <script type="text/javascript" src="js/datepicker/locales/bootstrap-datepicker.tr.min.js"></script><!--<script type="text/javascript" src="js/main.js?v=36"></script>-->


</body>
</html>


<script>
    
   $("#payment_method").on('change', function() {
       
        
       if($(this).val() == 21){
              $(".normal-payment").hide();
               $(".custom-payment-content").hide();
               $(".custom-payment-content-bkash").show();
       }
       else if($(this).val() == 34){
              $(".normal-payment").hide();
            $(".custom-payment-content-bkash").hide();
               $(".custom-payment-content").show();
       }
       else{
            $(".custom-payment-content").hide();
            $(".custom-payment-content-bkash").hide();
           $(".normal-payment").show();
       }
       
   });
</script>




<!-- start -->

<script>document.getElementById("qr").style.display = "none";


function handleOrderType(selectObject) {
var element = document.getElementById("qr");
var element2 = document.getElementById("ppqr");

if (selectObject.value == "14") {
element.style.display = "block";
element2.style.display = "none";
} else if (selectObject.value == "114") {
element.style.display = "none";
element2.style.display = "block";
} else {
element.style.display = "none";
element2.style.display = "none";
}
}
</script>

<!-- end -->


<script>
            var payment_id = $("#payment_method").val();
            $('#' + payment_id).removeClass("d-none");
            $("#payment_method").on("change", function () {
                var change_payment_id = $(this).val();
                $('.payment_content_class').addClass('d-none');
                $('#' + change_payment_id).removeClass("d-none");
            });
        </script>



{% include 'footer.twig' %}


