{% include 'header.twig' %}




        <div class="app-content">
	<div class="container-fluid">
        <div class="d-card dc-dash">
            <div class="row">
                <div class="col-lg-6 col-md-8 col-12">
                    <div class="py-3 px-5">
                        <div class="dch-title">
                            Orders History
                        </div>
                        <div class="dch-text">
                          You can see all your orders on our site here.
                        </div>
                    </div>                        
                </div>
            </div>
        </div>

        <section class="neworder">
            <div class="row">
                <div class="col-lg-12 col-12 mb-5 mb-lg-0">
                    <div class="orders-btn py-3">
                        <ul class="nav nav-pills app-ord-nav ">
                            <li class="mr-2">
                                <a {% if 'all' == status %} class="active"{% endif %} href="orders"><i class="fas fa-filter mr-1"></i>{{ lang['orders.status.all'] }}</a>
                              </li>
                              <li class="mr-2">
                                 <a {% if 'pending' == status %} class="active"{% endif %} href="orders/pending"><i class="fas fa-file-import mr-1"></i>{{ lang['orders.status.pending'] }}</a>
                              </li>
                              <li class="mr-2">
                                 <a {% if 'inprogress' == status %} class="active"{% endif %} href="orders/inprogress"><i class="fas fa-spinner mr-1"></i>{{ lang['orders.status.inprogress'] }}</a>
                              </li>
                              <li class="mr-2">
                                 <a {% if 'completed' == status %} class="active"{% endif %} href="orders/completed"><i class="far fa-check-circle mr-1"></i>{{ lang['orders.status.completed'] }}</a>
                              </li>
                              <li class="mr-2">
								 <a {% if 'partial' == status %} class="active"{% endif %} href="orders/partial"><i class="fas fa-hourglass-start mr-1"></i>{{ lang['orders.status.partial'] }}</a></li>
                              <li class="mr-2">
                                 <a {% if 'processing' == status %} class="active"{% endif %} href="orders/processing"><i class="fas fa-sort-numeric-down mr-1"></i>{{ lang['orders.status.processing'] }}</a>
                              </li>
                              <li class="mr-2">
                                 <a {% if 'canceled' == status %} class="active"{% endif %} href="orders/canceled"><i class="fas fa-ban mr-1"></i>{{ lang['orders.status.canceled'] }}</a>
                            </li>
                            <li class="pull-right search">
                                <form action="/orders" method="get" id="history-search">
                                    <div class="app-ord-search">
                                        <input type="text" name="search" value="{{ search }}" placeholder="{{ lang['smmspot.orders.search.text'] }}" class="form-control app-ord-input">
                                        <button type="submit" class="app-ord-submit">
                                            <i class="fas fa-search"></i>
                                        </button>
                                    </div>
                                </form>
                            </li>
                        </ul>
                    </div>

<div class="d-card" style="">
                        <div class="d-card-body table-responsive">
                            <table class="table app-mtable">
                                <thead>
                                    <tr class="thead-tr">
                                        
                                        <th scope="col">{{ lang['orders.id'] }}</th>
                                            <th scope="col">{{ lang['orders.date'] }}</th>
                                            <th scope="col">{{lang['neworder.url']}}</th>
                                            <th scope="col">{{lang["neworder.charge"]}}</th>
                                            <th scope="col">{{lang["orders.start.count"]}}</th>
                                            <th scope="col">{{lang["neworder.quantity"]}}</th>
                                            <th scope="col">{{lang['neworder.service']}}</th>
                                            <th scope="col">{{lang["orders.remains"]}}</th>
                                            <th scope="col">{{ lang['orders.status'] }}</th>
                                                                                       <th scope="col">Quick Actions</th>
                                        </tr> 
                                    </thead>
                                    <tbody>
                                        
                                        
                                        
                                       {% for order in orders %}
              <tr>
<td>
<span class="order_id" id="order-{{ order['id'] }}">{{ order['id'] }}</span>

                                <!-- Refill Status -->

                                     {% if order['refillButton'] %}
							 <div class="col-lg-6 col-12">
							 {% elseif order['cancelButton'] %}
							 <div class="col-lg-6 col-12">
							 {% else %}
							 <div class="col-lg-8 col-12">
							 {% endif %}
                                    
                                    <!-- Refill Status -->
                                    
                                        
{% if order['order_where'] == "api"  %}<a class="btn btn-actions">Api</a>{% endif %} </td>




                <td>
                <div class="order_date">
                                                {{ order['date'] }}
                                            </div>
                </td>
                
                
                <td>
                <div class="order_link_wrap">
                                                <a href="{{ order['link'] }}" target="_blank" class="order_link">
                                                    <span> <i class="far fa-link"></i> {{ order['link'] }}</span>
                                                </a>
                                            </div></td>
            
            
                 <td>{{ currency['symbol'] }}{{ (order['charge']*currency['value']) |round(4, 'floor') }}</td>
                <td class="nowrap">{{ order['start_count'] }}</td>
                <td>{{ order['quantity'] }}</td>
                <td>{{ order["service_id"] }}&nbsp;{{ order['service'] }}</td>
                <td>{{ order['remains'] }}</td>
                
                
                
                <td>{% if order['status'] == lang['orders.status.completed'] %}
								<div class="ordStatus align-items-center" style="background: #28a745; color:#000; border-radius: 15px; padding: 5px 15px; font-size: 12px; text-align: center;">
								   <i class="ri-checkbox-line"></i>
								   <span style="color:#000">{{order['status']}}</span>
								</div>
								{% endif %}
								
              {% if order['status'] == lang['orders.status.inprogress'] %}
								<div class="ordStatus align-items-center" style="background: #ff870b; color:#000; border-radius: 15px; padding: 5px 15px; font-size: 12px; text-align: center;">
								   <i class="ri-loader-2-line"></i>
								   <span style="color:#000">{{order['status']}}</span>
								</div>
								{% endif %}
                
                {% if order['status'] == lang['orders.status.pending'] %}
								<div class="ordStatus align-items-center" style="background: #ffcc29; color:#000; border-radius: 15px; padding: 5px 15px; font-size: 12px; text-align: center;">
								   <i class="ri-file-damage-line"></i>
								   <span style="color:#000">{{order['status']}}</span>
								</div>
								{% endif %}
								
								{% if order['status'] == lang['orders.status.partial'] %}
								<div class="ordStatus align-items-center" style="background: #11698e; color:#000; border-radius: 15px; padding: 5px 15px; font-size: 12px; text-align: center;">
								   <i class="ri-star-half-line"></i>
								   <span style="color:#000">{{order['status']}}</span>
								</div>
								{% endif %}
								
									{% if order['status'] == lang['orders.status.processing'] %}
								<div class="ordStatus align-items-center" style="background: #61c0bf; color:#000; border-radius: 15px; padding: 5px 15px; font-size: 12px; text-align: center;">
								   <i class="ri-remote-control-line"></i>
								   <span style="color:#000">{{order['status']}}</span>
								</div>
								{% endif %}
								
								
									{% if order['status'] == lang['orders.status.canceled'] %}
								<div class="ordStatus align-items-center" style="background: #ec4646; color:#000; border-radius: 15px; padding: 5px 15px; font-size: 12px; text-align: center;">
								   <i class="ri-qr-scan-line"></i>
								   <span style="color:#000">{{order['status']}}</span>
								</div>
								{% endif %}
								
								</td>
                
                
                
<td>
 {% if order['refillButton'] %}
								<div class="col-lg-2 col-12 text-lg-right">
									   <div class="order-actions">
										<a href="/orders/refill/{{ order['id'] }}" class="btn btn-xs btn-primary">{{ lang['orders.button.refill'] }}</a>
									   </div>  
								</div>
							  {% elseif order['cancelButton'] %}
							   <div class="order-actions">
								<a href="/orders/cancel/{{ order['id'] }}" class="btn btn-xs btn-danger">{{ lang['orders.button.cancel'] }}</a> 
							   </div> 
							  {% endif %} 
							  
							  </td>
                 
                 
                 
                 
                 
              </tr>
            {% endfor %}

          </tbody>
        </table>
      </div>

      {% if pagination["count"] > 1 %}
        <ul class="pagination">

          {% if pagination["current"] != 1 %}
            <li>
              <a class="btn btn-actions" href="orders/{{ status }}/{{ pagination["previous"] }}{% if search %}?search={{ search }}{% endif %}" aria-label="Previous">
                <span aria-hidden="true">«</span>
              </a>
            </li>
          {% endif %}

          {% set r, l = 3, 3 %}

          {% if pagination['current'] == 1 %}
            {% set r = 7 %}
          {% endif %}

          {% if pagination['current'] == 2 %}
            {% set r = 5 %}
          {% endif %}

          {% if pagination['current'] >= pagination['count'] %}
            {% set l = 5 %}
          {% endif %}

          {% for page in 1..pagination["count"] %}
            {% if page >= (pagination['current']-l) and page <= (pagination['current']+r) %}
              <li{% if page == pagination['current'] %} class="active" {%endif%}><a class="btn btn-actions" 
 href="orders/{{ status }}/{{ page }}{% if search %}?search={{ search }}{% endif %}">{{ page }}</a></li>
            {%endif%}
          {% endfor %}

          {% if pagination['current'] < pagination['count'] %}
            <li>
              <a class="btn btn-actions" href="orders/{{ status }}/{{ pagination['next'] }}{% if search %}?search={{ search }}{% endif %}" aria-label="Next">
                <span aria-hidden="true">»</span>
              </a>
            </li>
          {% endif %}

        </ul>
      {% endif %}

    </div>
                    </div>
                   </div>
               </div>
            </div>
        </div>
    </div>
</section>

 {% include 'footer.twig' %}