{% include 'header.twig' %}


{% if user['auth'] %}

{% else %}
	<style>
		@media (max-width: 991.98px) {
			.main-top {padding: 70px 0 40px 0!important}
		}
        .lgn-btn {display: none!important}
      
      	@media (min-width: 1199.98px) {
      		.main-top { padding: 400px 0 40px 0}
      		.app-content { margin-top: -300px }
      	}
	</style>
	
    <div class="main-top">
        <div class="main-top-bg"></div>
	</div>
{% endif %}


<!-- Main variables *content* -->
          
<div class="app-content">
                <div class="container-fluid">
        			   <div class="d-card dc-dash">
                    <div class="row">
                        <div class="col-lg-6 col-md-8 col-12">
                            <div class="py-3 px-5">
                                <div class="dch-title"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Services
                                </font></font></div>
                                <div class="dch-text"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">All social media services in one place
                                </font></font></div>
                            </div>                        
                        </div>
                    </div>
                </div>

                  
                  
                  
           <div class="row">
							<div class="col-lg-12 col-12 mb-5 mb-lg-0">
								<div class="d-card">
									<div class="d-card-body" id="dc-body">
					
                              <div class="app-search">
										<input type="text" id="serv-inp" class="app-input" placeholder="search..">
										<button type="submit" class="app-ord-submit">
											   <i class="fas fa-search"></i>
										</button>
									</div>	
            <table id="serv-table" class="table app-mtable">                 
                
                
                    
                    
                <thead>
                    {% for category in serviceCategory %}
                    <tr class="catetitle">
				<td colspan="8"><strong><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">{{ category["category_name"] }}</font></font></strong></td>
											</tr>
											<tr class="thead-tr">
											    <th class="width-service-name">Id</th>
                     <th class="width-service-name">Service</th>
                     <th class="nowrap">Rate per 1000</th>
                     <th class="nowrap">min/max</th>                     <th class="nowrap">Average time <i class="fa fa-exclamation-circle"></i></th>                     <th class="nowrap t-r">Description</th>
                     	</tr>
                </thead>
                <tbody>            
                
                
                {% for service in category['services'] %}
                <tr class="service serviceData" data-category="{{ category["category_name"] }}">
                        </tr>
                        
                        
                        <tr class="app-block">
                            <td class="app-col" data-title="Service Id">#{{ service["service_id"] }} - </td>
                            
                            
                          <td data-title="Service" class="app-col">{{ service["service_name"] }}</td>
                        <td data-title="Rate per 1000" class="app-col">{{ currency["symbol"]  }}  {{ service['service_price'] *currency["value"]   }}</td>
                        
                        <td data-title="min/max" class="app-col">
                            <span class="text-danger">{{ service['service_min'] }}</span> - <span class="text-success">{{ service['service_max'] }}</span>
                            
                           </td>                        <td data-title="Average time " class="app-col">{{ service["time"] }}</td>         
                           
                           
                           
                          
                                            
                                            
                                            <!-- pop up-->
									
                                              <td data-title="Description" class="app-col">
                               
												<a type="button" class="desc-btn" data-toggle="modal" data-target="#serModal{{ service['service_id'] }}"><i class="far fa-bars"></i></a>
												<!-- Modal -->
												<div class="modal fade" id="serModal{{ service['service_id'] }}">
													<div class="modal-dialog">
														<div class="modal-content">
															<div class="modal-header">
																<h4 class="modal-title"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">{{ service['service_id'] }} - {{ service["service_name"] }}</font></font></h4>
															</div>
															<div class="modal-body"> {{ service["service_description"] }} </div>
															<div class="modal-footer">
                                                         <!--  <a href="" class="cart-shopping">
    <i class="far fa-cart-shopping"></i>
                  </a>              -->                               
																<button type="button" class="btn btn-danger" data-dismiss="modal"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Close</font></font></button>
															</div>
														</div>
													</div>
												</div> 
											  </td>
                        	
                    </tr>
              
											{% endfor %}					
										</tbody>
										
									{% endfor%}	
										
									</table>

        </div>
    </div>
</div>
    
    

<script>


function ikon(opt) {
    var ikon = "";
    if (opt.indexOf("Instagram") >= 0) {
        ikon = "<span class=\"fs-ig\"><i class=\"fab fa-instagram\" aria-hidden=\"true\"></i> </span>";
    } else if (opt.indexOf("YouTube") >= 0) {
        ikon = "<span class=\"fs-yt\"><i class=\"fab fa-youtube\" aria-hidden=\"true\"></i> </span>";
    } else if (opt.indexOf("Facebook") >= 0) {
        ikon = "<span class=\"fs-fb\"><i class=\"fab fa-facebook-square\" aria-hidden=\"true\"></i> </span>";
    } else if (opt.indexOf("Youtube") >= 0) {
        ikon = "<span class=\"fs-yt\"><i class=\"fab fa-youtube\" aria-hidden=\"true\"></i> </span>";
    } else if (opt.indexOf("Twitter") >= 0) {
        ikon = "<span class=\"fs-tw\"><i class=\"fab fa-twitter\" aria-hidden=\"true\"></i> </span>";
    } else if (opt.indexOf("Google") >= 0) {
        ikon = "<span class=\"fs-gp\"><i class=\"fab fa-google-plus\" aria-hidden=\"true\"></i> </span>";
    } else if (opt.indexOf("Swarm") >= 0) {
        ikon = "<span class=\"fs-fsq\"><i class=\"fab fa-forumbee\" aria-hidden=\"true\"></i> </span>";
    } else if (opt.indexOf("Dailymotion") >= 0) {
        ikon = "<span class=\"fs-dm\"><i class=\"fab fa-hospital-o\" aria-hidden=\"true\"></i> </span>";
    } else if (opt.indexOf("Periscope") >= 0) {
        ikon = "<span class=\"fs-pc\"><i class=\"fab fa-map-marker\" aria-hidden=\"true\"></i> </span>";
    } else if (opt.indexOf("Soundcloud") >= 0) {
        ikon = "<span class=\"fs-sc\"><i class=\"fab fa-soundcloud\" aria-hidden=\"true\"></i> </span>";
    } else if (opt.indexOf("Vine") >= 0) {
        ikon = "<span class=\"fs-vn\"><i class=\"fab fa-vine\" aria-hidden=\"true\"></i> </span>";
    } else if (opt.indexOf("Spotify") >= 0) {
        ikon = "<span class=\"fs-sp\"><i class=\"fab fa-spotify\" aria-hidden=\"true\"></i> </span>";
    } else if (opt.indexOf("Snapchat") >= 0) {
        ikon = "<span class=\"fs-snap\"><i class=\"fab fa-snapchat-square\" aria-hidden=\"true\"></i> </span>";
    } else if (opt.indexOf("Pinterest") >= 0) {
        ikon = "<span class=\"fs-pt\"><i class=\"fab fa-pinterest-p\" aria-hidden=\"true\"></i> </span>";
    } else if (opt.indexOf("iTunes") >= 0) {
        ikon = "<span class=\"fs-apple\"><i class=\"fab fa-apple\" aria-hidden=\"true\"></i> </span>";
    } else if (opt.indexOf("Müzik") >= 0) {
        ikon = "<span class=\"fs-music\"><i class=\"fab fa-music\" aria-hidden=\"true\"></i> </span>";
    } else if (opt.indexOf("Vimeo") >= 0) {
        ikon = "<span class=\"fs-videmo\"><i class=\"fab fa-vimeo\" aria-hidden=\"true\"></i> </span>";
    } else if (opt.indexOf("Ekşi") >= 0) {
        ikon = "<span class=\"fs-eksi\"><i class=\"fab fa-tint\" aria-hidden=\"true\"></i> </span>";
    } else if (opt.indexOf("Telegram") >= 0) {
        ikon = "<span class=\"fs-telegram\"><i class=\"fab fa-telegram\" aria-hidden=\"true\"></i> </span>";
    } else if (opt.indexOf("Twitch") >= 0) {
        ikon = "<span class=\"fs-twc\"><i class=\"fab fa-twitch\" aria-hidden=\"true\"></i> </span>";
    } else if (opt.indexOf("Zomato") >= 0) {
        ikon = "<span class=\"fs-zom\"><i class=\"fab fa-cutlery\" aria-hidden=\"true\"></i> </span>";
	} else if (opt.indexOf("Amazon") >= 0) {
        ikon = "<span class=\"fs-amaz\"><i class=\"fab fa-amazon\" aria-hidden=\"true\"></i> </span>";
	} else if (opt.indexOf("Tumblr") >= 0) {
        ikon = "<span class=\"fs-tumb\"><i class=\"fab fa-tumblr-square\" aria-hidden=\"true\"></i> </span>";
	} else if (opt.indexOf("Yandex") >= 0) {
        ikon = "<span class=\"fs-yndx\"><i class=\"fab fa-yoast\" aria-hidden=\"true\"></i> </span>";
	} else if (opt.indexOf("Linkedin") >= 0) {
        ikon = "<span class=\"fs-lnk\"><i class=\"fab fa-linkedin\" aria-hidden=\"true\"></i> </span>";
	} else if (opt.indexOf("Yahoo") >= 0) {
        ikon = "<span class=\"fs-yahoo\"><i class=\"fab fa-yahoo\" aria-hidden=\"true\"></i> </span>";
    } else if (opt.indexOf("TikTok") >= 0) {
        ikon = "<span class=\"fs-tiktok\"><i class=\"fa fa-music\" aria-hidden=\"true\"></i> </span>";
    } else {
        ikon = "<span class=\"\"><i class=\"far fa-star\" aria-hidden=\"true\"></i> </span>  ";
    }
    return ikon;
}
  
$(document).ready(function() {

	$(".pm-ikon").each(function() {
				var ico = ikon($(this).text());
				$(this).html(ico + $(this).text() );
				console.log($(this).text());
		});	
});











 var categories = {{categories|json_encode()}};
  
  
  
  
setTimeout(function () {
                $('#neworder_services').trigger('change');
                $('.btn_cat_filter').on('click', function() {
                  
                    category = $(this).data('id');
                    
                     var category_2 = null;
                    if(category == 'instagram'){
                            category_2 = "انستغرام";
                    }
                    if(category == 'facebook'){
                            category_2 = "فايسبوك";
                    }
                    if(category == 'youtube'){
                            category_2 = "يوتيوب";
                    }
                    if(category == 'twitter'){
                            category_2 = "تويتر";
                    }
                    if(category == 'tiktok'){
                            category_2 = "تيك توك";
                    }
                    if(category == 'telegram'){
                            category_2 = "تلغرام";
                    }
                    
                    
                    $('#neworder_category').html("");
                    categories.forEach(element => {
                        if (category == "everything") {
                            $('#neworder_category').append("<option value='" + element.category_id + "'>" + element.category_name + "</option>");
                        } else if (category == "other") {
                            if (!element.category_name.toLowerCase().includes("instagram") &&
                                !element.category_name.toLowerCase().includes("facebook") &&
                                !element.category_name.toLowerCase().includes("youtube") &&
                                !element.category_name.toLowerCase().includes("twitter") &&
                                !element.category_name.toLowerCase().includes("tiktok") &&
                                !element.category_name.toLowerCase().includes("telegram")) {
                                $('#neworder_category').append("<option value='" + element.category_id + "'>" + element.category_name + "</option>");
                            }
                        } else if (element.category_name.toLowerCase().includes(category) || element.category_name.toLowerCase().includes(category_2)) {
                            $('#neworder_category').append("<option value='" + element.category_id + "'>" + element.category_name + "</option>");
                        }
                    });
                    $('#neworder_category').trigger('change');
                    setTimeout(function(){
                        $(".smmspot-sb-dd-item").each(function() {
                            var ico = ikon($(this).text());
                            $(this).html(ico + $(this).text() );
                            console.log($(this).text());
                        });
                    }, 500);
                    setTimeout(function(){
                        $(".smmspot-sb-selected").each(function() {
                            var ico = ikon($(this).text());
                            $(this).html(ico + $(this).text() );
                            console.log($(this).text());
                        });
                    }, 500);
                });
            
        }, 400);




</script>
<script>
      function filterService(category) {
        if (category == 'All')
          $('tbody tr.hidden').removeClass('hidden');
        else {
          $('tbody tr').addClass('hidden');
          $('tbody tr[data-category="' + category + '"]').removeClass('hidden');
        }
        removeEmptyCategory();
      }

      function removeEmptyCategory() {
        $('.services-header').each(function () {
            var next = $(this).next();
            var services = $(this).nextUntil('.services-header');
            var empty = true;
            services.each(function() {
              if (!$(this).hasClass('hidden')) empty = false;
            });
            if (empty) $(this).addClass('hidden');
        })
      }
</script>



{% include 'footer.twig' %}