{% include 'header.twig' %}




<div class="wrapper-content">
                <div class="wrapper-content__header"></div>
                <div class="wrapper-content__body">
                    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.17/dist/css/bootstrap-select.min.css">
<style>
    div#description.form-control {
        height: max-content;
    }  
    .each-note {
        border: 1px dashed  rgb(245, 234, 234);
        margin: 2px;
        border-radius: 5px;
        padding: 10px 5px;
    }

    .each-note .title {
        display: inline-block;
    }
    .each-note .badge {
        float: right
    }
    .each-note .news-type-list-item {
        padding: 10px 0px;
    }
    .aside {
        flex: 1 1 25%;
    }
    .each-note i{
        margin-right: 5px;
    }
    .each-note a{
        font-size: large
    }
    .each-note  img {
        max-width: 100%
    }
    div#contact .social-links>a {
        font-size: 24px;
        margin: 5px;
    }    
    .ordersel .dropdown-menu {
        max-height: 400px;
    }

    #order-form {
        max-width: 80vw;
        margin: auto;
    }
    .bootstrap-select .filter-option {
        white-space: normal;
    }
</style>
 
<div id="block_19">
    <div class="ticket-form">
        <div class="bg"></div>
        <div class="divider-top"></div>
        <div class="divider-bottom"></div>
        <div class="container-fluid">
            <div class="row px-lg-4 ticket-dialog__alignment">
                  <div class="col-lg-12">
                     <div class="component_content_card component_content_button component_content_headers">
                      {% if contentText %}     <div class="card">
                              <div class="new-order__content-text">
                                  
                                  	
					
					
 
{{ contentText }}

                                  
                              <!--   <h1 style="text-align: center;"><strong><img src="https://images.irscdn.icu/js/nicedit/upload/26267171117017068keralafollow.gif" alt="" width="150" height="150" /></strong></h1>
<h1 style="text-align: center;">&nbsp;</h1>
<h2 style="text-align: center;"><em>Welcome To Favorite SMM</em></h2>
<h2 style="text-align: center;"><strong><img src="https://images.irscdn.icu/js/nicedit/upload/14081361061012450180coollogo_com-7344148.gif" alt="" width="254" height="23" /></strong></h2>
<p><strong><img style="display: block; margin-left: auto; margin-right: auto;" src="https://images.irscdn.icu/js/nicedit/upload/13758135220230327_103131.jpg" alt="" width="300" height="60" />&nbsp;</strong></p>
<p>&nbsp;</p>
<h4 style="text-align: center;"><span style="font-family: 'book antiqua', palatino, serif;">Any Query Please 
<a href="https://api.whatsapp.com/send?phone=+916387853827&amp;text=hi">Contact on WhatsApp</a></span>&nbsp;</h4> -->
                         
                         
                              </div>
                           </div>{% endif %}
                     </div>
                  </div>
            </div>
        </div>
    </div>
</div> 
   
<div id="block_16">
    <div class="new_order-block">
        <div class="bg"></div>
        <div class="divider-top"></div>
        <div class="divider-bottom"></div>
        <div class="container-fluid">
            <div class="row mt-3">
                <div class="col-lg-7 mb-3 mb-lg-0">
                    <div class="component_form_group component_card component_radio_button">
                        <div class="component_status_tabs mb-3">
                            <div class="">
                                <ul class="nav nav-pills tab">
                                    <li class="nav-item">
                                        <a class="nav-link active" data-toggle="tab" href="#new-order" onclick="toggleTab('Normal',false)">🛍️ New Order</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link "  href="/massorder">⚖️ Mass Order</a>
                                    </li>
                                    <li class="nav-item lastLi" style="margin-left: auto;"><span readonly class="nav-link fixedOne" id="infoLi">💰 Balance : {{ currency["symbol"]  }} {{ (user["balance"]*currency["value"]) |round(2, 'floor') }}</span></li>
                                </ul>
                            </div>
                        </div>
                        <div class="card">
                                                        <div class="tab-content">
                                <div id="new-order" class="tab-pane in active">
                                    <div class="alert alert-success" role="alert" id="order-alert" style="margin: 5px;display:none">
                                        <button type="button" class="close" id="order-alert-close" aria-hidden="true">⨉</button>
                                        <legend id="al-title">Your</legend>
                                        <h6 id="al-id-row"><strong>ID: </strong> <span id="al-id"></span></h6>
                                        <h6 id="al-service-row"><strong> 📦 Services: </strong> <span id="al-service"></span></h6>
                                        <h6 id="al-link-row"><strong>🔗 Link: </strong> <span id="al-link"></span></h6>
                                        <h6 id="al-qty-row"><strong>⌛ Quantity: </strong> <span id="al-qty"></span></h6>
                                        <h6 id="al-runs-row"><strong>0-10 Minutes: </strong> <span id="al-runs"></span></h6>
                                        <h6 id="al-price-row"><strong>💰 Charge</strong> <span id="al-price"></span></h6>
                                        <h6 id="al-disc-row"><strong>Cashback Earned </strong> <span id="al-disc"></span></h6>
                                        <h6 id="al-bal-row"><strong>💰 Balance : </strong> <span id="al-bal"></span></h6>
                                    </div>
                                    <form action="/" method="post" id="order-form">
                                       
                                       
                                        {% if error %}
                     <div class="alert alert-dismissible alert-danger">
                        {{ errorText }}
                     </div>
                     {% endif %}
                     {% if data["order"]["success"] == 1 %}
                     <div class="alert alert-dismissible alert-success">
                        <strong> {{ lang["neworder.success.id"] }}: </strong> {{ data['order']['id'] }} <br>
                        <strong> {{ lang["neworder.success.service"] }}: </strong> {{ data['order']['service'] }} <br>
                        <strong> {{ lang["neworder.success.link"] }}: </strong> {{ data['order']['link'] }} <br>
                        <strong> {{ lang["neworder.success.quantity"] }}: </strong> {{ data['order']['quantity'] }} <br>
                        <strong> {{ lang["neworder.success.link"] }}: </strong> {{ data['order']['price'] }} <br>
                        <strong> {{ lang["neworder.success.balance"] }}: </strong>{{ data['order']['balance'] }} <br>
                     </div>
                     {% endif %}
                     {% if data["order"]["success"] == 2 %}
                     <div class="alert alert-dismissible alert-success">
                        <strong> {{ lang["neworder.success.id"] }}: </strong> {{ data['order']['id'] }} <br>
                        <strong> {{ lang["neworder.success.service"] }}: </strong> {{ data['order']['service'] }} <br>
                        <strong> {{ lang["neworder.success.username"] }}: </strong> {{ data['order']['link'] }} <br>
                        <strong> {{ lang["neworder.success.quantity"] }}: </strong> {{ data['order']['min'] }} - {{ data['order']['max'] }} <br>
                        <strong> {{ lang["neworder.success.posts"] }}: </strong> {{ data['order']['posts'] }} <br>
                        <strong> {{ lang["neworder.success.delay"] }}: </strong>{{ data['order']['delay'] }} <br>
                     </div>
                     {% endif %}
                     
                     
                                        <fieldset class="scheduler-border">
                                            <div class="form-group">
                                                <label for="service_id" class="control-label">🔰 Category </label>
                                               <select
                          class="form-control"
                          id="neworder_category"
                          name="categories"
                          data-select="true"
                          data-select-search="true"
                          data-select-search-placeholder="Search" style="display: none">

               
                  {% for category in categories %}
                  <option {% if category['category_id'] == data["categories"] %} selected {% endif %} value="{{ category['category_id'] }}" ><i class="{{ category["icon"] }}"></i>{{ category["category_name"] }}</option>
                  {% endfor %}
                </select>

                <div class="dropdown">
                  <button class="form-control text-left" type="button" id="dropdownMenu3" data-toggle="dropdown" aria-haspopup="false" aria-expanded="false">
                    <span id="categoryTitle"></span>
                    <i class="fas fa-chevron-down float-right" aria-hidden="true"></i>
                  </button>
                  <div class="dropdown-menu" aria-labelledby="dropdownMenu2" id="category-drop">
                  </div>
                </div>
            </div>
            
            
                                            <div class="form-group">
                                                <label for="package_id" class="control-label"> 📦 Services</label>
                                                 <select class="form-control" id="neworder_services" name="services" style="display: none;"> </select>

											<div class="dropdown">
												<button class="form-control text-left" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="false" aria-expanded="false">
													<span id="serviceTitle"></span>
													<i class="fa fa-caret-down float-right" aria-hidden="true"></i>
												</button>
												<div class="dropdown-menu" aria-labelledby="dropdownMenu2" id="orders-drop">

												</div>
											</div>
                                       </div>
                                       
                                       
                                       
                                          <div id="neworder_fields"></div>
                                            
                                            
                                            
                                            
                                            
                                            
                                            <div class="form-group">
                                                <label for="charge" class="control-label"><i class="mdi mdi-currency-inr"></i> 💰 Charge</label>
                                                 <input type="text" class="form-control" id="charge" value="" readonly>
                                                <p id="not-enough-funds" style="display:none;color:red">💸 I am having an out of money experience.... Not enough funds on balance</p>
                                            </div>
                                                                                      
                                                                                       {% if neworderTerms %}
                        <div class="checkbox">
                           <label>
                           <input type="checkbox" name="neworder_check">{{ lang['neworder.recheck'] }}
                           </label>
                        </div>
                        {% endif %}
					
					
                                            <div class="form-group">
                                                <button type="submit" id="btn-proceed" onclick="sendOrder()" class="btn btn-primary">📝 Place Order</button>
                                            </div>
                                        </fieldset>
                                    </form>
                                </div>
                                
                                <!-- end -->
                                
                             <!--   <div id="mass" class="tab-pane fade">
                                   
                                   
                                        <fieldset class="scheduler-border">
                                            <div class="form-group">
                                            <label for="links" class="control-label">One order per line in format</label>
                                            </div>
                                            <div class="form-group">
                                                <textarea
                                                        name="content"
                                                        id="content"
                                                        data-validation="required"
                                                        placeholder="package_id|quantity|link"
                                                        style="min-height: 350px; resize: vertical;"
                                                        class="form-control"></textarea>
                                            </div>
                                            <div class="form-group">
                                                <button type="submit" class="btn btn-primary">📝 Place Order</button>
                                            </div>
                                        </fieldset>
                                    </form>
                                </div> -->
                            </div>
                        </div>
                        
                        <br>
                         
                      <!--      <div class="component_content_card component_content_button component_content_headers mt-3">
                                <div class="card">
                                    <div class="new-order__content-text">
                                        <div class="card">
<div class="new-order__content-text">
<pre style="text-align: left;"><em><strong><span style="font-family: 'comic sans ms', sans-serif;">How To Use <u>Favorite SMM </u></span></strong></em></pre>
<div style="padding-bottom: 56.25%; max-width: 100%; position: relative;"><iframe style="position: absolute; top: 0px; left: 0px; width: 100%; height: 100%;" src="https://www.youtube.com/embed/H5mzdAT-3Ic?autoplay=1&amp;loop=1" width="800" height="450" frameborder="0"></iframe></div>
<pre style="text-align: center;"><em><span style="text-decoration: underline; font-family: 'arial black', sans-serif;"><strong>How To Change Currency</strong></span></em></pre>
<ul>
<li style="text-align: left;">
<h6><strong>➟ Click One 3 Dot Button&nbsp;</strong></h6>
</li>
<li style="text-align: left;">
<h6><strong>➟ Check Change Currency</strong></h6>
</li>
<li style="text-align: left;">
<h6><strong>➟ Change Currency 💲</strong></h6>
</li>
</ul>
</div>
</div>
                                    </div>
                                </div>
                            </div> -->
                         
                    </div>
                </div>
                <style>
                    .component_status_tabs.mb-3 .nav-link.active .fa {
                      color: grey;
                    }
                    .new-order__content-text #contact .fa {
                      color: #0074ff;
                    }
                </style>
                <div class="col-lg-5">
                    <div class="component_content_card component_content_button component_content_headers">
                        <div class="component_status_tabs mb-3">
                            <div class="">
                                <ul class="nav nav-pills tab">
                                    <li class="nav-item">
                                        <a class="nav-link active" data-toggle="tab" href="#news"><i class="fa fa-fw fad fa-newspaper mr-2"></i> Announcements</a>
                                    </li>
                                   <!-- <li class="nav-item">
                                        <a class="nav-link" data-toggle="tab" href="#contact"><i class="fa fa-fw fad fa-life-ring mr-2"></i> Contact Us</a>
                                    </li> -->
                                </ul>
                            </div>
                        </div>
                        
                        
                        <div class="card">
                            <table class="table">
<thead>
<tr>

<th>Title</th>
<th class="width-service-name">Content</th>

<th class="nowrap">Date</th>


</tr>
</thead>
<tbody>
{% for new in newsList %}

<tr>

<td> <img width="30" class="mr-1" src="/img/icons/{{ new['news_icon'] }}.png">{{ new['news_title'] }} </td>
<td>
{{ new['news_content'] }}
</td>
<td>{{ new['news_date'] }}</td>

</tr>{% endfor %}
</tbody>
</table>
                                                 <!--   <div class="card">
                                <h4 class="new-order__content-title">
                                    <i class="fa fa-video"></i> How To Use
                                </h4>
                                <div class="new-order__content-text" style="max-height: 400px;">
                                    <iframe width="100%" height="200vh" src="https://www.youtube.com/embed/" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen=""></iframe>
                                </div>
                            </div> -->
                                            </div>
                </div>
            </div>
        </div>
    </div>
</div>
                </div>
                <div class="wrapper-content__footer">
                </div>
            </div>
        </div>
             
{% include 'footer.twig' %}





