{% include 'header.twig' %}

<main class="app-main">

	{% if khalti_code %}

		{{khalti_code}}

	{% endif %}

	<div class="page-content">
		<div class="container-fluid">

			<div class="hp-bbox mt-5 mb-5">
				<div class="row">
					<div class="col-lg-6">
						<div class="hpbb-body">
							<h2 class="hp-title">{{ lang['smmspot.addfunds.title'] }}</h2>
							<p class="hpbb-text">
								{{ lang['smmspot.addfunds.text'] }}
							</p>
						</div>
					</div>
				</div>
			</div>
			{% if success %}
				<div class="alert alert-dismissible alert-success">
					{{ successText }}
				</div>
			{% endif %}

			{% if error %}
				<div class="alert alert-dismissible alert-danger">
					{{ errorText }}
				</div>
			{% endif %}
			<div class="row mt-2">
				{% if paymentsList %}
					<div class="col-lg-12">
						<div class="card mb-5">
							<div class="py-4 px-lg-3 px-4">

								<div class="t-head th-3">
									<div class="d-flex align-items-center">
										<div class="col-lg-2">
											<div class="t-icon">
												<i class="fal fa-credit-card-front"></i>
											</div>
										</div>
										<div class="col-lg-10 col-12">
											<h2>{{ lang['smmspot.addfunds.payment.method.title'] }}</h2>
											<p>{{ lang['smmspot.addfunds.payment.method.text'] }}</p>
										</div>
									</div>
								</div>

								<form method="post" action="addfunds">


									<div class="fga form-group mb-4">
										<label class="fla" for="orderCategory">{{ lang['addfunds.method'] }}</label>
										<div class="fg">
											<div class="fg-icon">
												<i class="far fa-list"></i>
											</div>
											<select id="method" name="payment_type" class="form-control fg-control" data-toggle="ssp-selectbox" data-class="fg-control">
												{% for payment in paymentsList %}
													<option value="{{ payment['id'] }}" {% if data['payment_type'] == payment['id'] %} selected {% endif %}>{{ payment['method_name'] }}</option>
												{% endfor %}
											</select>
										</div>
										<small id="small_lemon" class="from-text text-muted" style="display: block;">
											<i class="far fa-donate"></i>
										</small>
									</div>

									<div class="fga mb-4 custom-payment-content" style="display:none">
										<label class="fla" for="amount">Instructions:</label>
										<br>
										<p>

											{% for payment in paymentsList %}
												{% if payment['id'] == 21 %}
													{{ payment['content'] }}
												{% endif %}
											{% endfor %}

										</p>
									</div>


									<div class="fga mb-4 normal-payment">
										<label class="fla" for="amount">{{ lang['smmspot.addfunds.payment.telephone.title'] }}</label>
										<div class="fg">
											<div class="fg-icon">
												<i class="far fa-phone"></i>
											</div>
											<input type="number" class="fg-control">
										</div>
									</div>

									<div class="fga mb-4 normal-payment">
										<label class="fla" for="amount">{{ lang['addfunds.amount'] }}
											&nbsp;&nbsp;
											{{currency['symbol']}}
										</label>
										<div class="fg">
											<div class="fg-icon">
												<i class="far fa-coin"></i>
											</div>
											<input class="fg-control" name="payment_amount" id="amount" value="{{ data['payment_amount'] }}">
										</div>
									</div>

									<div class="row">
										<div class="col-md-6 col-12 mb-4 mb-mb-0 normal-payment">
											<button type="submit" class="btn btn-primary btn-block">
												{{ lang['smmspot.addfunds.payment.submit.button'] }}
											</button>
										</div>
										<div class="col-md-6 col-12 mb-4 mb-mb-0">
											<a href="/tickets" class="btn btn-dark btn-block">
												{{ lang['smmspot.addfunds.tickets.button'] }}
											</a>
										</div>
									</div>
								</form>
							</div>
						</div>
						<!-- card -->
					</div>
					<!-- col -->
				{% endif %}


				{# <div class="col-md-6">

					<div class="g-card mb-3 mt-3 mt-md-1 h-100">
						<div class="card">
							<form method="post" action="addfunds">
								<center><img width="70%" src="{{ PaytmQRimage }}"></center>
								<div class="form-group col-md-12">
									<label for="method" class="control-label">Amount</label>
									<input class="form-control" name="payment_amount" value="{{ data['payment_amount'] }}">
								</div>
								<div class="form-group col-md-12">
									<label for="method" class="control-label">Order ID</label>
									<p>Enter Transaction/Order ID without spaces. Example - 202010122210100058</p>
									<input class="form-control" name="paytmqr_orderid" value="{{ data['paytmqr_orderid'] }}">
								</div>
								<input type="hidden" class="form-control" name="payment_type" value="14">
								<div class="col-md-12">
									<button type="submit" class="w-100 btn btn-primary">Submit</button>
								</div>
							</div>
						</div>
					</div>


					<div class="col-lg-6">
						<div class="card">
							<div class="py-4 px-lg-3 px-4">

								<div class="t-head th-3">
									<div class="d-flex align-items-center">
										<div class="col-lg-2">
											<div class="t-icon">
												<i class="fal fa-receipt"></i>
											</div>
										</div>
										<div class="col-lg-10 col-12">
											<h2>
												{{ lang['smmspot.addfunds.last_payments'] }}
											</h2>
											<p>{{ lang['smmspot.addfunds.last_payments_desc'] }}</p>
										</div>
									</div>
								</div>

								<div class="old-payments">

									{% for payment in lastPaymentsList %}


										<div class="card mb-3">
											<div class="py-4 px-lg-3 px-4">
												<div class="row">
													<div class="col-lg-3 col-6">
														<h4 class="op-title">Payment No</h4>
														<div class="op-id">{{payment['id']}}</div>
													</div>
													<div class="col-lg-6 col-6">
														<h4 class="op-title">
															<span>{{payment['payment_method']}}</span>
														</h4>
														<div class="op-date">{{payment['created_at']}}1</div>
													</div>
													<div class="col-lg-3 col-12">
														<div style="font-size:12px" class="op-status">
															{{ currency["symbol"]  }}
															{{(payment['amount'] *currency["value"])|number_format(2) }}</div>
													</div>
												</div>
											</div>
										</div>


									{% endfor %}


								</div>


							</div>
						</div>
					</div>

					{% if bankPayment == 2 %}
						<div class="col-lg-6">
							<div class="card">
								<div class="py-4 px-lg-3 px-4">

									<div class="t-head th-3">
										<div class="d-flex align-items-center">
											<div class="col-lg-2">
												<div class="t-icon">
													<i class="fas fa-wallet"></i>
												</div>
											</div>
											<div class="col-lg-10 col-12">
												<h2>{{ lang['smmspot.addfunds.payment.notifaction.title'] }}</h2>
												<p>{{ lang['smmspot.addfunds.payment.notifaction.text'] }}</p>
											</div>
										</div>
									</div>


									<form method="post" action="addfunds" enctype="multipart/form-data">


										<div class="fga form-group mb-4">
											<label class="fla" style="font-size: 14px;" for="orderCategory">{{ lang['addfunds.bank'] }}</label>
											<div class="fg">
												<div class="fg-icon">
													<i class="far fa-list"></i>
												</div>
												<select id="bank_account" class="form-control fg-control" name="payment_bank" data-toggle="ssp-selectbox" data-class="fg-control">
													{% for bank in bankList %}
														<option value="{{ bank['id'] }}" {% if data['payment_bank'] == payment['id'] %} selected {% endif %}>{{ bank['bank_name'] }}</option>
													{% endfor %}
												</select>
											</div>
										</div>

										<div class="fga mb-4">
											<label class="fla" for="namesss">{{ lang['addfunds.bank.sender'] }}</label>
											<div class="fg">
												<div class="fg-icon">
													<i class="fas fa-user-circle"></i>
												</div>
												<input type="text" class="fg-control" name="payment_gonderen" value="{{ data['payment_gonderen'] }}" required id="namesss">
											</div>
										</div>

										<div class="fga mb-4">
											<label class="fla" for="amount">{{ lang['addfunds.bank.amount'] }}</label>
											<div class="fg">
												<div class="fg-icon">
													<i class="far fa-coin"></i>
												</div>
												<input type="number" class="fg-control" name="payment_bank_amount" value="{{ data['payment_bank_amount'] }}" required id="amount">
											</div>
										</div>


										<div class="fga mb-4">
											<label class="fla" for="payment_bank_image">{{ lang['addfunds.bank.payment_bank_image'] }}</label>
											<div class="fg">
												<div class="fg-icon">
													<i class="far fa-image"></i>
												</div>
												<input type="file" class="fg-control" name="payment_bank_image" required id="payment_bank_image">
											</div>
										</div>

										<div class="row">
											<div class="col-md-12 col-12 mb-4 mb-mb-0">
												<button type="submit" class="btn btn-primary btn-block">
													{{ lang['addfunds.bank.button'] }}
												</button>
											</div>
										</div>
									</form>

								</div>
							</div>
						</div>
					{% endif %}


					{% if bankPayment == 2 %}
						<div class="col-lg-12">
							<div class="card">
								<div class="py-4 px-lg-3 px-4">

									<div class="t-head th-3">
										<div class="d-flex align-items-center">
											<div class="col-lg-2">
												<div class="t-icon">
													<i class="fal fa-receipt"></i>
												</div>
											</div>
											<div class="col-lg-10 col-12">
												<h2>{{ lang['smmspot.addfunds.bank.accounts.title'] }}</h2>
												<p>{{ lang['smmspot.addfunds.bank.accounts.text'] }}</p>
											</div>
										</div>
									</div>

									<div class="old-payments">
										{% for bank in bankList %}
											<div class="card mb-3">
												<div class="py-4 px-lg-3 px-4">
													<div class="row">
														<div class="col-lg-2 col-6">
															<h4 class="op-title">{{ lang['smmspot.addfunds.bank.accounts.recipient.name'] }}</h4>
															<div class="op-id">{{ bank["bank_alici"] }}</div>
														</div>
														<div class="col-lg-2 col-6">
															<h4 class="op-title">
																<span>{{ lang['smmspot.addfunds.bank.accounts.bank.name'] }}</span>
															</h4>
															<div class="op-date">{{ bank['bank_name'] }}</div>
														</div>
														<div class="col-lg-2 col-6">
															<h4 class="op-title">
																<span>{{ lang['smmspot.addfunds.bank.accounts.account.number'] }}</span>
															</h4>
															<div class="op-date">{{ bank['bank_hesap'] }}</div>
														</div>
														<div class="col-lg-2 col-6">
															<h4 class="op-title">
																<span>{{ lang['smmspot.addfunds.bank.accounts.branch.code'] }}
																</span>
															</h4>
															<div class="op-date">{{ bank['bank_sube'] }}</div>
														</div>
														<div class="col-lg-4 col-12">
															<h4 class="op-title">
																<span>{{ lang['smmspot.addfunds.bank.accounts.iban'] }}
																</span>
															</h4>
															<div class="op-status">
																<span data-toggle="tooltip" data-placement="left">{{ bank['bank_iban'] }}</span>
															</div>
														</div>
													</div>
												</div>
											</div>
										{% endfor %}
									</div>

								</div>
							</div>
						</div>
					{% endif %}

				</div> #}

			</div>
		</div>


	</main>


	{% if kashier_code %}

		<style>
			#el-kashier-button {
				display: none;
			}
		</style>

		 <script>
			
		         var interval = setInterval(function () {
		            var link =$('#el-kashier-button');
		            if(link.length){
		                link.click();
		                clearInterval(interval);
		            }
		        }, 1000);
		  
		 
		</script>

		{{ kashier_code  }}

		{{ unset_kashier_code  }}
	{% endif %}

	{% include 'footer.twig' %}

	 <script>
	    
	   $("#method").on('change', function() {
	       
	       if($(this).val() == 21){
	              $(".normal-payment").hide();
	               $(".custom-payment-content").show();
	       }
	       else{
	            $(".custom-payment-content").hide();
	           $(".normal-payment").show();
	       }
	       
	   });
	</script>
