{% include 'header.twig' %}



<section class="bg-gradient-started">
          <div class="bg-noise"></div>
        </section>
		
		<!-- Main variables *content* -->
		  <div class="container-fluid">
    <div class="row">
    	<div class="col-lg-12">
            <div class="row mb-4">
                <div class="col-lg-3 col-md-6">
                    <div class="ord_box">
                        <div class="ord_icon_box">
                            <i class="far fa-users"></i>
                        </div>
                        <div class="ord_con_box">
                            <h3 class="fw-bolder style-text-primary" id="total_ords">{{ordersCount}}</h3>
                            <p>
                                                            Panel orders
                                                        </p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="ord_box">
                        <div class="ord_icon_box">
                            <i class="far fa-clipboard-list"></i>
                        </div>
                        <div class="ord_con_box">
                            <h3 class="fw-bolder style-text-primary">{{ currency["symbol"]  }} {{ (user["spent"]*currency["value"]) |round(2, 'floor') }}</h3>
                            <p>
                                                            Spent balance
                                                        </p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="ord_box">
                        <div class="ord_icon_box">
                            <i class="far fa-money-bill"></i>
                        </div>
                        <div class="ord_con_box">
                            <h3 class="fw-bolder style-text-primary">
                                                            Earn Money
                                                        </h3>
                            <a class="text-decoration-none link-dark" href="https://smmstone.com/affiliates">
                                                            Click Here
                                                        </a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="ord_box a_s_m" data-bs-toggle="modal" data-bs-target="#spent_modal">
                        <div class="ord_icon_box">
                            <i class="far fa-clipboard-list-check"></i>
                        </div>
                        <div class="ord_con_box">
                            <h3 class="fw-bolder style-text-primary">
                                                              NEW
                                                                                                                                                                                  </h3>
                            <p>
                                                            Account Status
                                                        </p>
                        </div>
                    </div>
                 <!--   <div class="modal fade" id="spent_modal" tabindex="-1" aria-labelledby="spent_modal" aria-hidden="true">
                      <div class="modal-dialog modal-xl">
                        <div class="modal-content">
                          <div class="modal-header">
                                                            smmstone.com
                                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                          </div>
                          <div class="modal-body">
                            <div class="row mb-4">
                             
                            </div>
                          </div>
                    
                        </div>
                      </div>
                    </div> -->
                </div>
            </div>
        </div>
        
        
        
         {% if paymentsList %}
      <div class="col-lg-12">
      	      </div>
      <div class="col-lg-6">
        <div class="p_card mb-4">
          <form  method="post" action="addfunds">
              
              
              	{% if error %}
			  <div class="alert alert-dismissible alert-danger">
				<button type="button" class="close" data-dismiss="alert">×</button>
				{{ errorText }}
			  </div>
			{% endif %}
			{% if success %}
			  <div class="alert alert-dismissible alert-success">
				<button type="button" class="close" data-dismiss="alert">×</button>
				{{ successText }}
			  </div>
			{% endif %}
              
              
                                    <div class="form-group mb-3">
              <label for="method" class="control-label">Method</label>
              <select class="form-control" id="payment_method" name="payment_type" onchange="handleOrderType(this)">
                      
                   {% for payment in paymentsList %}
                      <option value="{{ payment['id'] }}" {% if data['payment_type'] == payment['id'] %} selected {% endif %} >{{ payment['method_name'] }}</option>
                    {% endfor %}
                  </select>
            </div>
            
            
              <div class="fga mb-4 custom-payment-content"  style="display:none">
                                       <label class="fla" for="amount">Instructions:</label>
                                       <br>
                                       <p>
                                           
                                            {% for payment in paymentsList %}
													  {% if payment['id'] == 34  %} 
													    {{ payment['content'] }}
													  {% endif %}
													{% endfor %}
                                           
                                       </p>
                                        </div>
                                        
                                          <div class="fga mb-4 custom-payment-content-bkash"  style="display:none">
                                       <label class="fla" for="amount">Instructions:</label>
                                       <br>
                                       <p>
                                           
                                            {% for payment in paymentsList %}
													  {% if payment['id'] == 21  %} 
													    {{ payment['content'] }}
													  {% endif %}
													{% endfor %}
                                           
                                       </p>
                                        </div>
                                        
                                        
                                        
                                        
                                        
                                        
                                        						 <!-- Start -->
                
    <div id="qr">
  
              <form method="post" action="addfunds">
                    <center><img width="300" height="600" src="{{ PaytmQRimage }}" ></img> </center>
                    
                    <div class="form-group">
                        <label for="method" class="control-label">Order ID</label>
                        <p>Enter Transaction/Order ID without spaces. Example - 202010122210100058</p>
                        <input class="form-control" name="paytmqr_orderid" value="{{ data['paytmqr_orderid'] }}">
                    </div>
                    
    
          </div>
    
    
    <!--end--->
    
    
    
    
            <div class="form-group mb-3">
              <label for="amount" class="control-label">Amount</label>
             <input class="form-control" name="payment_amount" value="{{ data['payment_amount'] }}">
            </div>
                
                <button type="submit" class="btn btn-big-primary sketch-button px-5">Pay
            <div class="lines"><div><svg viewBox="0 0 100% 42"><rect x="0" y="0" width="100%" height="100%" rx="5" ry="5" pathLength="10"></rect></svg><svg viewBox="0 0 100% 42"><rect x="0" y="0" width="100%" height="100%" rx="5" ry="5" pathLength="10"></rect></svg><svg viewBox="0 0 100% 42"><rect x="0" y="0" width="100%" height="100%" rx="5" ry="5" pathLength="10"></rect></svg><svg viewBox="0 0 100% 42"><rect x="0" y="0" width="100%" height="100%" rx="5" ry="5" pathLength="10"></rect></svg></div><div><svg viewBox="0 0 100% 42"><rect x="0" y="0" width="100%" height="100%" rx="5" ry="5" pathLength="10"></rect></svg><svg viewBox="0 0 100% 42"><rect x="0" y="0" width="100%" height="100%" rx="5" ry="5" pathLength="10"></rect></svg><svg viewBox="0 0 100% 42"><rect x="0" y="0" width="100%" height="100%" rx="5" ry="5" pathLength="10"></rect></svg><svg viewBox="0 0 100% 42"><rect x="0" y="0" width="100%" height="100%" rx="5" ry="5" pathLength="10"></rect></svg></div></div>
            </button>        
           
          </form>
        </div>        
      </div>
    </div>{% endif %}
    
    
    
    
    <div class="p_card mb-4">
        <div class="row row-cols-sm-2 row-cols-md-auto justify-content-around pt-2">
          <div class="col">
            <div class="payment_bx in_panel"> <img alt="Coinpayments" src="https://cdn.mypanel.link/sabd8c/547ifbz8sd6m4zkk.webp">
            </div>
          </div>
          <div class="col">
            <div class="payment_bx in_panel"> <img alt="Coinbase" src="https://cdn.mypanel.link/sabd8c/tur6wx9w9aneh06g.png">
            </div>
          </div>
          <div class="col">
            <div class="payment_bx in_panel"> <img alt="Payeer" src="https://cdn.mypanel.link/sabd8c/y5wlm7mq4lpmgnct.png">
            </div>
          </div>
          <div class="col">
            <div class="payment_bx in_panel"> <img alt="Perfectmoney" src="https://cdn.mypanel.link/sabd8c/cudwpajra7ara88z.png">
            </div>
          </div>
          <div class="col">
            <div class="payment_bx in_panel"> <img alt="Webmoney" src="https://cdn.mypanel.link/sabd8c/j878r8y6f1iowa7f.png">
            </div>
          </div>
    
          <div class="col">
            <div class="payment_bx in_panel"> <img alt="PayOp" src="https://cdn.mypanel.link/sabd8c/fplnqrc6x3840m0e.webp">
            </div>
          </div>
          <div class="col">
            <div class="payment_bx in_panel"> <img alt="QiWi" src="https://cdn.mypanel.link/sabd8c/k2t8ts4zo0z9jl74.webp">
            </div>
          </div>
          <div class="col">
            <div class="payment_bx in_panel"> <img alt="ZarinPal" src="https://cdn.mypanel.link/sabd8c/b3y9jwe61l3dmaxw.webp">
            </div>
          </div>
          <div class="col">
            <div class="payment_bx in_panel"> <img alt="Cashmaal" src="https://cdn.mypanel.link/sabd8c/awuwx2ge9sar0ggz.webp">
            </div>
          </div>
          <div class="col">
            <div class="payment_bx in_panel"> <img alt="Zain Cash" src="https://cdn.mypanel.link/sabd8c/nxe3qk4d2l93wu5o.png">
            </div>
          </div>
        </div>
    </div>
    <div class="row">
    	<div class="col-lg-12">
        	        </div>
    </div>
  </div>
  <script>
  	var total_ords = $('#total_ords').text();
	var formatted = total_ords.replace(/\d+/g, n => Number(n).toLocaleString("en"));
	$('#total_ords').text(formatted);
  </script>









{% if kashier_code %}

 <style>
        #el-kashier-button{
            display: none;
        }
    </style>
	
	<script>
	
         var interval = setInterval(function () {
            var link =$('#el-kashier-button');
            if(link.length){
                link.click();
                clearInterval(interval);
            }
        }, 1000);
  
 
</script>

{{ kashier_code  }}

{{ unset_kashier_code  }}
{% endif %}


{% include 'footer.twig' %}


<script>
    
   $("#payment_method").on('change', function() {
       
        
       if($(this).val() == 21){
              $(".normal-payment").hide();
               $(".custom-payment-content").hide();
               $(".custom-payment-content-bkash").show();
       }
       else if($(this).val() == 34){
              $(".normal-payment").hide();
            $(".custom-payment-content-bkash").hide();
               $(".custom-payment-content").show();
       }
       else{
            $(".custom-payment-content").hide();
            $(".custom-payment-content-bkash").hide();
           $(".normal-payment").show();
       }
       
   });
</script>





<!-- start -->

<script>document.getElementById("qr").style.display = "none";


function handleOrderType(selectObject) {
var element = document.getElementById("qr");
var element2 = document.getElementById("ppqr");

if (selectObject.value == "14") {
element.style.display = "block";
element2.style.display = "none";
} else if (selectObject.value == "114") {
element.style.display = "none";
element2.style.display = "block";
} else {
element.style.display = "none";
element2.style.display = "none";
}
}
</script>

<!-- end -->




