{% include 'header.twig' %}




 <section class="bg-gradient-started">
          <div class="bg-noise"></div>
        </section>
		
		<!-- Main variables *content* -->
		<div class="container">
    <div class="row">
        <div class="col-md-10 col-md-offset-1">
                        <div class="well well-float">
                <table class="table ">
                    <thead>
                    <tr>
                        <th>Referral link</th>
                        <th>Commission rate</th>
                        <th>Minimum payout</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>{{ site['url'] }}/ref/{{ user["referral_code"] }}</td>
                        <td>{{ settings["ref_bonus"] }}%</td>
                        <td>{{ settings['ref_min'] }}{{ site['currency'] }}</td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div class="well well-float">
                <table class="table ">
                    <thead>
                    <tr>
                        <th>Visits</th>
                        <!-- <th>Registrations</th> -->
                        <th>Referrals</th> 
                         <!--<th>Conversion rate</th>
                        <th>Total earnings</th> -->
                        <th>Available earnings</th>
                                            </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>{{ user['total_click'] }}</td>
                       <!-- <td>0</td> -->
                        <td>{{ refCount }}</td>
                      <!--  <td>0.00%</td>
                        <td>$0.00</td> -->
                        <td>	{{ user['refchar'] }}{{ site['currency'] }}</td>
                                            </tr>
                    </tbody>
                </table>
            </div>

            
                    </div>
    </div>
</div>
    
    
    
    
{% include 'footer.twig' %}