{% include 'header.twig' %}


{% if user['auth'] %}

	{% else %}
		<style>
			.overflow-auto {
				overflow:auto !important;
			}
			@media(max-width: 991.98px) {
				.main-top {
					padding: 70px 0 40px !important
				}
			}
			.lgn-btn {
				display: none !important
			}

			@media(min-width: 1199.98px) {
				.main-top {
					padding: 400px 0 40px
				}
				.app-content {
					margin-top: -300px
				}
			}
		</style>

		<div class="main-top">
			<div class="main-top-bg"></div>
		</div>
{% endif %}


<!-- Main variables *content* -->

<div class="app-content">
	<style>
		a:hover {
			color: #ffffff !important;
			text-decoration: underline;
		}
	</style>
	<div class="container-fluid">


		<section class="neworder">
			<div class="row">
				<div class="col-lg-12 col-12 mb-5 mb-lg-0">
					<div class="d-card">
						<div class="d-card-body" id="dc-body">
							<div class="filter">
								<div class="filter_wrap">
									<button class="services-list-filter btn_filter btn_all" onclick="javascript:filterService('All')" data-services-filter="">
										<i class="fas fa-list"></i>
										All
									</button>


									<button class="services-list-filter btn_filter btn_fb" onclick="btnFltr(this)" data-services-filter="facebook">
										<i class="fab fa-facebook"></i>
										Facebook
									</button>

									<button class="services-list-filter btn_filter btn_tw" onclick="btnFltr(this)" data-services-filter="twitter">
										<i class="fab fa-twitter"></i>
										Twitter
									</button>

									<button class="services-list-filter btn_filter btn_ig" onclick="btnFltr(this)" data-services-filter="instagram">
										<i class="fab fa-instagram"></i>
										Instagram
									</button>

									<button class="services-list-filter btn_filter btn_yt" onclick="btnFltr(this)" data-services-filter="youtube">
										<i class="fab fa-youtube"></i>
										Youtube
									</button>


									<button class="services-list-filter btn_filter btn_tik" onclick="btnFltr(this)" data-services-filter="tiktok">
										<i class="fab fa-tiktok"></i>
										TikTok
									</button>
								</div>
							</div>

							<div class="d-flex w-100 justify-content-between align-items-center filter_fixer">
								<div class="drop_dwon_menu">
									<div class="text_filter">
										<button class="btn mr-2 cat_btn_filter" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
											<i class="fas fa-filter"></i>
											Filter By Category
											<i class="fas fa-sort-down"></i>
										</button>
										<ul class="all_btn_cat_wrap dropdown-menu">
											<li>
												<a class="dropdown-item" href="javascript:void(0);" onclick="javascript:filterService('All')">{{lang["smmspot.services.filter.item.1"]}}</a>
												{% for category in serviceCategory %}
													<a class="dropdown-item" href="javascript:void(0);" onclick="javascript:filterService('{{ category[" category_name"] }}')">{{ category["category_name"] }}</a>
													{% endfor%}</li>
											</li>
										</ul>
									</div>
								</div>


								<div class="drop_dwon_menu">
									<div class="text_filter">
										<button class="btn mr-2 cat_btn_filter" type="button" id="filterButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
											<i class="fas fa-usd-circle"></i>
											Change Currency
											<i class="fas fa-sort-down"></i>
										</button>
										<div class="dropdown-menu all_btn_cat_wrap" aria-labelledby="filterButton">

											{% for curr in site['currencies'] %}
												<a class="dropdown-item" href="/cur?cur={{curr['id']}}">{{curr['name']}}
												</a>
											{% endfor %}
										</div>
									</div>
								</div>


								<div class="app-search ser_search_box">
									<input type="text" class="form-control input-style" id="serv-inp" placeholder="{{lang["smmspot.services.search"]}}">
									<button type="submit" class="app-ord-submit">
										<i class="fas fa-search"></i>
									</button>
								</div>
							</div>

							<!-- start -->

							<!-- category_name -->

							<div class="dash-list mt-4">
								<table id="serv-table" class="app-mtable table results table-mobile-cards overflow-auto ">

									<thead>
										<tr></tr>
										<tr class="thead-tr">
											<th style="width: 110px;">{{ lang['services.id'] }}</th>
											<th class="width-service-name">{{ lang['services.name'] }}</th>
											<th class="nowrap">{{ lang['services.price'] }}</th>
											<th class="nowrap">{{ lang['services.min'] }}/{{ lang['services.max'] }}</th>
											<th class="service-description__th">{{ lang['neworder.description'] }}</th>
											<th class="nowrap" nowrap>
												<div class="d-flex align-items-center">
													<span>Average time</span>
													<span class="ml-1 mr-1 fa fa-exclamation-circle" data-toggle="tooltip" data-placement="top" title="The average time is based on 10 latest completed orders per 1000 quantity."></span>
												</div>
											</th>
											<th class="service-description__th">Buy</th>
										</tr>

									</thead>
									<tbody>
										{% for category in serviceCategory %}

											<tr class="catetitle cate-row" data-category="{{ category["category_name"] }}">
												<td colspan="8">
													<strong class="pm-ikon">
														{{ category["category_name"] }}</strong>
												</td>
											</tr>

											<!-- end -->


											{% for service in category['services'] %}
												<tr{{service["service_id"]}}</td class="serviceData" data-category="{{ category["category_name"] }}">
													<tr class="table-mobile-card serviceData" data-category="{{ category["category_name"] }}">
														<td data-title="ID">{{ service['service_id'] }}</td>
														<td data-title="Services" class="pm-ikon">{{ service["service_name"] }}</td>


														<td class="app-col" data-title="Price Per 1000">
															≈&nbsp;
															{{ currency["symbol"]  }}
															{{ service['service_price'] *currency["value"]   }}</td>


														<td class="app-col" data-title="Min-Max">
															<span class="text-danger">
																{{ service['service_min'] }}</span>
															-
															<span class="text-success">
																{{ service['service_max'] }}</span>
														</td>


														<!-- pop up-->

														<td>

															<div class="tservice-des">
																<button type="button" class="desc-btn" data-toggle="modal" data-target="#serModal{{ service['service_id'] }}">
																	<i class="far fa-eye"></i>
																</button>

															</div>

															<div class="modal fade" id="serModal{{ service['service_id'] }}">
																<div class="modal-dialog">
																	<div class="modal-content">
																		<div class="modal-header">
																			<h4 class="modal-title">{{ service['service_id'] }}
																				-
																				{{ service["service_name"] }}</h4>
																		</div>
																		<div class="modal-body">
																			{{ service["service_description"] }}
																		</div>
																		<div class="modal-footer">
																			<button type="button" class="btn btn-danger" data-dismiss="modal">
																				{% if user['lang'] == "ar" %}قريب{% else %}Close
																				{% endif %}
																			</button>
																		</div>
																	</div>
																</div>
															</div>
														</td>
														<td>{{ service["time"] }}</td>

														<td class="app-col" data-title="Price per 1000">
															<a type="button" class="desc-btn" href="{{ site['url'] }}/?select_service_id={{ service['service_id'] }}&category_id={{category['category_id']}}">
																<i class="fa-solid fa-cart-shopping"></i>
															</a>
														</td>

													</tr>
												{% endfor %}
											</tbody>
											{% endfor%}</tbody>
									</tbody>
								</table>


							</div>
						</div>
					</div>
				</div>
			</section>
		</div>
	</div>


	 <script>
					
					
					function ikon(opt) {
					    var ikon = "";
					    if (opt.indexOf("Instagram") >= 0) {
					        ikon = "<span class=\"fs-ig\"><i class=\"fab fa-instagram\" aria-hidden=\"true\"></i> </span>";
					    } else if (opt.indexOf("YouTube") >= 0) {
					        ikon = "<span class=\"fs-yt\"><i class=\"fab fa-youtube\" aria-hidden=\"true\"></i> </span>";
					    } else if (opt.indexOf("Facebook") >= 0) {
					        ikon = "<span class=\"fs-fb\"><i class=\"fab fa-facebook-square\" aria-hidden=\"true\"></i> </span>";
					    } else if (opt.indexOf("Youtube") >= 0) {
					        ikon = "<span class=\"fs-yt\"><i class=\"fab fa-youtube\" aria-hidden=\"true\"></i> </span>";
					    } else if (opt.indexOf("Twitter") >= 0) {
					        ikon = "<span class=\"fs-tw\"><i class=\"fab fa-twitter\" aria-hidden=\"true\"></i> </span>";
					    } else if (opt.indexOf("Google") >= 0) {
					        ikon = "<span class=\"fs-gp\"><i class=\"fab fa-google-plus\" aria-hidden=\"true\"></i> </span>";
					    } else if (opt.indexOf("Swarm") >= 0) {
					        ikon = "<span class=\"fs-fsq\"><i class=\"fab fa-forumbee\" aria-hidden=\"true\"></i> </span>";
					    } else if (opt.indexOf("Dailymotion") >= 0) {
					        ikon = "<span class=\"fs-dm\"><i class=\"fab fa-hospital-o\" aria-hidden=\"true\"></i> </span>";
					    } else if (opt.indexOf("Periscope") >= 0) {
					        ikon = "<span class=\"fs-pc\"><i class=\"fab fa-map-marker\" aria-hidden=\"true\"></i> </span>";
					    } else if (opt.indexOf("Soundcloud") >= 0) {
					        ikon = "<span class=\"fs-sc\"><i class=\"fab fa-soundcloud\" aria-hidden=\"true\"></i> </span>";
					    } else if (opt.indexOf("Vine") >= 0) {
					        ikon = "<span class=\"fs-vn\"><i class=\"fab fa-vine\" aria-hidden=\"true\"></i> </span>";
					    } else if (opt.indexOf("Spotify") >= 0) {
					        ikon = "<span class=\"fs-sp\"><i class=\"fab fa-spotify\" aria-hidden=\"true\"></i> </span>";
					    } else if (opt.indexOf("Snapchat") >= 0) {
					        ikon = "<span class=\"fs-snap\"><i class=\"fab fa-snapchat-square\" aria-hidden=\"true\"></i> </span>";
					    } else if (opt.indexOf("Pinterest") >= 0) {
					        ikon = "<span class=\"fs-pt\"><i class=\"fab fa-pinterest-p\" aria-hidden=\"true\"></i> </span>";
					    } else if (opt.indexOf("iTunes") >= 0) {
					        ikon = "<span class=\"fs-apple\"><i class=\"fab fa-apple\" aria-hidden=\"true\"></i> </span>";
					    } else if (opt.indexOf("Müzik") >= 0) {
					        ikon = "<span class=\"fs-music\"><i class=\"fab fa-music\" aria-hidden=\"true\"></i> </span>";
					    } else if (opt.indexOf("Vimeo") >= 0) {
					        ikon = "<span class=\"fs-videmo\"><i class=\"fab fa-vimeo\" aria-hidden=\"true\"></i> </span>";
					    } else if (opt.indexOf("Ekşi") >= 0) {
					        ikon = "<span class=\"fs-eksi\"><i class=\"fab fa-tint\" aria-hidden=\"true\"></i> </span>";
					    } else if (opt.indexOf("Telegram") >= 0) {
					        ikon = "<span class=\"fs-telegram\"><i class=\"fab fa-telegram\" aria-hidden=\"true\"></i> </span>";
					    } else if (opt.indexOf("Twitch") >= 0) {
					        ikon = "<span class=\"fs-twc\"><i class=\"fab fa-twitch\" aria-hidden=\"true\"></i> </span>";
					    } else if (opt.indexOf("Zomato") >= 0) {
					        ikon = "<span class=\"fs-zom\"><i class=\"fab fa-cutlery\" aria-hidden=\"true\"></i> </span>";
						} else if (opt.indexOf("Amazon") >= 0) {
					        ikon = "<span class=\"fs-amaz\"><i class=\"fab fa-amazon\" aria-hidden=\"true\"></i> </span>";
						} else if (opt.indexOf("Tumblr") >= 0) {
					        ikon = "<span class=\"fs-tumb\"><i class=\"fab fa-tumblr-square\" aria-hidden=\"true\"></i> </span>";
						} else if (opt.indexOf("Yandex") >= 0) {
					        ikon = "<span class=\"fs-yndx\"><i class=\"fab fa-yoast\" aria-hidden=\"true\"></i> </span>";
						} else if (opt.indexOf("Linkedin") >= 0) {
					        ikon = "<span class=\"fs-lnk\"><i class=\"fab fa-linkedin\" aria-hidden=\"true\"></i> </span>";
						} else if (opt.indexOf("Yahoo") >= 0) {
					        ikon = "<span class=\"fs-yahoo\"><i class=\"fab fa-yahoo\" aria-hidden=\"true\"></i> </span>";
					    } else if (opt.indexOf("TikTok") >= 0) {
					        ikon = "<span class=\"fs-tiktok\"><i class=\"fa fa-music\" aria-hidden=\"true\"></i> </span>";
					    } else {
					        ikon = "<span class=\"\"><i class=\"far fa-star\" aria-hidden=\"true\"></i> </span>  ";
					    }
					    return ikon;
					}
					  
					$(document).ready(function() {
					
						$(".pm-ikon").each(function() {
									var ico = ikon($(this).text());
									$(this).html(ico + $(this).text() );
									console.log($(this).text());
							});	
					});
					
					
					
					
					
					
					
					
					
					
					
					 var categories = {{categories|json_encode()}};
					  
					  
					  
					  
					setTimeout(function () {
					                $('#neworder_services').trigger('change');
					                $('.btn_cat_filter').on('click', function() {
					                  
					                    category = $(this).data('id');
					                    
					                     var category_2 = null;
					                    if(category == 'instagram'){
					                            category_2 = "انستغرام";
					                    }
					                    if(category == 'facebook'){
					                            category_2 = "فايسبوك";
					                    }
					                    if(category == 'youtube'){
					                            category_2 = "يوتيوب";
					                    }
					                    if(category == 'twitter'){
					                            category_2 = "تويتر";
					                    }
					                    if(category == 'tiktok'){
					                            category_2 = "تيك توك";
					                    }
					                    if(category == 'telegram'){
					                            category_2 = "تلغرام";
					                    }
					                    
					                    
					                    $('#neworder_category').html("");
					                    categories.forEach(element => {
					                        if (category == "everything") {
					                            $('#neworder_category').append("<option value='" + element.category_id + "'>" + element.category_name + "</option>");
					                        } else if (category == "other") {
					                            if (!element.category_name.toLowerCase().includes("instagram") &&
					                                !element.category_name.toLowerCase().includes("facebook") &&
					                                !element.category_name.toLowerCase().includes("youtube") &&
					                                !element.category_name.toLowerCase().includes("twitter") &&
					                                !element.category_name.toLowerCase().includes("tiktok") &&
					                                !element.category_name.toLowerCase().includes("telegram")) {
					                                $('#neworder_category').append("<option value='" + element.category_id + "'>" + element.category_name + "</option>");
					                            }
					                        } else if (element.category_name.toLowerCase().includes(category) || element.category_name.toLowerCase().includes(category_2)) {
					                            $('#neworder_category').append("<option value='" + element.category_id + "'>" + element.category_name + "</option>");
					                        }
					                    });
					                    $('#neworder_category').trigger('change');
					                    setTimeout(function(){
					                        $(".smmspot-sb-dd-item").each(function() {
					                            var ico = ikon($(this).text());
					                            $(this).html(ico + $(this).text() );
					                            console.log($(this).text());
					                        });
					                    }, 500);
					                    setTimeout(function(){
					                        $(".smmspot-sb-selected").each(function() {
					                            var ico = ikon($(this).text());
					                            $(this).html(ico + $(this).text() );
					                            console.log($(this).text());
					                        });
					                    }, 500);
					                });
					            
					        }, 400);
					
					
					
					
					</script>
	 <script>
					      function filterService(category) {
					        if (category == 'All')
					          $('tbody tr.hidden').removeClass('hidden');
					        else {
					          $('tbody tr').addClass('hidden');
					          $('tbody tr[data-category="' + category + '"]').removeClass('hidden');
					        }
					        removeEmptyCategory();
					      }
					
					      function removeEmptyCategory() {
					        $('.services-header').each(function () {
					            var next = $(this).next();
					            var services = $(this).nextUntil('.services-header');
					            var empty = true;
					            services.each(function() {
					              if (!$(this).hasClass('hidden')) empty = false;
					            });
					            if (empty) $(this).addClass('hidden');
					        })
					      }
					</script>


	{% include 'footer.twig' %}
