{% include 'header.twig' %}
<div class="main-top">
	<div class="main-top-bg"></div>
	<div class="main-top-content">
		<div class="container" style="position: relative;">

			<div class="main-top-real-content">
				<div class="row align-items-center">
					<div class="col-lg-6 align-self-center">
						<div class="head-text">
							<h1>
								<span class="main-color">{{ site["site_name"] }}</span>
								<br>
								We are fame makers</h1>
							<p>The All-In-One Social Media Marketing tool you will need!
							</p>
						</div>
						<div class="head-links row mt-5">
							<div class="col-auto mb-4 mb-md-0">
								<a href="/service" class="btn btn-primary btn-lg">Our Services</a>
							</div>
							<div class="col-auto">
								<a href="/" class="btn btn-outline btn-lg">Login Now</a>
							</div>
						</div>
						<div class="main-stats">
							<div class="row">
								<div class="col-lg-6 col-md-6 mb-4 col-12">
									<div class="home-stat br">
										<div class="row">
											<div class="col-auto align-self-center">
												<i class="far fa-crown"></i>
											</div>
											<div class="col align-self-center">
												<div class="hstat-text">30100+</div>
												<div class="hstat-title">Orders Completed</div>
											</div>
										</div>
									</div>
								</div>

								<div class="col-lg-6 col-md-6 mb-4 col-12">
									<div class="home-stat">
										<div class="row">
											<div class="col-auto align-self-center">
												<i class="far fa-smile"></i>
											</div>
											<div class="col align-self-center">
												<div class="hstat-text">3252+</div>
												<div class="hstat-title">Active User</div>
											</div>
										</div>
									</div>
								</div>

							</div>
						</div>
					</div>

					<div class="col-lg-5 offset-lg-1">

						<div class="login-card">
							<div class="lc-body">
								<div class="lc-title">
									<h4>Create an account</h4>
									<small>Create an account by fill up this form.</small>

									           	 {% if errorText %}
								<div class="alert alert-dismissible alert-danger">
								  {{ errorText }}
								</div>
							  {% endif %}
							  {% if successText %}
								<div class="alert alert-dismissible alert-success">
								  {{ successText }}
								</div>
							  {% endif %}								<form action="/signup" method="post">
									<div class="login-form mt-5 py-3">

											
												<div class="fg fg-light mb-4">
													<div class="fg-icon">
																													<i class="far fa-user"></i>
																											</div>
																											
																										
													<input type="text" class="fg-control" id="login" value="" name="username" placeholder="Username">
												</div>
											
											
											
											
											<!-- start -->
											
											 {% if settings['name_secret'] == 2 %}
										
										
										<div class="fg fg-light mb-4">
                                                <div class="fg-icon"><i class="far fa-user"></i></div>
                                                <input type="text" class="fg-control" id="firstname" value="{{ data['first_name'] }}" name="first_name" placeholder="First Name">
                                            </div>
                                            
                                            <div class="fg fg-light mb-4">
                                                <div class="fg-icon"><i class="far fa-user"></i></div>
                                                <input type="text" class="fg-control" id="lastname" value="{{ data['last_name'] }}" name="last_name" placeholder="Last Name">
                                            </div>							
                                            
                                         
                                            
                                            {% endif %}
											
											<!-- start -->
											
												{% if settings['skype_area'] == 2 %}
												<div class="fg fg-light mb-4">
													<div class="fg-icon">
																												<!--	<i class="far fa-envelope"></i> -->
																													<i class="far fa-phone"></i>
																											</div>
																			
																		<input type="text" class="fg-control" id="email" value="{{ data['telephone'] }}" name="telephone" placeholder="WhatsApp Number">										
													
												</div>
												{% endif %}
											
											
											
											<!-- end -->
											
												<div class="fg fg-light mb-4">
													<div class="fg-icon">
																													<i class="far fa-envelope"></i>
																											</div>
																			
																		<input type="email" class="fg-control" id="email" value="{{ data['email'] }}" name="email" placeholder="Email">										
													
												</div>
											
												<div class="fg fg-light mb-4">
													<div class="fg-icon">
																													<i class="far fa-unlock-alt"></i>
																											</div>
																											
																	<input type="password" class="fg-control" id="password" name="password" placeholder="Password">										
												</div>
											
												<div class="fg fg-light mb-4">
													<div class="fg-icon">
																													<i class="far fa-unlock-alt"></i>
																											</div>
																											<input type="password" class="fg-control" id="confirm" name="password_again" placeholder="Confirm Password">
																											
												
												</div>
																						<!-- start-->
											            									
          								
          								{% if settings['terms_checkbox'] == 2 %}
								<div class="form-group">
								  <div class="checkbox">
									<label>
									  <input type="checkbox" class="terms-accept-checkbox" value="1" id="customCheck1" name="terms"> {{ lang['signup.accept_terms_text'] }} <a href="/terms" target="_blank">{{ lang['terms.terms_of_service'] }}</a>
									</label>
								  </div>
								</div>
								{% endif %}		
								
								
									{% if captcha %}
							 <div class="mt-4">
                        <div class="g-recaptcha" data-sitekey="{{ captchaKey }}"></div>
                    </div>
								{% endif %}
								
								<!-- end -->
											<div class="row mt-4">
												<div class="col-md-12 mb-5 mb-md-0">
												
													<button type="submit" class="btn btn-primary btn-lg btn-block">Sign Up</button>
												</div>
											</div>
											<div class="btn btn-dark btn-block mt-3">
												Already have an account?
												<a href="/">Login Now</a>
											</div>

										</div>

									</form>
								</div>
							</div>
						</div>


					</div>
				</div>

				<div class="col-lg-12 align-self-center"></div>

			</div>
		</div>
	</div>
</div>


<section class="home-box-3">
	<div class="container">
		<div class="row">
			<div class="col-lg-12">
				<div class="footer-top">
					<div class="row align-items-center">
						<div class="col-lg-7">
							<h1>Already have an account?</h1>
						</div>
						<div class="col-lg-3 offset-lg-1">
							<a href="/" class="btn btn-outline btn-lg">Login Now</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>



{% for lang in site['languages'] %}
  {% if lang['active'] %}
    <script src="https://www.google.com/recaptcha/api.js?hl={{ lang['code'] }}"></script>
  {% endif %}
{% endfor %}


{% include 'footer.twig' %}