{% include 'header.twig' %}




{% if user['auth'] %}

{% else %}
	<style>
		@media (max-width: 991.98px) {
			.main-top {padding: 70px 0 40px 0!important}
		}
        .lgn-btn {display: none!important}
      
      	@media (min-width: 1199.98px) {
      		.main-top { padding: 400px 0 40px 0}
      		.app-content { margin-top: -300px }
      	}
	</style>
	
    <div class="main-top">
        <div class="main-top-bg"></div>
	</div>
{% endif %}

<div class="app-content">
      <div class="container">
      
      <div class="d-card dc-dash">
        <div class="row">
          <div class="col-lg-6 col-md-8 col-12">
            <div class="py-3 px-5">
              <div class="dch-title">ข้อกำหนดในการให้บริการ</div>
              <div class="dch-text">
                การใช้บริการที่จัดหาโดย&nbsp;{{ site["site_name"] }} ถือเป็นการยอมรับข้อกำหนดเหล่านี้ โดยการลงทะเบียนหรือใช้บริการของเรา แสดงว่าคุณได้อ่านและเข้าใจข้อกำหนดในการให้บริการต่อไปนี้อย่างครบถ้วน และ&nbsp;{{ site["site_name"] }} จะไม่รับผิดชอบต่อความสูญเสียใด ๆ สำหรับผู้ใช้ที่ไม่ได้อ่านข้อกำหนดในการให้บริการด้านล่างนี้
              </div>
            </div>
          </div>
        </div>
      </div>

      <section class="neworder">
        <div class="row">
          <div class="col-lg-12 col-12 mb-5 mb-lg-0">
            <div class="d-card">
              <div class="d-card-body mb-5" id="dc-body">
                <div class="terms_item mb-5">
                  <h2 class="mb-2">ทั่วไป</h2>
                  <div class="read-text">
                    <p>
                      เมื่อคุณสั่งซื้อกับ&nbsp;{{ site["site_name"] }} ถือว่าคุณยอมรับข้อกำหนดในการให้บริการทั้งหมดที่ระบุไว้ด้านล่าง ไม่ว่าคุณจะได้อ่านหรือไม่ก็ตาม
                    </p>
                    <p>
                      เราขอสงวนสิทธิ์ในการเปลี่ยนแปลงข้อกำหนดในการให้บริการเหล่านี้โดยไม่ต้องแจ้งให้ทราบล่วงหน้า คุณควรอ่านข้อกำหนดในการให้บริการทุกครั้งก่อนสั่งซื้อเพื่อให้แน่ใจว่าคุณได้รับข้อมูลล่าสุด
                    </p>
                    <p>
                      คุณจะใช้เว็บไซต์&nbsp;{{ site["site_name"] }} ในลักษณะที่เป็นไปตามข้อตกลงกับ Instagram/Facebook/Twitter/Youtube/หรือโซเชียลมีเดียอื่น ๆ ตามข้อกำหนดการให้บริการของแต่ละแพลตฟอร์ม&nbsp;{{ site["site_name"] }} อัตราค่าบริการอาจเปลี่ยนแปลงได้ตลอดเวลาโดยไม่ต้องแจ้งให้ทราบล่วงหน้า นโยบายการชำระเงิน/คืนเงินยังคงมีผลในกรณีที่มีการเปลี่ยนแปลงอัตราค่าบริการ&nbsp;{{ site["site_name"] }} ไม่รับประกันระยะเวลาในการให้บริการใด ๆ เราจะให้การประเมินเวลาที่ดีที่สุดสำหรับการจัดส่งคำสั่งซื้อ ซึ่งเป็นเพียงการประเมินเท่านั้น และ&nbsp;{{ site["site_name"] }} จะไม่คืนเงินสำหรับคำสั่งซื้อที่กำลังดำเนินการหากคุณคิดว่าใช้เวลานานเกินไป&nbsp;{{ site["site_name"] }} พยายามอย่างเต็มที่เพื่อให้บริการตามที่ลูกค้าคาดหวัง ในกรณีนี้ เราขอสงวนสิทธิ์ในการเปลี่ยนแปลงประเภทบริการหากเห็นว่าจำเป็นเพื่อให้คำสั่งซื้อเสร็จสมบูรณ์
                    </p>
                  </div>
                </div>
                <div class="terms_item mb-5">
                  <h2 class="mb-2">ข้อจำกัดความรับผิด</h2>
                  <div class="read-text">
                    <p>
                       {{ site["site_name"] }} จะไม่รับผิดชอบต่อความเสียหายใด ๆ ที่คุณหรือธุรกิจของคุณอาจได้รับ
                    </p>
                  </div>
                </div>

                <div class="terms_item mb-5">
                  <h2 class="mb-2">ความรับผิดชอบ</h2>
                  <div class="read-text">
                    <p>
                      {{ site["site_name"] }} จะไม่รับผิดชอบต่อการระงับบัญชีหรือการลบรูปภาพโดย Instagram, Twitter, Facebook, YouTube หรือโซเชียลมีเดียอื่น ๆ
                    </p>
                  </div>
                </div>

                <div class="terms_item mb-5">
                  <h2 class="mb-2">บริการ</h2>
                  <div class="read-text">
                    <p>
                       {{ site["site_name"] }} จะใช้เพื่อโปรโมทบัญชี Instagram/Twitter/Facebook หรือโซเชียลมีเดียของคุณและช่วยเพิ่ม "ภาพลักษณ์" ของคุณเท่านั้น
                    </p>
                    <p>
                      เราไม่รับประกันว่าผู้ติดตามใหม่ของคุณจะมีปฏิสัมพันธ์กับคุณ เรารับประกันเพียงว่าคุณจะได้รับผู้ติดตามตามที่คุณชำระเงิน
                    </p>
                    <p>
                      เราไม่รับประกันว่าบัญชีทั้งหมดของเราจะมีรูปโปรไฟล์, ข้อมูลส่วนตัวครบถ้วน และมีการอัปโหลดรูปภาพ แม้ว่าเราจะพยายามทำให้เป็นเช่นนั้นสำหรับทุกบัญชีก็ตาม
                    </p>
                    <p>
                      คุณจะไม่อัปโหลดเนื้อหาที่มีภาพเปลือยหรือเนื้อหาที่ไม่เหมาะสมหรือไม่เป็นที่ยอมรับในชุมชน Instagram/Twitter/Facebook หรือโซเชียลมีเดียอื่น ๆ ลงในเว็บไซต์&nbsp;{{ site["site_name"] }}
                    </p>
                    <p>
                      บัญชีส่วนตัวจะไม่ได้รับเงินคืน! กรุณาตรวจสอบให้แน่ใจว่าบัญชีของคุณเป็นสาธารณะก่อนสั่งซื้อ
                    </p>
                  </div>
                </div>

                <div class="terms_item mb-5">
                  <h2 class="mb-2">นโยบายการคืนเงิน</h2>
                  <div class="read-text">
                    <p>
                      จะไม่มีการคืนเงินไปยังวิธีการชำระเงินของคุณ หลังจากที่มีการฝากเงินแล้ว จะไม่สามารถย้อนกลับได้ คุณต้องใช้ยอดเงินของคุณในการสั่งซื้อกับ&nbsp;{{ site["site_name"] }}
                    </p>

                    <p>
                      คุณตกลงว่าเมื่อคุณชำระเงินเสร็จสิ้นแล้ว คุณจะไม่ยื่นข้อพิพาทหรือขอคืนเงินกับเราไม่ว่าด้วยเหตุผลใด
                    </p>
                    <p>
                      หากคุณยื่นข้อพิพาทหรือขอคืนเงินกับเราหลังจากฝากเงิน เราขอสงวนสิทธิ์ในการยกเลิกคำสั่งซื้อในอนาคตทั้งหมด, แบนคุณจากเว็บไซต์ของเรา และขอสงวนสิทธิ์ในการนำผู้ติดตามหรือไลก์ที่เราได้ส่งให้คุณหรือบัญชีลูกค้าของคุณออก
                    </p>

                    <p>
                      คำสั่งซื้อที่ทำใน&nbsp;{{ site["site_name"] }} จะไม่สามารถขอคืนเงินหรือยกเลิกได้หลังจากที่สั่งซื้อแล้ว คุณจะได้รับเครดิตคืนในบัญชี&nbsp;{{ site["site_name"] }} ของคุณหากคำสั่งซื้อนั้นไม่สามารถจัดส่งได้
                    </p>

                    <p>
                      คำสั่งซื้อที่ผิดพลาดหรือบัญชีส่วนตัวจะไม่มีสิทธิ์ได้รับเงินคืน กรุณาตรวจสอบทุกคำสั่งซื้อก่อนสั่งซื้อ เราไม่สามารถรับประกันการเติมหรือคืนเงินหากเพจไม่สามารถใช้งานได้, ชื่อเพจถูกเปลี่ยน, บัญชีถูกลบ หรือ ลิงก์ต้นฉบับไม่สามารถใช้งานได้
                    </p>
                    <p>
                      กิจกรรมทุจริต เช่น การใช้บัตรเครดิตที่ไม่ได้รับอนุญาตหรือถูกขโมย จะนำไปสู่การยกเลิกบัญชีของคุณ ไม่มีข้อยกเว้น
                    </p>
                    <p>
                      กรุณาอย่าใช้เซิร์ฟเวอร์มากกว่าหนึ่งเซิร์ฟเวอร์ในเวลาเดียวกันสำหรับเพจเดียวกัน เราไม่สามารถให้จำนวนผู้ติดตาม/ไลก์ที่ถูกต้องในกรณีนั้น และจะไม่คืนเงินสำหรับคำสั่งซื้อเหล่านี้
                    </p>
                    <p>
                      นโยบายนี้ครอบคลุมถึงวิธีที่เราใช้ข้อมูลส่วนบุคคลของคุณ เราให้ความสำคัญกับความเป็นส่วนตัวของคุณและจะดำเนินการทุกวิถีทางเพื่อปกป้องข้อมูลส่วนบุคคลของคุณ
                    </p>
                    <p>
                      ข้อมูลส่วนบุคคลที่ได้รับจะถูกใช้เพื่อดำเนินการตามคำสั่งซื้อของคุณเท่านั้น เราจะไม่ขายหรือแจกจ่ายข้อมูลส่วนบุคคลของคุณให้กับใคร ข้อมูลส่วนบุคคลทั้งหมดจะถูกเข้ารหัสและจัดเก็บในเซิร์ฟเวอร์ที่ปลอดภัย<br /><br />

                      กฎหมายที่ใช้บังคับ<br /><br />

                      การใช้เว็บไซต์นี้และข้อพิพาทใด ๆ ที่เกิดขึ้นจากการใช้งานจะอยู่ภายใต้กฎหมายของสหรัฐอาหรับเอมิเรตส์ การดำเนินคดีหรือกระบวนการทางกฎหมายที่เกี่ยวข้องกับข้อกำหนดและเงื่อนไขนี้จะต้องพิจารณาในศาลและ/หรืออนุญาโตตุลาการในสหรัฐอาหรับเอมิเรตส์&nbsp;{{ site["site_name"] }} "SMM Millionaire FZ LLC" ทำงานเฉพาะกับตัวแทนทางกฎหมายที่ให้ความสำคัญกับการปกป้องข้อมูลส่วนบุคคล ดังนั้นเราขอยืนยันว่าข้อมูลของคุณจะได้รับการปกป้อง
                    </p>
                    {# <p>
                    Playpay LTD, หมายเลขบริษัท: 13752318, ที่อยู่: Unit 161003, ชั้นสอง, 6 Market Place, London, Fitzrovia, W1W 8AF, สหราชอาณาจักร ปลอดภัย คุณจะไม่ต้องรับความเสี่ยงใด ๆ
                    </p> #}
                    
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
    </div>
  </div>
</div>












{% include 'footer.twig' %}