{% include 'header.twig' %}



	<!-- Main variables *content* -->
		<main>
      <div class="container-fluid mt-3">
      <div class="row">
      <div class="col-lg-12">
         <div class="page overflow-hidden">
            <div class="page-body pb-4 pb-xl-6 mt-4">
               <section class="cp-top">
                  <div class="row">
                     <div class="col-md-6">
                        <div class="card card-bg">
                           <div class="card-body p-4">
                              <div class="row">
                                 <div class="col-md-6 col-12">
                                    <div class="cp-sns-dns">
                                       <span>ns1.perfectdns.com</span>
                                    </div>
                                 </div>
                                 <div class="col-md-6 col-12">
                                    <div class="cp-sns-dns">
                                       <span>ns2.perfectdns.com</span>
                                    </div>
                                 </div>
                                 <div class="col-12">
                                    <a href="https://who.is/" target="_blank">
                                    <button class="btn btn-primary btn-100">
                                                                        What is my NS Records domain?
                                                                        </button>
                                    </a>
                                 </div>
                              </div>
                           </div>
                        </div>
                     </div>
                     <!-- ./col  -->
                     <div class="col-md-6 mt-4 mt-md-0">
                        <div class="card card-bg cp-right-box">
                           <div class="cp-r-img"></div>
                           <div class="card-body">
                              <h3 class="cp-r-title">
                                                                  Get your own dashboard today!
                                                               </h3>
                              <div class="cp-r-text">
                                                                  Here you can order your panel with the same functions as ours, to resell our services.
                                                               </div>
                           </div>
                        </div>
                     </div>
                  </div>
               </section>
               
               
        <section class="cp-main">
            <div class="row">
                <div class="col-lg-6">
                  <div class="card mb-4">
					<div class="card-head d-flex align-items-center justify-content-between">
                        <div class="card-head-title">
                           <div class="row align-items-center">
                                 <div class="col-auto">
                                    <div class="card-head-icon">
                                       <i class="ri-store-line"></i>
                                    </div>
                                 </div>
                                 <div class="col">
                                    <h4>Child panel</h4>
                                 </div>
                           </div>
                        </div>
                     </div>
                        <div class="card-body">
   <form action="/child-panels" method="post">
       
        {% if errorText %}
										<div class="alert alert-dismissible alert-danger">
										  <button type="button" class="close" data-dismiss="alert">×</button>
										  {{ errorText }}
										</div>
									  {% endif %}
									  {% if successText %}
										<div class="alert alert-dismissible alert-success">
										  <button type="button" class="close" data-dismiss="alert">×</button>
										  {{ successText }}
										</div>
									  {% endif %}
       
                                                        <div class="row">
                                    <div class="col-12 col-md-6 mb-4">
                                        <label for="mb-2" class="form-label">
                                            <div class="d-flex align-items-center">
                                                <span>Domain</span>
                                            </div>
                                        </label>
                                <input type="text" class="form-control" id="domain" name="domain"
                                       value="">
                                    </div><!-- col -->
                                    <div class="col-12 col-md-6 mb-4">
                                        <label for="mb-2" class="form-label">
                                            <div class="d-flex align-items-center">
                                                <span>Currency</span>
                                            </div>
                                        </label>
                                      <select class="form-control" name="panel_currency" aria-required="true">
                                                {% for curr in site['currencies'] %}
                                                <option value="{{ curr['name'] }}">{{curr['name']}}</option>
                                                {% endfor %}
                                            </select>
                                    </div><!-- col -->
                                    <div class="col-12 col-md-12 mb-4">
                                        <label for="mb-2" class="form-label">
                                            <div class="d-flex align-items-center">
                                                <span>Admin username</span>
                                            </div>
                                        </label>
                            <input
                                    type="text" id="createorderform-username" class="form-control"
                                    name="username" value=""  aria-required="true"
                                    value="">
                                    </div><!-- col -->
                                    <div class="col-12 col-md-6 mb-4">
                                        <label for="mb-2" class="form-label">
                                            <div class="d-flex align-items-center">
                                                <span>Admin password</span>
                                            </div>
                                        </label>
                            <input
                                    type="password" id="createorderform-password" class="form-control"
                                    name="password" aria-required="true">

                                    </div><!-- col -->
                                    <div class="col-12 col-md-6 mb-4">
                                        <label for="mb-2" class="form-label">
                                            <div class="d-flex align-items-center">
                                                <span>Confirm password</span>
                                            </div>
                                        </label>
                            <input
                                    type="password" id="createorderform-password_confirm" class="form-control"
                                    name="password_confirm" aria-required="true">
                                    </div><!-- col -->
                                </div><!-- ./row -->
                          
                                <button type="submit" class="btn btn-primary btn-block btn-border">Order ( {{ settings['panel_price'] }}{{ site['currency'] }} )</button>
                            </form>
                        </div>
                    </div>
                </div><!-- ./col -->
                
                
               <div class="col-lg-6">
                        <div class="card mb-4">
                           <div class="card-head d-flex align-items-center justify-content-between">
                              <div class="card-head-title">
                                 <div class="row align-items-center">
                                    <div class="col-auto">
                                       <div class="card-head-icon">
                                          <i class="ri-folder-info-line"></i>
                                       </div>
                                    </div>
                                    <div class="col">
                                       <h4>
                                                                                    Child panel information
                                                                                 </h4>
                                    </div>
                                 </div>
                              </div>
                           </div>
                           <div class="card-body">
                                                            <p>By setting up your own panel, you can sell <strong>AmazingSMM.com</strong> services to your customers. You can earn income from this sale. If you want to start your own business with affordable costs, don't miss this opportunity and fill out the form right next to it!</p>
                              <p>The phrase <strong>AmazingSMM</strong> will never be mentioned on the site that belongs to you, you will have a panel that is entirely your own brand.</p>
                              <br>
                              <ul>
                                 <li>By making your own logo and design, you can sell to your customers through a unique panel.</li>
                                 <li>You can sell the <strong>AmazingSMM.com</strong> service you want in your panel with any commission you want.</li>
                                 <li>You can start selling quickly by integrating almost all payment methods into your panel.</li>
                                 <li>You can give instant support to your customers from the "Support" section.</li>
                                 <li>For more information <a href="https://amazingsmm.com/blog/reseller-program-child-panels">Click here</a></li>
                              </ul>
                              
						</div>
					</div>
					<div class="card">
						<div class="card-body">

                    <div class="faq-ss-tabs">
                        <div class="home-ss-tab">
                            <div class="ss-tab-head">
                                <div class="row">
                                    <div class="col">
What is Partial status?
                                    </div>
                                    <div class="col-auto align-self-center right-p">
                                        <i class="fas fa-plus"></i>
                                        <i class="fas fa-minus"></i>
                                    </div>
                                </div>
                            </div>
                            <div class="ss-tab-content">
Partial Status is when we partially refund the remains of an order. Sometimes for some reasons we are unable to deliver a full order, so we refund you the remaining undelivered amount. Example: You bought an order with quantity 10 000 and charges 10$, let's say we delivered 9 000 and the remaining 1 000 we couldn't deliver, then we will "Partial" the order and refund you the remaining 1 000 (1$ in this example).
                            </div>
                        </div>
                        <div class="home-ss-tab">
                            <div class="ss-tab-head">
                                <div class="row">
                                    <div class="col">
Cancel button / Refill button is not working for me?
                                    </div>
                                    <div class="col-auto align-self-center right-p">
                                        <i class="fas fa-plus"></i>
                                        <i class="fas fa-minus"></i>
                                    </div>
                                </div>
                            </div>
                            <div class="ss-tab-content">
The cancel or refill button sends a trigger to cancel or refill an order, it doesn't work instantly, it's just a trigger, sometimes it's too late to stop an order, and sometimes an order might not need refill.
                            </div>
                        </div>
                        <div class="home-ss-tab">
                            <div class="ss-tab-head">
                                <div class="row">
                                    <div class="col">
Do you accept Credit Card Payments?
                                    </div>
                                    <div class="col-auto align-self-center right-p">
                                        <i class="fas fa-plus"></i>
                                        <i class="fas fa-minus"></i>
                                    </div>
                                </div>
                            </div>
                            <div class="ss-tab-content">
Yes, we do accept Credit Card Payments, If you can't see it in add funds page please contact via tickets.
                            </div>
                        </div>
                        <div class="home-ss-tab">
                            <div class="ss-tab-head">
                                <div class="row">
                                    <div class="col">
What is "Instagram impressions"?
                                    </div>
                                    <div class="col-auto align-self-center right-p">
                                        <i class="fas fa-plus"></i>
                                        <i class="fas fa-minus"></i>
                                    </div>
                                </div>
                            </div>
                            <div class="ss-tab-content">
Impression means reach (also how many users have seen your post) it is mostly used with brands, they will ask you to show them statistic of the impressions your posts have.
                            </div>
                        </div>
                        <div class="home-ss-tab">
                            <div class="ss-tab-head">
                                <div class="row">
                                    <div class="col">
What is Drip Feed?
                                    </div>
                                    <div class="col-auto align-self-center right-p">
                                        <i class="fas fa-plus"></i>
                                        <i class="fas fa-minus"></i>
                                    </div>
                                </div>
                            </div>
                            <div class="ss-tab-content">
Drip Feed is a service that we are offering so you would be able to put the same order multiple times automatically. Example: let's say you want to get 1000 likes on your Instagram Post but you want to get 100 likes each 30 minutes, you will put Link: Your Post Link Quantity: 100 Runs: 10 (as you want to run this order 10 times, if you want to get 2000 likes, you will run it 20 times, etc…) Interval: 30 (because you want to get 100 likes on your post each 30 minutes, if you want each hour, you will put 60 because the time is in minutes) P.S: Never order more quantity than the maximum which is written on the service name (Quantity x Runs), Example if the service's max is 4000, you don’t put Quantity: 500 and Run: 10, because total quantity will be 500x10 = 5000 which is bigger than the service max (4000). Also never put the Interval below the actual start time (some services need 60 minutes to start, don’t put Interval less than the service start time or it will cause a fail in your order).
                            </div>
                        </div>
                 
					</div>
				</div>
			</section>
		</div>
       </div>
	 </div>
	</div>
  </div>
</main>

		


      
      <div class="mobile-navbar">
        <div class="mobile-navbar-content">
            <a href="/" class="mnc-item">
                <div class="mnc-item-icon">
                    <i class="far fa-box-heart"></i>
                </div>
                <div class="mnc-item-text">New order</div>
            </a>
            <a href="/addfunds" class="mnc-item">
                <div class="mnc-item-icon">
                    <i class="ri-exchange-dollar-line"></i>
                </div>
                <div class="mnc-item-text">Add funds</div>
            </a>
            <a href="/tickets" class="mnc-item">
                <div class="mnc-item-icon">
                    <i class="ri-customer-service-2-line"></i>
                </div>
                <div class="mnc-item-text">Tickets</div>
            </a>
            <a href="/services" class="mnc-item">
                <div class="mnc-item-icon">
                    <i class="ri-list-check-2"></i>
                </div>
                <div class="mnc-item-text">Services</div>
            </a>
        </div>
    </div>
  
       <div class="bs-toast">
         <div class="bs-toast-content">
            <div class="toast-text">Copy to clipboard</div>
         </div>
      </div>

      <div class="overlay"></div>
     
 
     
 
 
 

{% include 'footer.twig' %}								