{% include 'header.twig' %}

{% if resetStep == 1 %}
<div class="container">
  <div class="row">
    <div class="col-md-12">

      {% if errorText %}
        <div class="alert alert-dismissible alert-danger">
          <button type="button" class="close" data-dismiss="alert">&times;</button>
          {{ errorText }}
        </div>
      {% endif %}
      {% if successText %}
        <div class="alert alert-dismissible alert-success">
          <button type="button" class="close" data-dismiss="alert">&times;</button>
          {{ successText }}
        </div>
      {% endif %}

      <div class="g-card">
          <div class="g-card-body">
        <form method="post" action="">

          <div class="form-group">
            <label for="username" class="control-label">{{ lang['resetpassword.user'] }}</label>
            <input type="text" class="form-control" name="user" value="{{ data['user'] }}">
          </div>

          <div class="form-group">
            <label for="username" class="control-label">{{ lang['resetpassword.type'] }}</label>
            <select class="form-control" name="type">
             {% for reset in resetType %}
              <option value="{{ reset['type'] }}">{{ reset['name'] }}</option>
             {% endfor %}
            </select>
          </div>


          {% if captcha %}
            <div class="form-group">
              <div class="g-recaptcha" data-sitekey="{{ captchaKey }}"></div>
            </div>
          {% endif %}

            <button type="submit" class="btn btn-primary click">{{ lang['resetpassword.button'] }}</button>
        </form>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="py-5"></div>
<div class="py-2"></div>
{% else %}
<div class="container">
  <div class="row">
    <div class="col-md-12">

      {% if errorText %}
        <div class="alert alert-dismissible alert-danger">
          <button type="button" class="close" data-dismiss="alert">&times;</button>
          {{ errorText }}
        </div>
      {% endif %}
      {% if successText %}
        <div class="alert alert-dismissible alert-success">
          <button type="button" class="close" data-dismiss="alert">&times;</button>
          {{ successText }}
        </div>
      {% endif %}

      <div class="g-card">
          <div class="g-card-body">
        <form method="post" action="">

          <div class="form-group">
            <label for="username" class="control-label">{{ lang['account.password.new'] }}</label>
            <input type="password" class="form-control" name="password">
          </div>

          <div class="form-group">
            <label for="username" class="control-label">{{ lang['account.password.confirm'] }}</label>
            <input type="password" class="form-control" name="confirm_password">
          </div>

            <button type="submit" class="btn btn-primary click">{{ lang['resetpassword.button'] }}</button>
        </form>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="py-5"></div>
{% endif %}

{% for lang in site['languages'] %}
  {% if lang['active'] %}
    <script src="https://www.google.com/recaptcha/api.js?hl={{ lang['code'] }}"></script>
  {% endif %}
{% endfor %}
<div class="modal fade" id="loginModal" tabindex="-1" role="dialog" aria-labelledby="loginModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content border-0 bg-gray shadow">
            <div class="modal-body py-5">
                <div class="text-center">
                    <i class="circle-icon icon-24 shadow bg-lighter ri-user-follow-line text-white"></i>
                    <div class="h3 mb-3">Giriş Yap</div>
                    <div>Giriş yapmak için aşağıdaki forma kullanıcı adınızı ve parolanızı girmeniz gereklidir.
                    </div>
					  {% if errorText %}
						<div class="alert alert-dismissible alert-danger">
						  <button type="button" class="close" data-dismiss="alert">&times;</button>
						  {{ errorText }}
						</div>
					  {% endif %}
					  {% if successText %}
						<div class="alert alert-dismissible alert-success">
						  <button type="button" class="close" data-dismiss="alert">&times;</button>
						  {{ successText }}
						</div>
					  {% endif %}
                    <form  method="post" action="">
                        <div class="mt-4">
                            <div class="input-group input-style">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"><i class="ri-user-line icon-24"></i></span>
                                </div>
                                <input type="text" class="form-control input-style" name="username" placeholder="Kullanıcı adınızı girin." required>
                            </div>
                        </div>
                        <div class="mt-4">
                            <div class="input-group input-style">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"><i class="ri-lock-line icon-24"></i></span>
                                </div>
                                <input type="password" class="form-control input-style" name="password" placeholder="Parolanızı girin." required>
                            </div>
                        </div>
                        <div class="mt-4 row text-left">
                            <div class="col">
                                <div class="custom-control custom-checkbox">
                                    <input type="checkbox" class="custom-control-input" id="remember" name="remember">
                                    <label class="custom-control-label" for="remember">{{ lang['signin.remember'] }}</label>
                                </div>
                            </div>
							{% if resetPage %}
                            <div class="col-auto">
                                <a href="/resetpassword" class="text-dark">{{ lang['signin.password.lost'] }}</a>
                            </div>
							{% endif %}
                        </div>
                        <div class="mt-4">
						  {% if captcha %}
							<div class="form-group">
							  <div class="g-recaptcha" data-sitekey="{{ captchaKey }}"></div>
							</div>
						  {% endif %}
                        </div>
                        <div class="mt-4">
                            <button type="submit" class="btn btn-success d-block w-100">{{ lang['signin.button'] }}</button>
                        </div>
                    </form>
                    <div class="mt-4 text-right">
                        <a href="javascript:;" data-dismiss="modal" class="btn btn-danger btn-sm d-inline-flex align-items-center">Formu Kapat<i class="ri-close-line ml-2"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<style>
    .modal-backdrop.fade.show {
    display: none;
}
</style>
{% include 'footer.twig' %}
