{% include 'header.twig' %}


	<div class="container">
  <div class="row">
    <div class="col-sm-12">
            <h2 class="title text-center top-spacing">
        Terms of <span>Service & Privacy Policy</span>
      </h2>
      <p class="txt text-center" style="margin-bottom: 30px;">The use of services provided by&nbsp;<b>{{ site["site_name"] }}&nbsp;( Onedigital Growth Ltd<font color="#273fdf"><i> </i></font> ) </b>&nbsp;the agreement to these terms.<br> By registering or using our services you <b>agree </b>that you have read and fully<br> understood the following terms of Service and <b>{{ site["site_name"] }} </b>will not be help liable for loss in any way for users who have not read the below terms of service.
        Company number:13170590 
        Address:71-75 Shelton Street, London, Greater London, United Kingdom, WC2H 9JQ
      </p>
          </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <ul class="nav nav-tabs term-tabs" id="myTab" role="tablist">
        <li class="nav-item active">
          <a class="nav-link" id="home-tab" data-toggle="tab" href="#general" role="tab" aria-controls="home" aria-selected="true"><i class="fas fa-user-shield"></i> General</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" id="profile-tab" data-toggle="tab" href="#services" role="tab" aria-controls="profile" aria-selected="false"><i class="fas fa-users"></i> Services</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" id="contact-tab" data-toggle="tab" href="#refund-policy" role="tab" aria-controls="contact" aria-selected="false"><i class="fas fa-hand-holding-usd"></i> Refund Policy</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" id="contact-tab" data-toggle="tab" href="#privacy-policy" role="tab" aria-controls="contact" aria-selected="false"><i class="fad fa-file-check"></i> Privacy Policy</a>
        </li>
      </ul>
      <div class="tab-content term-tab-content" id="myTabContent">
        <div class="tab-pane fade in active" id="general" role="tabpanel" aria-labelledby="home-tab">
          <h2 class="term-title"><i class="fas fa-user-shield"></i> General</h2>
          <p class="txt">By placing an order with <b>{{ site["site_name"] }}</b>, you automatically accept all the below-listed term of services whether you read them or not.
          </p>
          <p class="txt">
            By creating an account on our platform, you agree to receive our monthly news letters dedicated only for promotions and service updates information.
          </p>
          <p class="txt">We reserve the right to change these terms of service without notice. You are expected to read all terms of service before placing every order to ensure you are up to date with any changes or any future changes.
          </p>
          <p class="txt">You will only use the <b>{{ site["site_name"] }} </b>website in a manner which follows all agreements made with <b>Soundcloud/Vine/Pinterest/Youtube/other social media</b> site on their individual Terms of Service page.
          </p>
          <p class="txt"><b>{{ site["site_name"] }} </b>rates are subject to change at any time without notice. The terms stay in effect in the case of rate changes.</p>
          <p class="txt"><b>{{ site["site_name"] }} </b>does not guarantee a delivery time for any services. We offer our best estimation for when the order will be delivered. This is only an estimation and <b>&nbsp;{{ site["site_name"] }}&nbsp; </b>will not refund orders that are processing if you feel they are taking too long.</p>
          <p class="txt"><b>{{ site["site_name"] }} </b>tries hard to deliver exactly what is expected of us by our resellers. In this case, we reserve the right to change a service type if we deem it necessary to complete an order.</p>
          <p class="txt">Disclaimer:<br> <b>{{ site["site_name"] }} </b>will not be responsible for any damages you or your business may suffer.</p>
          <p class="txt">Liabilities:<br> <b>{{ site["site_name"] }} </b>is in no way liable for any account suspension or picture deletion done by YouTube or Soundcloud or Vine or Pinterest or Other Social Media.</p>
          <p class="txt">You can pay for your order by bank cards Visa, Master Card, Mir or through payment systems Apple Pay, Yandex.Money, QIWI or PayPal (the latter is for customers from all countries, except Russia). To pay for your purchase, you will be redirected to the Unitpay payment system server. When paying with a bank card, the security of payments is guaranteed by the Unitpay processing center.
          </p>
          <p class="txt">
            The Unitpay payment system has a confirmed certificate of compliance with the PCI DSS standard in terms of storing, processing and transferring cardholder data. PCI DSS Banking Payment Systems Security Standard, including MasterCard and Visa, Inc. Unitpay is also a member of the Continuous Compliance Program PCI DSS Compliance Process (P.D.C.P.). Your confidential data required for payment (card details, registration data, etc.) do not go to the online store - they are processed on the side of the Unitpay processing center and is fully protected.</p>
          <p class="txt">Payment cards accepted for payment: VISA, MasterCard, Maestro, MIR.
            To pay for the goods by credit card when placing an order in the online store, select the payment method: credit card.
            When paying for an order with a bank card, the payment is processed on the bank's authorization page, where you need to enter your bank card details:<br>
            1. Card type<br>
            2. Card number,<br>
            3. Card validity period<br>
            4. Name of the cardholder (in Latin letters, exactly as indicated on the card)<br>
            5.CVC2 / CVV2 code<br>


            If your card is connected to the 3D-Secure service, you will be automatically redirected to the page of the bank that issued the card to go through the authentication procedure. For information on the rules and methods of additional identification, check with the Bank that issued your bank card.</p>

        </div>
        <div class="tab-pane fade" id="services" role="tabpanel" aria-labelledby="profile-tab">
          <h2 class="term-title"><i class="fas fa-users"></i> Services</h2>

          <p class="txt"><b>{{ site["site_name"] }} </b>will only be used to promote your YouTube or Soundcloud or Vine or Pinterest or Social account and help boost your "Appearance" only.</p>
          <p class="txt">
            We <b>DO NOT</b> guarantee your new followers will interact with you, we simply <b>guarantee </b>you to get the followers you pay for.</p>
          <p class="txt">
            We <b>DO NOT</b> guarantee 100% of our accounts will have a profile picture, full bio and uploaded pictures, although we strive to make this the reality for all accounts.</p>
          <p class="txt">
            You will not upload anything into the <b>{{ site["site_name"] }} </b>site including nudity or any material that is not accepted or suitable for the YouTube or Soundcloud or Vine or Pinterest or Social Media community.</p>
          <p class="txt">
            <b>If your page had 100k+ followers/likes/views already before you order us, it will not cover refill protection, even if you order for refill server from us, as&nbsp;its&nbsp;not possible to understand from where you lost the followers/likes/views.&nbsp;</b></p>

        </div>
        <div class="tab-pane fade" id="refund-policy" role="tabpanel" aria-labelledby="contact-tab">
          <h2 class="term-title"><i class="fas fa-hand-holding-usd"></i> Refund Policy</h2>
          <p class="txt">After deposit, if you would like to get refund the remaining balance, you can ask for refund to your payment gateway any time you want. We will refund to your payment gateway within 3-4 Weeks. However, getting money to your card or bank depend on your local bank or card company.</p>
          <p class="txt">If you file a dispute or charge-back against us after a deposit without any valid reason, we reserve the right to terminate all future orders, ban you from our site. We also reserve the right to take away any followers or likes we delivered to your or your client's Instagram/Facebook/Twitter or other social media account.</p>
          <p class="txt">Orders placed in &nbsp;{{ site["site_name"] }}&nbsp;, will be refunded or canceled if a customer requests for it.Y ou will receive a refund credit to your &nbsp;{{ site["site_name"] }}&nbsp; account if the order is non-deliverable.</p>
          <p class="txt">Misplaced or Private account orders will not qualify for a refund. Be sure to confirm each and every order before placing it.</p>
          <p class="txt">Fraudulent activity such as using unauthorized or stolen credit cards will lead to termination of your account. There are no exceptions.</p>
          <p class="txt">Please do not use more than one server at the same time for the same page. We cannot give you the correct followers/likes number in that case. We will not refund these orders.</p>

        </div>
        <div class="tab-pane fade" id="privacy-policy" role="tabpanel" aria-labelledby="contact-tab">
          <h2 class="term-title"><i class="fad fa-file-check"></i> Privacy Policy</h2>
          <p class="txt">HI THERE - WE RESPECT YOUR PRIVACY!</p>
          <p class="txt">WE HATE PRIVACY BREACH AS MUCH AS YOU DO. BUT DURING THE TOTAL BUSINESS PROCESS WITH YOU, WE MIGHT NEED TO SHARE SOME OF YOUR DATA WITH THIRD PARTY. DETAILS OF OUR PRIVACY POLICY IS GIVEN BELOW. PLEASE NOTE THAT, BY PLACING ORDER WITH &nbsp;{{ site["site_name"] }}&nbsp;, YOU AGREE WITH OUR TERMS AND CONDITIONS AND PRIVACY POLICY. WE MIGHT CHANGE THE PRIVACY POLICY TIME TO TIME.</p>
          <p class="txt">
            <b>PLEASE READ THE FOLLOWING CAREFULLY BEFORE PROCEEDING TO USE &nbsp;{{ site["site_name"] }}:
              <br>
              Data Collection:</b>
          </p>
          <p class="txt">This document describes the official privacy policy of &nbsp;{{ site["site_name"] }}&nbsp;. The user is advised to read the privacy policy and ensure that he/she has no ambiguity with reference to any point of the Privacy Policy.</p>
          <p class="txt">The user is informed that by visiting, using and continuing to use &nbsp;{{ site["site_name"] }}&nbsp; or subscribing to any package of the Services, it shall be presumed that the user has accepted all the points of the Privacy Policy. If you do not agree to the Privacy Policy, please do not use &nbsp;{{ site["site_name"] }}&nbsp; and the Services.</p>
          <p class="txt"><b>What information we collect:</b></p>
          <p class="txt">We might collect the following information from our user and use for the purpose of completing the transaction, job, and maintenance of our financial or strategic information:<br>
            Name<br>
            Business Name<br>
            User name of the client’s social media account<br>
            Email<br>
            Phone number<br>
            User preferences and history of internet use for optimization of the services by employing the cookies.
          </p>
          <p class="txt"><b>What are Cookies?</b></p>
          <p class="txt">The cookies are a small piece of data consisting of a text-only string of information introduced by a particular website and are stored in the hard disk of the machine. They collect data relating to the browsing preferences and history, and such other information the user has provided to the website.</p>
          <p class="txt"><b>Our Cookies</b></p>
          <p class="txt">Our cookies aim to give the user an optimal use of &nbsp;{{ site["site_name"] }}&nbsp;. The collected information is also used for general marketing and statistical analysis. Our cookies do not collect personal data of user. Some cookies are communicated to the user’s hard disk by the third party. &nbsp;{{ site["site_name"] }}&nbsp; has no affiliation with such party. &nbsp;{{ site["site_name"] }}&nbsp; disclaims any liability arising from such cookies. The client is advised to read the respective policy of the third party or block their entrance.</p>
          <p class="txt"><b>How to Stop Cookies</b></p>
          <p class="txt">By default, the browsers are set to allow cookies. The user may opt to disable cookies if he/she does not want them to process in user’s machine by changing browser settings. It is also possible to configure browser setting allowing some and denying the others to have access to the user’s computer or set the browser to notify when a cookie knock. The ‘Help’ section of the browser may assist the user to manage the cookies preference.</p>
          <p class="txt"><b>Security and Confidentiality of the Information</b></p>
          <p class="txt">{{ site["site_name"] }} respect the privacy of the user. &nbsp;{{ site["site_name"] }}&nbsp; employs a sophisticated security system to make it sure that such information is within the trusted staff of &nbsp;{{ site["site_name"] }}&nbsp; and uses it on the ‘need-to-know basis’. The payment-related information is encrypted with the help of the highly reliable technology SSL. &nbsp;{{ site["site_name"] }}&nbsp; has taken all the possible steps to safeguard the information relating to the user is safe. &nbsp;{{ site["site_name"] }}&nbsp; disclaims the liability in case of &nbsp;{{ site["site_name"] }}&nbsp; fails to maintain the security due to the cause beyond the reasonable control.</p>
          <p class="txt"><b>Modifications</b></p>
          <p class="txt">{{ site["site_name"] }} may change, modify or amend the Privacy Policy at any time without prior notice. The amended version of Privacy Policy shall immediately be effective after it is posted on &nbsp;{{ site["site_name"] }}&nbsp;</p>

        </div>
      </div>
    </div>
  </div>
</div>









{% include 'footer.twig' %}