{% include 'header.twig' %}


       
<div class="paddingbody"></div>
		<div class="">			
			<div class="container-fluid container-fluid-spacious">
				<div class="row">
					<div class="col-md-12">
						<div id="main-page" class="well well-float table-responsive">
							<div class="">
								
								{% if error %}
        <div class="alert alert-dismissible alert-danger">
          <button type="button" class="close" data-dismiss="alert">×</button>
          {{ errorText }}
        </div>
      {% endif %}
      {% if success %}
        <div class="alert alert-dismissible alert-success">
          <button type="button" class="close" data-dismiss="alert">×</button>
          {{ successText }}
        </div>
      {% endif %}
    
     	<form method="post" action="">
									<div class="form-group">
										<label class="control-label" for="current_password">Current password</label>
										<input type="password" class="form-control" value="" name="current_password">
										<p class="help-block help-block-error"></p>
									</div>

									<div class="form-group">
										<label class="control-label" for="new_password">New password</label>
										<input type="password" class="form-control" value="" name="password">
										<p class="help-block help-block-error"></p>
									</div>

									<div class="form-group">
										<label class="control-label" for="new_password2">Confirm new password</label>
										<input type="password" class="form-control" value="" name="confirm_password">
										<p class="help-block help-block-error"></p>
									</div>
									
									<button type="submit" class="btn btn-default">Change password</button>
									
								</form>
								
								
								
								<form method="post" action="account/timezone">
								 <div class="form-group">
										 <label for="charge" class="control-label">{{ lang['account.timezone.title'] }}</label>
										 <select class="form-control" name="timezone">
											 {% for timezone in timezones %}
											 <option {% if timezone["timezone"] == user['timezone'] %} selected {% endif %} value="{{ timezone["timezone"] }}">{{ timezone["label"] }}</option>
											 {% endfor %}
										 </select>
									   </div>

									   <button type="submit" class="btn btn-default">{{ lang['account.timezone.button'] }}</button>
									
								</form>
								
								
								
								
								
								
								
								
								
								<form action="/account/newapikey" method="POST">
									<div class="form-group panel-border-top">
										<label class="control-label" for="api_key">API key</label>
										<input class="form-control" id="api_key" value="bc255***************66098" readonly="readonly" type="text">
									</div>
									
								
									
									<button type="submit" class="btn btn-default">Generate new</button>
									
								</form>
								
							</div>
						</div>
						
					</div>
				</div>
			</div>
		</div>
		
		
                              
                              



 
{% include 'footer.twig' %}
