{% include 'header.twig' %}







<div class="paddingbody"></div>
		<div class="container-fluid container-fluid-spacious">
			<div class="row">
				<div class="col-md-12">
				   
				   
				<div  class=" well-float table-responsive">
					
				
					
					<div class="well">

            					{% if contentText %}
{{ contentText }}
</div>
{% endif %}

            
            
            </div>
            
            
            <style>
				.filter_wraper{
					padding-right: 10px;
					padding-left: 10px;
					padding-bottom: 10px;
					max-height: 183px;
					overflow: scroll;
				}
				.filter_wraper .col-sm-6,.filter_wraper .col-md-3{
					padding-left:0px;
					padding-right:0px;
				}
				.filter_wraper .filter_item.brand-category {
					color: #fff;
					padding: 12px 12px;
					background: #f36b15;
					border-radius: 6px;
					align-items: center;
					text-decoration: none;
					transition: 0.5s;
					margin: 5px;
					cursor: pointer;
				}
				
				@media only screen and (max-width: 768px) {
					.filter_wraper .col-sm-6{
						float: left;
						width: 50%;
					}
				}

				</style>
				
				 {% if settings['neworder_blocks'] == 1  %}

<div class="filter_wraper row">
<div class=" col-sm-6 col-md-3 ">
<div onclick="filterStarted('instagram')" class="btn_cat_filter filter_item brand-category" data-id="instagram">
<span class="icons"> <i class="fab fa-instagram"></i> </span>Instagram
</div>
</div>
<div class=" col-sm-6 col-md-3 ">
<div onclick="filterStarted('youtube')" class="btn_cat_filter filter_item brand-category" data-id="youtube">
<span class="icons"> <i class="fab fa-youtube"></i> </span>YouTube
</div>
</div>
<div class=" col-sm-6 col-md-3 ">
<div onclick="filterStarted('twitter')" class="btn_cat_filter filter_item brand-category" data-id="instagram">
<span class="icons"> <i class="fab fa-twitter"></i> </span>Twitter
</div>
</div>
<div class=" col-sm-6 col-md-3 ">
<div onclick="filterStarted('facebook')" class="btn_cat_filter filter_item brand-category" data-id="facebook">
<span class="icons"> <i class="fab fa-facebook"></i> </span>Facebook
</div>
</div>
<div class=" col-sm-6 col-md-3 ">
<div onclick="filterStarted('spotify')" class="btn_cat_filter filter_item brand-category" data-id="spotify">
<span class="icons"> <i class="fab fa-spotify"></i> </span>Spotify
</div>
</div>
<div class=" col-sm-6 col-md-3 ">
<div onclick="filterStarted('tiktok')" class="btn_cat_filter filter_item brand-category" data-id="tiktok">
<span class="icons"> <i class="fab fa-tiktok"></i> </span>TikTok
</div>
</div>
<div class=" col-sm-6 col-md-3 ">
<div onclick="filterStarted('linkedin')" class="btn_cat_filter filter_item brand-category" data-id="linkedin">
<span class="icons"> <i class="fab fa-linkedin"></i> </span>LinkedIn
</div>
</div>
<div class=" col-sm-6 col-md-3 ">
<div onclick="filterStarted('google')" class="btn_cat_filter filter_item brand-category" data-id="google">
<span class="icons"> <i class="fab fa-google"></i> </span>Google
</div>
</div>
<div class=" col-sm-6 col-md-3 ">
<div onclick="filterStarted('telegram')" class="btn_cat_filter filter_item brand-category" data-id="telegram">
<span class="icons"> <i class="fab fa-telegram"></i> </span>Telegram
</div>
</div>
<div class=" col-sm-6 col-md-3 ">
<div onclick="filterStarted('twitch')" class="btn_cat_filter filter_item brand-category" data-id="twitch">
<span class="icons"> <i class="fab fa-twitch"></i> </span>Twitch
</div>
</div>
<div class=" col-sm-6 col-md-3 ">
<div onclick="filterStarted('others')" class="btn_cat_filter filter_item brand-category" data-id="other">
<span class="icons"> <i class="fas fa-asterisk"></i> </span>Others
</div>
</div>
<div class=" col-sm-6 col-md-3 ">
<div onclick="filterStarted('')" class="btn_cat_filter filter_item brand-category" data-id="everything">
<span class="icons"> <i class="fab fa-audible"></i> </span>Everything
</div>
</div>
</div>
        {% endif %}      
				
				<div class=" row card-divs">	
					<div class="col-md-4">
					  <div class="cards">
						<div class="card-body">
						  <h3 class="card-title">Total Spent</h3>
						  <h3 class="card-text text-right">{{ currency["symbol"]  }} {{ (user["spent"]*currency["value"]) |round(2, 'floor') }}</h3>
						  
						</div>
					  </div>
					</div>
					<div class="col-md-4">
					  <div class="cards">
						<div class="card-body">
						  <h3 class="card-title">Total Orders</h3>
						  <h3 class="card-text text-right">  {{ordersCount}}</h3>
						  
						</div>
					  </div>
					</div>
					<div class="col-md-4">
					  <div class="cards">
						<div class="card-body">
						  <h3 class="card-title">Total Balance</h3>
						  <h3 class="card-text text-right">{{ currency["symbol"]  }} {{ (user["balance"]*currency["value"]) |round(2, 'floor') }}</h3>
						</div>
					  </div>
					</div>
				</div>
				<p></p>
				
				
				
				
			
		
				
				
				<div class="row">
					<div class="col-md-12">
						<nav>
							<ul class="nav nav-pills " id="pills-tab" role="tablist">
								<li class="nav-item active">
									<a class="nav-link active" id="pills-home-tab" data-toggle="pill" href="#new-order" role="tab" aria-controls="pills-home" aria-selected="true">New Order</a>
								</li>
								<li class="nav-item">
									<a class="nav-link" id="pills-home-tab" data-toggle="pill" href="#check-updates" role="tab" aria-controls="pills-home" aria-selected="true">Check Updates</a>
								</li>
							<!--	<li class="nav-item">
									<a  class="nav-link" id="pills-home-tab" data-toggle="pill" href="#all" role="tab" aria-controls="pills-home" aria-selected="true">Others</a>
								</li> -->
							</ul>
							<select name="page_Category" id="page_Category" class="custom-select w-full">
								<option value="0">New Order</option>
								<option value="1">Check Updates</option>
								<option value="2">Others</option>
							</select>
						</nav>
					</div>
					<div class="col-md-12">
					<!-- Tab Conetent Starts here -->
						<div class="tab-content" id="pills-tabContent">
							<!-- New Order Tab -->
							<div class="tab-pane fade active in" id="new-order" role="tabpanel" aria-labelledby="pills-home-tab">
							    <div id="main-page" class="well well-float table-responsive">
                        

	
                      <form method="post" action="">

                         {% if error %}
                     <div class="alert alert-dismissible alert-danger">
                        {{ errorText }}
                     </div>
                     {% endif %}
                     {% if data["order"]["success"] == 1 %}
                     <div class="alert alert-dismissible alert-success">
                        <strong> {{ lang["neworder.success.id"] }}: </strong> {{ data['order']['id'] }} <br>
                        <strong> {{ lang["neworder.success.service"] }}: </strong> {{ data['order']['service'] }} <br>
                        <strong> {{ lang["neworder.success.link"] }}: </strong> {{ data['order']['link'] }} <br>
                        <strong> {{ lang["neworder.success.quantity"] }}: </strong> {{ data['order']['quantity'] }} <br>
                        <strong> Spent: </strong> 
                        
                        
                        {{ currency["symbol"]  }} {{ (data['order']['price']*currency["value"]) |round(2, 'floor') }}
                        
                        <br>
                        <strong> {{ lang["neworder.success.balance"] }}: </strong>{{ currency["symbol"]  }} {{ (user["balance"]*currency["value"]) |round(2, 'floor') }} <br>
                     </div>
                     {% endif %}
                     {% if data["order"]["success"] == 2 %}
                     <div class="alert alert-dismissible alert-success">
                        <strong> {{ lang["neworder.success.id"] }}: </strong> {{ data['order']['id'] }} <br>
                        <strong> {{ lang["neworder.success.service"] }}: </strong> {{ data['order']['service'] }} <br>
                        <strong> {{ lang["neworder.success.username"] }}: </strong> {{ data['order']['link'] }} <br>
                        <strong> {{ lang["neworder.success.quantity"] }}: </strong> {{ data['order']['min'] }} - {{ data['order']['max'] }} <br>
                        <strong> {{ lang["neworder.success.posts"] }}: </strong> {{ data['order']['posts'] }} <br>
                        <strong> {{ lang["neworder.success.delay"] }}: </strong>{{ data['order']['delay'] }} <br>
                     </div>
                     {% endif %}





 <form method="post" action="/">
     
                        {% if categories %}
                        <div class="form-group">
                           <label for="orderform-category" class="control-label">{{ lang["neworder.category"] }}</label>
                           
                           <select class="form-control" id="neworder_category" name="categories" style="display: none">
                           {% for category in categories %}
                           <option {% if 1 == loop.index %} selected {% endif %} value="{{ category['category_id'] }}" >{{ category["category_name"] }}</option>
                           {% endfor %}
                           </select>
                           <div class="dropdown">
                              <button class="form-control text-left" type="button" id="dropdownMenu3" data-toggle="dropdown" aria-haspopup="false" aria-expanded="false">
                              <span id="categoryTitle"></span>
                              <i class="fas fa-chevron-down float-right" aria-hidden="true"></i>
                              </button>
                              <div class="dropdown-menu" aria-labelledby="dropdownMenu2" id="category-drop">
                              </div>
                           </div>
                        </div>
                        {% endif %}
                        
                        

<div class="form-group mb-4">
                           <label id="orderform-service" for="orderform-service" class="control-label" data-label="{{ lang["neworder.service"] }}">{{ lang["neworder.service"] }}</label>
                           <select class="form-control" id="neworder_services" name="services" style="display: none;"> </select>
                           <div class="dropdown">
                              <button class="form-control text-left" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="false" aria-expanded="false">
                              <span id="serviceTitle"></span>
                              <i class="fa fa-caret-down float-right" aria-hidden="true"></i>
                              </button>
                              <div class="dropdown-menu" aria-labelledby="dropdownMenu2" id="orders-drop">
                              </div>
                           </div>
                        </div>
                        
                        
 <div id="neworder_fields"></div>


<div class="form-group" id="charge_div">
              <label for="charge" class="control-label">{{ lang["neworder.charge"] }}</label>
              <input type="text" class="form-control" id="charge" readonly>
            </div>



 {% if neworderTerms %}
                        <div class="checkbox">
                           <label>
                           <input type="checkbox" name="neworder_check">{{ lang['neworder.recheck'] }}
                           </label>
                        </div>
                        {% endif %}

 <button type="submit" class="btn btn-default">Submit</button>
</form>
                      </div>
                   </div>



<!--- end -->


 <!-- Check Updates Tab -->
							<div class="tab-pane fade" id="check-updates" role="tabpanel" aria-labelledby="pills-contact-tab">
								<div id="main-page" class="well well-float table-responsive">
								    
								    
								    
								{% if PageText %} 
		
	<div class="card">
		{{ contentText2 }}
	        {% endif %}
								
								</div>
								
								</div>
							</div>
							
							
							
							
							
							

<script>
    

  
  
  var categories = {{categories|json_encode()}};
  
  
  
  
setTimeout(function () {
                $('#neworder_services').trigger('change');
                $('.btn_cat_filter').on('click', function() {
                  
                    category = $(this).data('id');
                    
                     var category_2 = null;
                    if(category == 'instagram'){
                            category_2 = "انستغرام";
                    }
                    if(category == 'facebook'){
                            category_2 = "فايسبوك";
                    }
                    if(category == 'youtube'){
                            category_2 = "يوتيوب";
                    }
                    if(category == 'twitter'){
                            category_2 = "تويتر";
                    }
                    if(category == 'tiktok'){
                            category_2 = "تيك توك";
                    }
                    if(category == 'telegram'){
                            category_2 = "تلغرام";
                    }
                    
                    
                    $('#neworder_category').html("");
                    categories.forEach(element => {
                        if (category == "everything") {
                            $('#neworder_category').append("<option value='" + element.category_id + "'>" + element.category_name + "</option>");
                        } else if (category == "other") {
                            if (!element.category_name.toLowerCase().includes("instagram") &&
                                !element.category_name.toLowerCase().includes("facebook") &&
                                !element.category_name.toLowerCase().includes("youtube") &&
                                !element.category_name.toLowerCase().includes("twitter") &&
                                !element.category_name.toLowerCase().includes("tiktok") &&
                                !element.category_name.toLowerCase().includes("telegram")) {
                                $('#neworder_category').append("<option value='" + element.category_id + "'>" + element.category_name + "</option>");
                            }
                        } else if (element.category_name.toLowerCase().includes(category) || element.category_name.toLowerCase().includes(category_2)) {
                            $('#neworder_category').append("<option value='" + element.category_id + "'>" + element.category_name + "</option>");
                        }
                    });
                    $('#neworder_category').trigger('change');
                    setTimeout(function(){
                        $(".smmspot-sb-dd-item").each(function() {
                            var ico = ikon($(this).text());
                            $(this).html(ico + $(this).text() );
                            console.log($(this).text());
                        });
                    }, 500);
                    setTimeout(function(){
                        $(".smmspot-sb-selected").each(function() {
                            var ico = ikon($(this).text());
                            $(this).html(ico + $(this).text() );
                            console.log($(this).text());
                        });
                    }, 500);
                });
            
        }, 400);
        
</script>

							
							
							
							
{% include 'footer.twig' %}






