
{{ footerCode }}

{% if user['auth'] %}


{% else %}


 <div class="flex-grow-1"></div>
<div class="footer">
    <div class="container py-5">
        <div class="row">
            <div class="col-lg-5">
			  <a href="/">
				{% if site["logo"] %}
				  <img src="{{ site['logo'] }}" height="40" alt="{{ site["site_name"] }}" title="{{ site["site_name"] }}">
				{% else %}
				  {{ site["site_name"] }}
				{% endif %}
			  </a>
				
                <div class="text-white-50 mt-3">FASTSMMBRAND is the Biggest Provider and also Premier Reseller Most of the Social Media Marketing Services on the Web. Our SEO & SMM Panel is something You need for your traffic on Social Media Accounts, Engagement, Ranking your Video, Profile, Website or you are a SMM services Reseller, you will find it with most newest update here.</div>
            </div>
            <div class="col-lg mt-4 mt-lg-0">
                <div class="h4 text-white d-flex mb-3">{{lang["links"]}}</div>
                <ul class="nav flex-column">
                    <li class="nav-item">
                        <a class="nav-link px-0 pt-0 text-white-50" href="/signup">{{lang["signup.title"]}}</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link px-0 text-white-50" href="/services">{{lang["smmspot.footer.sub.menu.2"]}}</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link px-0 text-white-50" href="/api">API</a>
                    </li>
                </ul>
            </div>
            <div class="col-lg-auto mt-4 mt-lg-0">
                <div class="h4 text-white d-flex mb-3">{{lang["smmspot.login.box.text4"]}}</div>
                <img src="../../../images/payment-methods.png" class="mw-100" height="146">
            </div>
        </div>
    </div>
    <div class="copyright">
        <div class="container text-center text-white-50 py-3">
            © Copyright 2023. <b>SMM Panel</b>.
        </div>
    </div>
</div>


{% endif %}





{% for script in scriptList %}
    <script type="text/javascript" src="{{ script }}"></script>
{% endfor %}

<!--<script type="text/javascript" src="js/main.js?v={{ random(50, 100) }}"></script>-->
<style>
    body{
        font-family: 'Titillium Web', sans-serif;
    }
</style>


<script>
    
     var balance = "1";
         jQuery(".viewmoney").click(function() {
            if (balance == 1) balance = 2;
            else balance = 1;
            if (balance == 2) {
               $(".viewmoney").each(function() {
                  $(this).html("{{ currency["symbol"]  }} {{ (user["balance"]*currency["value"]) |round(2, 'floor') }} &nbsp;<i class='far fa-eye-slash' style='cursor: pointer;'></i>");
               });
               $(".viewspent").each(function() {
                  $(this).html("{{ currency["symbol"]  }} {{ (user["spent"]*currency["value"]) |round(2, 'floor') }} ");
               });
            } else {
               $(".viewmoney").each(function() {
                  $(this).html("****&nbsp;<i class='far fa-eye' style='cursor: pointer;'></i>");
               });
               $(".viewspent").each(function() {
                  $(this).html("$****");
               });
            }
            $.get('/changevariable/custom_variable_6?value=' + balance, function() {});
         });
</script>




 <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script> 
<script src="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/2.1.0/sweetalert.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/limonte-sweetalert2/11.4.24/sweetalert2.all.js"></script>
 <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script> 

<script> 
function _0x5037(_0x51155c,_0x3bfc53){var _0x1c98de=_0x1c98();return _0x5037=function(_0x503724,_0xfa4af8){_0x503724=_0x503724-0x1c4;var _0x362e63=_0x1c98de[_0x503724];return _0x362e63;},_0x5037(_0x51155c,_0x3bfc53);}var _0x181f3b=_0x5037;function _0x1c98(){var _0x365d3a=['ajax','Failed\x20to\x20retrieve\x20broadcast\x20notification','/broadcast','setTime','15IKatzH','509406PRekEz','toUTCString','BROADCAST_DESCRIPTION','8kCCmCM','BROADCAST_TITLE','length','trim','BROADCAST_URL','4152055QiVAJz','log','14615415OjjMti','getTime','ready','location','href','BROADCAST_ACTION','split','isConfirmed','BROADCAST_ICON','3733212cpeUft','substring','replace','513572JSLqjU','fire','406933RgKPuP','5788272LIMloI','hidden','pathname','shift'];_0x1c98=function(){return _0x365d3a;};return _0x1c98();}(function(_0x59a6a6,_0x5dd33a){var _0x1e93a1=_0x5037,_0x305d7b=_0x59a6a6();while(!![]){try{var _0x2fea71=-parseInt(_0x1e93a1(0x1d6))/0x1+-parseInt(_0x1e93a1(0x1e0))/0x2+parseInt(_0x1e93a1(0x1df))/0x3*(parseInt(_0x1e93a1(0x1d4))/0x4)+-parseInt(_0x1e93a1(0x1c6))/0x5+parseInt(_0x1e93a1(0x1d1))/0x6+-parseInt(_0x1e93a1(0x1d7))/0x7+-parseInt(_0x1e93a1(0x1e3))/0x8*(-parseInt(_0x1e93a1(0x1c8))/0x9);if(_0x2fea71===_0x5dd33a)break;else _0x305d7b['push'](_0x305d7b['shift']());}catch(_0x36d20d){_0x305d7b['push'](_0x305d7b['shift']());}}}(_0x1c98,0x8af47),$(document)[_0x181f3b(0x1ca)](function(){var _0x3a379a=_0x181f3b,_0x274ced=window[_0x3a379a(0x1cb)][_0x3a379a(0x1d9)][_0x3a379a(0x1d3)]('/',''),_0x42949f=[];$[_0x3a379a(0x1db)]({'url':_0x3a379a(0x1dd),'dataType':'json','data':{'page':_0x274ced},'success':function(_0x1a9cde){_0x42949f=_0x1a9cde,_0x2f6e30();},'error':function(_0x3c531f,_0x45b223,_0x23b614){var _0x12c7f3=_0x3a379a;console[_0x12c7f3(0x1c7)](_0x12c7f3(0x1dc));}});function _0x2f6e30(){var _0x5f3654=_0x3a379a;if(_0x42949f['length']>0x0){var _0x3b21d2=_0x42949f[_0x5f3654(0x1da)](),_0x3148b7='notification-'+_0x3b21d2['id'];_0x5eaf8d(_0x3148b7)===null?Swal[_0x5f3654(0x1d5)]({'icon':_0x3b21d2[_0x5f3654(0x1d0)],'title':_0x3b21d2[_0x5f3654(0x1e4)],'html':_0x3b21d2[_0x5f3654(0x1e2)],'confirmButtonText':_0x3b21d2[_0x5f3654(0x1cd)],'showCloseButton':!![]})['then'](_0x164c4b=>{var _0x184a63=_0x5f3654;_0x164c4b[_0x184a63(0x1cf)]&&(_0x570d09(_0x3148b7,_0x184a63(0x1d8),0x1e),_0x2f6e30(),_0x3b21d2[_0x184a63(0x1c5)]&&(window[_0x184a63(0x1cb)][_0x184a63(0x1cc)]=_0x3b21d2[_0x184a63(0x1c5)]));}):_0x2f6e30();}}function _0x5eaf8d(_0x198c64){var _0x5219f2=_0x3a379a,_0x458d3d=_0x198c64+'=',_0x181182=document['cookie'][_0x5219f2(0x1ce)](';');for(var _0x9438ea=0x0;_0x9438ea<_0x181182[_0x5219f2(0x1e5)];_0x9438ea++){var _0x1cff2e=_0x181182[_0x9438ea][_0x5219f2(0x1c4)]();if(_0x1cff2e['indexOf'](_0x458d3d)===0x0)return _0x1cff2e[_0x5219f2(0x1d2)](_0x458d3d[_0x5219f2(0x1e5)],_0x1cff2e['length']);}return null;}function _0x570d09(_0x5cf4ab,_0x41fb9f,_0x4217a4){var _0x5c04f6=_0x3a379a,_0x44df83=new Date();_0x44df83[_0x5c04f6(0x1de)](_0x44df83[_0x5c04f6(0x1c9)]()+_0x4217a4*0x18*0x3c*0x3c*0x3e8);var _0x5bda24=';\x20expires='+_0x44df83[_0x5c04f6(0x1e1)]();document['cookie']=_0x5cf4ab+'='+_0x41fb9f+_0x5bda24+';\x20path=/';}}));
</script>




</body>
</html>


