
{{ footerCode }}

{% if user['auth'] %}




<footer>
	<div class="container">
		<div class="row">
			<div class="col-sm-4">
          <a href="/">              <img src="{{ site["logo"] }}" alt="{{ site["site_name"] }}" title="{{ site["site_name"] }}">
          </a>
              <p>{{ site["site_name"] }} offers an exceptional range of Social Media Marketing services that are designed to help you drive more traffic to your social media accounts, increase engagement, and boost your video, profile, and website rankings. Our comprehensive SEO & SMM Panel is the ultimate solution for all your social media marketing needs. Whether you are a reseller or looking to enhance your online presence, you can trust us to provide you with the latest and most effective tools and services.</p>
              <h6>Get Updates</h6>
              <form>
                <div class="input-group">
                  <input type="text" class="form-control" placeholder="enter your email address">
                  <div class="input-group-btn">
                    <button class="btn btn-default" type="submit">
                      <img src="//i.imgur.com/cPCo4UF.png">
                    </button>
                  </div>
                </div>
              </form>
			</div>
          	<div class="col-sm-3">
          		<h6>Usefull Links</h6>
              <ul>
                                <li class="active" ><a href="/">New order</a></li>
                                <li><a href="/services">Services</a></li>
                                <li><a href="/orders">Orders</a></li>
                                <li><a href="/addfunds">Add funds</a></li>
                                <li><a href="/affiliates">Affiliates</a></li>
                                <li><a href="/child-panels">Child panel</a></li>
                                <li><a href="mailto:support@{{ site["site_name"] }}">Contact Us ⎋</a></li>
                                <li><a href="/terms">Terms</a></li>
                                <li><a href="/faqs">FAQs</a></li>
                              </ul>
          	</div>
          	<div class="col-sm-3 liveChat">
          		<h6>Live Chat Support</h6>
                <!-- <h7>suramonsweet</h7> -->
              	<div class="media">
                    <div class="media-left">
                      <a href="#">
                        <img class="media-object" src="https://cdn.mypanel.link/6f7c88/tuuygh69w1n2kira.png">
                      </a>
                    </div>
                    <div class="media-body media-middle">
                      <h4 class="media-heading"><a href="https://www.instagram.com/">Instagram support</a></h4>

                    </div>
                </div>
                <div class="media">
                    <div class="media-left">
                      <a href="#">
                        <img class="media-object" src="https://imgur.com/5ryb7wy.png">
                      </a>
                    </div>
                    <div class="media-body media-middle">
                      <h4 class="media-heading"><a href="mailto:support@{{ site["site_name"] }}">support@{{ site["site_name"] }}</a></h4>

                    </div>
                </div>
          	</div>
          	<div class="col-sm-2">
              	<h6>Follow Us On</h6>
          		<ul>
            <li><a href="https://www.youtube.com/channel/">Youtube</a></li>
                  <li><a href="https://www.twitter.com/">Twitter</a></li>
                  <li><a href="https://www.instagram.com/">Instagram</a></li>
          		</ul>
          	</div>
		</div>
	</div>
  	<div class="reservedStrip">
      <div class="container">
      	<div class="row">
  			<div class="col-sm-6">
  				<p>© Copyright {{ site["site_name"] }}. All Rights Reserved.</p>
  			</div>
          		<div class="col-sm-6" style="float: right;">
  				<a style="float: right;" href="//www.dmca.com/Protection/Status.aspx?ID=9a441b05-3b7b-495a-b530-d56f89386fd3" title="DMCA.com Protection Status" class="dmca-badge"> <img src ="https://images.dmca.com/Badges/dmca-badge-w150-5x1-06.png?ID=9a441b05-3b7b-495a-b530-d56f89386fd3"  alt="DMCA.com Protection Status" /></a>
  			</div>
  		</div>
      </div>
  	</div>
</footer>





<script type="text/javascript" src="/css/panel/owlet/cdn.mypanel.link/libs/jquery/1.12.4/jquery.min.js">
      </script>
  <script type="text/javascript" src="/css/panel/owlet/cdn.mypanel.link/global/aknio8ec1fpphc0p.js">
      </script>
  <script type="text/javascript" src="/css/panel/owlet/cdn.mypanel.link/global/nfos6j9mo1on7ksz.js">
      </script>
  <script type="text/javascript" src="/css/panel/owlet/cdn.mypanel.link/global/lq8ohp02z8rg6gg1.js">
      </script>
  <script type="text/javascript" src="/css/panel/owlet/cdn.mypanel.link/global/a2wrrjwy29x3cr2s.js">
      </script>
  <script type="text/javascript" src="/css/panel/owlet/cdn.mypanel.link/6f7c88/zczixlpfnkd5r9t3.js">
      </script>
  <script type="text/javascript" src="/css/panel/owlet/cdn.mypanel.link/6f7c88/mcfa0sfr2j3h9o9r.js">
      </script>
  <script type="text/javascript" >
     window.modules.layouts = {"theme_id":1,"auth":1,"live":true,"csrftoken":"BHMG7RTwiTysKPgmqdMiTrp2s0rWhpULgdvpyV_o4QB0LEK8QqX5DP1GnWDD6xcE1ECCfbG-3GDZq965Gb7ULQ=="};   </script>

 <script type="text/javascript" >
     window.modules.select = [];   </script>
  <script type="text/javascript" >
      </script>
  
    
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery.perfect-scrollbar/1.4.0/perfect-scrollbar.js"></script>
  <script>
    //var ps = new PerfectScrollbar('.shouldScroll', {
    //	wheelPropagation: true
    //});
    var ps = new PerfectScrollbar('.shouldScrollTwo', {
    	wheelPropagation: true
    });
    var ps = new PerfectScrollbar('.searchBoxFilter div.dropdown .dropdown-menu', {
    	wheelPropagation: true
    });
    ps.update();
  </script>
    <script type="text/javascript" src="/css/panel/owlet/cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick.js"></script>
  
  <script type="text/javascript">
  	$('.testimonialSlider').slick({
        dots: false,
        infinite: true,
        speed: 500,
        fade: true,
        cssEase: 'linear',
    	  prevArrow: '<button class="slide-arrow prev-arrow"><img src="https://imgur.com/fmNut9j.png"/> Prev</button>',
  	  nextArrow: '<button class="slide-arrow next-arrow">Next <img src="https://imgur.com/TnS6xmb.png"/></button>'
      });
  </script>
    <script>
  	$(document).ready(function(){
      $("#myInput").on("keyup", function() {
        var value = $(this).val().toLowerCase();
        $(".services tr").filter(function() {
          $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
        });
      });
    });
    
    
   {# function filterService(category) {
        $('.services tbody tr').attr('visible','false');
        $('.services tbody tr[data-category="' + category + '"]').attr('visible','true');
    } #}
  </script>
    
        <script>
      $( document ).ready(function() {
       $(function(){
    $('.dropdown').hover(function() {
        $(this).addClass('open');
    },
    function() {
        $(this).removeClass('open');
    });
});
});
    </script>





{% else %}
 <script src='https://www.google.com/recaptcha/api.js?hl=en'></script>


  

<script>

window.addEventListener('load', function() {

	if(window.location.pathname.indexOf('signup') != -1)
  {
  	jQuery('.btn.btn-primary').click(function(){

    gtag('event', 'conversion', {'send_to': 'AW-747434056/3umfCJSm7fsCEMjgs-QC'});

		});
  }

});

</script>


<!-- <script language="JavaScript" type="text/javascript">
TrustLogo("https://cdn.mypanel.link/6f7c88/iw4opb8xtiftsr72.png", "CL1", "none");
</script> -->

  <footer>
	<div class="container">
		<div class="row">
			<div class="col-sm-4">
          <a href="/">              <img src="{{ site["logo"] }}" alt="{{ site["site_name"] }}" title="{{ site["site_name"] }}">
          </a>
              <p>{{ site["site_name"] }} offers an exceptional range of Social Media Marketing services that are designed to help you drive more traffic to your social media accounts, increase engagement, and boost your video, profile, and website rankings. Our comprehensive SEO & SMM Panel is the ultimate solution for all your social media marketing needs. Whether you are a reseller or looking to enhance your online presence, you can trust us to provide you with the latest and most effective tools and services.</p>
              <h6>Get Updates</h6>
              <form>
                <div class="input-group">
                  <input type="text" class="form-control" placeholder="enter your email address">
                  <div class="input-group-btn">
                    <button class="btn btn-default" type="submit">
                      <img src="//i.imgur.com/cPCo4UF.png">
                    </button>
                  </div>
                </div>
              </form>
			</div>
          	<div class="col-sm-3">
          		<h6>Usefull Links</h6>
              <ul>
                                <li class="active" ><a href="/">Sign in</a></li>
                                <li><a href="/services">Services</a></li>
                                <li><a href="/api">API</a></li>
                                <li><a href="/signup">Sign up</a></li>
                                <li><a href="/terms">Terms</a></li>
                                <li><a href="/blog">Blog</a></li>
                                <li><a href="/buy-tiktok-followers">Buy Tiktok Followers</a></li>
                              </ul>
          	</div>
          	<div class="col-sm-3 liveChat">
          		<h6>Live Chat Support</h6>
                <!-- <h7>suramonsweet</h7> -->
              	<div class="media">
                    <div class="media-left">
                      <a href="#">
                        <img class="media-object" src="https://cdn.mypanel.link/6f7c88/tuuygh69w1n2kira.png">
                      </a>
                    </div>
                    <div class="media-body media-middle">
                      <h4 class="media-heading"><a href="https://www.instagram.com/">Instagram support</a></h4>

                    </div>
                </div>
                <div class="media">
                    <div class="media-left">
                      <a href="#">
                        <img class="media-object" src="/css/panel/owlet/cdn.mypanel.link/6f7c88/cnenurmf40cxpz93.png">
                      </a>
                    </div>
                    <div class="media-body media-middle">
                      <h4 class="media-heading"><a href="mailto:support@{{ site["site_name"] }}">support@{{ site["site_name"] }}</a></h4>

                    </div>
                </div>
          	</div>
          	<div class="col-sm-2">
              	<h6>Follow Us On</h6>
          		<ul>
            <li><a href="https://www.youtube.com/channel/">Youtube</a></li>
                  <li><a href="https://www.twitter.com/">Twitter</a></li>
                  <li><a href="https://www.instagram.com/">Instagram</a></li>
          		</ul>
          	</div>
		</div>
	</div>
  	<div class="reservedStrip">
      <div class="container">
      	<div class="row">
  			<div class="col-sm-6">
  				<p>© Copyright &nbsp;{{ site["site_name"] }}. All Rights Reserved.</p>
  			</div>
          	<!--	<div class="col-sm-6" style="float: right;">
  				<a style="float: right;" href="//www.dmca.com/Protection/Status.aspx?ID=9a441b05-3b7b-495a-b530-d56f89386fd3" title="DMCA.com Protection Status" class="dmca-badge"> <img src ="https://images.dmca.com/Badges/dmca-badge-w150-5x1-06.png?ID=9a441b05-3b7b-495a-b530-d56f89386fd3"  alt="DMCA.com Protection Status" /></a>
  			</div> -->
  		</div>
      </div>
  	</div>
</footer>

  <script type="text/javascript" src="/css/panel/owlet/cdn.mypanel.link/libs/jquery/1.12.4/jquery.min.js">
      </script>
  <script type="text/javascript" src="/css/panel/owlet/cdn.mypanel.link/global/aknio8ec1fpphc0p.js">
      </script>
  <script type="text/javascript" src="/css/panel/owlet/cdn.mypanel.link/global/nfos6j9mo1on7ksz.js">
      </script>
  <script type="text/javascript" src="/css/panel/owlet/cdn.mypanel.link/global/lq8ohp02z8rg6gg1.js">
      </script>
  <script type="text/javascript" src="/css/panel/owlet/cdn.mypanel.link/global/a2wrrjwy29x3cr2s.js">
      </script>
  <script type="text/javascript" src="/css/panel/owlet/cdn.mypanel.link/6f7c88/zczixlpfnkd5r9t3.js">
      </script>
  <script type="text/javascript" src="/css/panel/owlet/cdn.mypanel.link/6f7c88/mcfa0sfr2j3h9o9r.js">
      </script>
  <script type="text/javascript" >
     window.modules.layouts = {"theme_id":1,"auth":0,"live":true,"csrftoken":"bXCg1WkWDnWsktu0fQtJKqVdzONCY-dWYhcyVQIymN0dL-SEP0N-Rf38vvIXM3xgy2v91CVbrj06ZwUlRGSt8A=="};   </script>
  <script type="text/javascript" >
     window.modules.signin = [];   </script>
  <script type="text/javascript" >
      </script>
  
    
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery.perfect-scrollbar/1.4.0/perfect-scrollbar.js"></script>
  <script>
    //var ps = new PerfectScrollbar('.shouldScroll', {
    //	wheelPropagation: true
    //});
    var ps = new PerfectScrollbar('.shouldScrollTwo', {
    	wheelPropagation: true
    });
    var ps = new PerfectScrollbar('.searchBoxFilter div.dropdown .dropdown-menu', {
    	wheelPropagation: true
    });
    ps.update();
  </script>
    <script type="text/javascript" src="/css/panel/owlet/cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick.js"></script>
  
  <script type="text/javascript">
  	$('.testimonialSlider').slick({
        dots: false,
        infinite: true,
        speed: 500,
        fade: true,
        cssEase: 'linear',
    	  prevArrow: '<button class="slide-arrow prev-arrow"><img src="/css/panel/owlet/cdn.mypanel.link/6f7c88/6qske6ihgudl7f8s.jpg"/> Prev</button>',
  	  nextArrow: '<button class="slide-arrow next-arrow">Next <img src="/css/panel/owlet/cdn.mypanel.link/6f7c88/39p0lakpk1hzh4bl.jpg"/></button>'
      });
  </script>
    <script>
  	$(document).ready(function(){
      $("#myInput").on("keyup", function() {
        var value = $(this).val().toLowerCase();
        $(".services tr").filter(function() {
          $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
        });
      });
    });
    
    
  {#  function filterService(category) {
        $('.services tbody tr').attr('visible','false');
        $('.services tbody tr[data-category="' + category + '"]').attr('visible','true');
    } #}
  </script>
    
        <script>
      $( document ).ready(function() {
       $(function(){
    $('.dropdown').hover(function() {
        $(this).addClass('open');
    },
    function() {
        $(this).removeClass('open');
    });
});
});
    </script>

</body>
</html>
{% endif %}





{% for script in scriptList %}
    <script type="text/javascript" src="{{ script }}"></script>
{% endfor %}

<!--<script type="text/javascript" src="js/main.js?v={{ random(50, 100) }}"></script>-->
<style>
    body{
        font-family: 'Titillium Web', sans-serif;
    }
</style>



</body>
</html>


