{% include 'header.twig' %}

{% if user['auth'] %}
         <div class="app-content">
            <!-- page-content -->
            <div class="container-fluid">
               <div class="row mt-4">
                  <div class="col-lg-12">
                     <section class="order-side">
                        <div class="row">
                           <div class="col-lg-12 col-12 mb-5 mb-lg-0">
                              <div class="faq-ss-tabs">
                                 <div class="home-ss-tab">
                                    <div class="ss-tab-head">
                                       <div class="row">
                                          <div class="col">
                                              {{ lang['smmspot.faq.tab1.button'] }}
                                          </div>
                                          <div class="col-auto align-self-center right-p">
                                             <i class="fas fa-plus"></i>
                                             <i class="fas fa-minus"></i>
                                          </div>
                                       </div>
                                    </div>
                                    <div class="ss-tab-content">
                                    {{ lang['smmspot.faq.tab1.text'] }} 
                                    </div>
                                 </div>
                                 <!-- home-ss-tab end -->
                                 <div class="home-ss-tab">
                                    <div class="ss-tab-head">
                                       <div class="row">
                                          <div class="col">
                                               {{ lang['smmspot.faq.tab2.button'] }}
                                          </div>
                                          <div class="col-auto align-self-center right-p">
                                             <i class="fas fa-plus"></i>
                                             <i class="fas fa-minus"></i>
                                          </div>
                                       </div>
                                    </div>
                                    <div class="ss-tab-content">
                                     {{ lang['smmspot.faq.tab2.text'] }} 
                                    </div>
                                 </div>
                                 <!-- home-ss-tab end -->
                                 <div class="home-ss-tab">
                                    <div class="ss-tab-head">
                                       <div class="row">
                                          <div class="col">
                                                {{ lang['smmspot.faq.tab3.button'] }}
                                          </div>
                                          <div class="col-auto align-self-center right-p">
                                             <i class="fas fa-plus"></i>
                                             <i class="fas fa-minus"></i>
                                          </div>
                                       </div>
                                    </div>
                                    <div class="ss-tab-content">
                                    {{ lang['smmspot.faq.tab3.text'] }}
                                    </div>
                                 </div>
                                 <!-- home-ss-tab end -->
                           
                              </div>
                           </div>
                        </div>
                        <!-- col item end-->
                  </div>
                  </section>
               </div>
               <!-- page-content end -->
            </div>
            <!-- app-content -->
         </div>
      </div>

      </div>

{% else %}
    <div class="home-head outside">
        <div class="home-head-bg"></div>
	
        <div class="home-head-content">
            <div class="container" style="position: relative;">
                <div class="row">
                </div>
            </div>
        </div>
    </div>
	
    <div class="hs-area mb-5">
        <div class="container">

                     <section class="order-side">
                        <div class="row">
                           <div class="col-lg-12 col-12 mb-5 mb-lg-0">
                              <div class="faq-ss-tabs">
                                 <div class="home-ss-tab">
                                    <div class="ss-tab-head">
                                       <div class="row">
                                          <div class="col">
                                             Sosyal Medya Boost Nedir?
                                          </div>
                                          <div class="col-auto align-self-center right-p">
                                             <i class="fas fa-plus"></i>
                                             <i class="fas fa-minus"></i>
                                          </div>
                                       </div>
                                    </div>
                                    <div class="ss-tab-content">
                                       Sosyal Medya Boost demek oluyor ki panelimizin dilimize uyarladığı terimiyle “Sanalizasyon”. Sanalizasyon; sosyal medya hesaplarının belirli bir kitleye sahip olduğunu varsayım olarak göstermek anlamına gelir. Varsayım (Sanalizasyon) olarak gösterilen profillerin görsel algı konusunu göze alarak, sosyal medya hesaplarının ulaşmak istedikleri hedeflere daha kolay ulaşabilmesi uygulamalarımızca her gün kanıtlanmaktadır
                                    </div>
                                 </div>
                                 <!-- home-ss-tab end -->
                                 <div class="home-ss-tab">
                                    <div class="ss-tab-head">
                                       <div class="row">
                                          <div class="col">
                                             Hesabım Risk Altında Mı?
                                          </div>
                                          <div class="col-auto align-self-center right-p">
                                             <i class="fas fa-plus"></i>
                                             <i class="fas fa-minus"></i>
                                          </div>
                                       </div>
                                    </div>
                                    <div class="ss-tab-content">
                                       Panelimiz üzerinden verilen siparişlerin sosyal medya hesaplarına olan etkisini an ve an kayıt ediyor ve gözlemliyoruz. Bilmenizi isteriz ki panelimiz uygulamaya girdiği tarihten itibaren, kullanıcılarımız tarafından kötüye kullanım olmadığı sürece hesaplarda herhangi bir risk gözlemlemedik. Fakat oluşacak herhangi bir problemden dolayı panelimizin hiçbir sorumluluğu almadığını bilmenizi isteriz. 
                                    </div>
                                 </div>
                                 <!-- home-ss-tab end -->
                                 <div class="home-ss-tab">
                                    <div class="ss-tab-head">
                                       <div class="row">
                                          <div class="col">
                                             Hesabıma Etkisi Nedir?
                                          </div>
                                          <div class="col-auto align-self-center right-p">
                                             <i class="fas fa-plus"></i>
                                             <i class="fas fa-minus"></i>
                                          </div>
                                       </div>
                                    </div>
                                    <div class="ss-tab-content">
                                       Panelimiz üzerinden vereceğiniz siparişlerde kontrollü ve düzenli bir şekilde ilerleme izlerseniz etkisini göreceğinizden emin olabilirsiniz. Birkaç örnek ile açıklamamız gerekirse; Instagram üzerinden paylaştığınız gönderiler “Keşfet” bölümüne çıkar. Bu, sizin gönderinizin daha fazla Instagram kullanıcısına ulaşmasınız sağlar. Bir diğer örnek, Youtube üzerinden paylaştığınız videolarda “Önerilenler” bölümünde sürekli gözükme olasılığınız artar. Bu, sizin video paylaşımınızın daha fazla Youtube kullanıcı tarafından görülmesine yardımcı olur.
                                    </div>
                                 </div>
                                 <!-- home-ss-tab end -->
                                 <div class="home-ss-tab">
                                    <div class="ss-tab-head">
                                       <div class="row">
                                          <div class="col">
                                             Destek Talebi Nasıl Oluşturulur?
                                          </div>
                                          <div class="col-auto align-self-center right-p">
                                             <i class="fas fa-plus"></i>
                                             <i class="fas fa-minus"></i>
                                          </div>
                                       </div>
                                    </div>
                                    <div class="ss-tab-content">
                                       Masaüstü bir bilgisayar ile giriş yapıyorsanız sol tarafta bulunan menüden “Destek Merkezi” simgesine tıklayın, eğer mobil ile giriş yapıyorsanız sağ üst tarafta bulunan menü butonuna tıklayın ardından “Destek Merkezi” yazan butona tıklayın. Açılan sayfada destek talebi oluşturmak istediğiniz konu seçimini yapın. Daha sonra gerekli alanları doldurarak “Destek Talebi Oluştur” butonuna tıklayın.
                                    </div>
                                 </div>
                                 <!-- home-ss-tab end -->
                                 <div class="home-ss-tab">
                                    <div class="ss-tab-head">
                                       <div class="row">
                                          <div class="col">
                                            Nasıl Bakiye Yüklerim?
                                          </div>
                                          <div class="col-auto align-self-center right-p">
                                             <i class="fas fa-plus"></i>
                                             <i class="fas fa-minus"></i>
                                          </div>
                                       </div>
                                    </div>
                                    <div class="ss-tab-content">
                                       Panelimiz üzerinden kayıt işlemini başarılı bir şekilde gerçekleştirdikten sonra masaüstü bir bilgisayar ile giriş yapıyorsanız sol tarafta bulunan menüden “Bakiye Ekle” simgesine tıklayın, eğer mobil ile giriş yapıyorsanız sağ üst tarafta bulunan menü butonuna tıklayın ardından “Bakiye Ekle” yazan butona tıklayın. Bu sayfadan PayTR ile 7/24 olarak komisyonsuz ödeme yapabilirsiniz. Kart bilgileriniz hiçbir şekilde panelimiz alt yapısında bulunmamaktadır. PayTR ile yaptığınız ödemeler 3D secure sistemi ile korunmaktadır.
                                    </div>
                                 </div>
                                 <!-- home-ss-tab end -->
                                 <div class="home-ss-tab">
                                    <div class="ss-tab-head">
                                       <div class="row">
                                          <div class="col">
                                             Nasıl Sipariş Verebilirim?
                                          </div>
                                          <div class="col-auto align-self-center right-p">
                                             <i class="fas fa-plus"></i>
                                             <i class="fas fa-minus"></i>
                                          </div>
                                       </div>
                                    </div>
                                    <div class="ss-tab-content">
                                       Masaüstü bir bilgisayar ile giriş yapıyorsanız sol tarafta bulunan menüden “Yani Sipariş” simgesine tıklayın, eğer mobil ile giriş yapıyorsanız sağ üst tarafta bulunan menü butonuna tıklayın ardından “Yeni Sipariş” yazan butona tıklayın. Açılan sayfada “Kategoriler” kısmında panelimize ait tüm servisler yer almaktadır. Bu menüden sipariş vermek istediğiniz kategoriyi seçin. Daha sonra “Servis” menüsünden hangi servisten sipariş vermek istiyorsanız o servisi seçin. Seçtiğiniz serviste yazan fiyat 1000 adet fiyattır. “Servis Açıklaması” kısmını detaylı olarak okuduğunuza emin olduktan sonra “Link” yazan yere açıklamada belirtilen link türünü yazın. Daha sonra miktar bölümüne o servisten verebileceğiniz maksimum veya minimum değerler arasında bir miktar yazın. Bu işlemleri yaptıktan sonra “Sipariş Ver” butonuna tıklayın. Siparişiniz açıklama kısmında belirtilen süre içerisinde tamamlanacaktır.
                                    </div>
                                 </div>
                                 <!-- home-ss-tab end -->
                              </div>
                           </div>
                        </div>
                        <!-- col item end-->
                  </div>
            </section>
				  
        </div>
	 </div> 
	
{% endif %}

{% include 'footer.twig' %}
