<!DOCTYPE html>
{% for lang in site['languages'] %}
{% if lang['active'] %}
<html lang="{{ lang['code'] }}">
{% endif %}
{% endfor %}
<head>
  <base href="{{ site['url'] }}/">
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{{ title }}</title>
  <meta name="keywords" content="{{ keywords }}">
  <meta name="description" content="{{ description }}">
  {% if site['favicon'] %}
    <link rel="shortcut icon" type="image/ico" href="{{ site['favicon'] }}" />
  {% endif %}

  <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
  <!--[if lt IE 9]>
  <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
  <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
  <![endif]-->
  
    {{ headerCode }}
     
    {% for style in styleList %}
      <link rel="stylesheet" type="text/css" href="{{ style }}">
    {% endfor %}
    
    
    
   
 <script src="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/2.1.0/sweetalert.min.js"></script>
    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/limonte-sweetalert2/11.4.24/sweetalert2.all.js"></script>

		
   <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script></script>
   <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>


    
    
   
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/hover.css/2.3.1/css/hover-min.css">
    
<link rel="stylesheet" type="text/css" href="/css/panel/Super Rental/irscdn.icu/stp/css/bootstrap.css">

<link rel="stylesheet" type="text/css" href="/css/panel/Super Rental/irscdn.icu/stp/css/style.css">


<link href="https://irscdn.icu/css/vendor/datatable/datatables.min.css?v=3" rel="stylesheet">

<link rel="stylesheet" href="/css/panel/Super Rental/cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css" integrity="sha512-HK5fgLBL+xu6dm/Ii3z4xhlSUyZgTT9tuc/hSrtw6uzJOvgRr2a9jyxxT1ely+B+xFAmJKVSTbpM/CuL7qxO8w==" crossorigin="anonymous" />

<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,400i,600,600i,700,700i,800">
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>

<script>
         $(document).ready(function () {
          $(".google-auto-placed").attr("style", "position: absolute; padding-right: 525px;");
         });
        window.Laravel = {"csrfToken":"1vecCIYdQDvOV0APsy20LODBKGzAyUxeoBxvV5oa"};
        window.baseUrl = "https://panel.superrental.xyz";
      </script>
<style>
         body {
           background-image: none;
           background-position: unset;
         }
         
        .navbar .navbar-brand img{
          height: 45px;
        }
        .navbar-brand{
          margin-top: -4px;
        }
        @media (min-width: 992px) {
          .navbar .navbar-brand img{
            height: 85px;
          }
          .navbar-brand{
            margin-top: 4px;
          }
        }
        .btn-primary{
          color:white;
        }
        @media (max-width: 991px) {
	        footer .logo img{
	        	width: 100%;
	        	height: auto;
	        }
	    }
      .payments-panel img {
            width: 100%;
            max-width: calc(30vw + 100px);
            height: auto;
      }
      div#swal2-content img {
          width: 100%;
          height: auto;
      }      
      </style>
	
  </head>

 	{%  if settings['demo_mode'] == 1 %}
    	
       <style>
            .fixed-footer{
                position: fixed;
                background: #fff;
                border:1px solid #000;
                width:100%;
                bottom:0;
                z-index:99999;
                padding:10px;
            }
        </style>
        
    <div class="fixed-footer">
            <h4 style="color:#000">Choose Theme: 
                
                   {% for thm in site['themes'] %}
<a href="/select-theme/{{thm['dirname']}}" style="color:blue;margin:0 10px;font-size:16px">[ {{thm['name']}} ]</a>
{% endfor %}

            </h4>
    </div>
  
{% endif %}


{% if user['auth'] %}
<body style="overflow: visible;">
<div style="position:fixed;top:0px;left:0px;width:0;height:0;" id="scrollzipPoint"></div>
<header class="bg-blue" style="display: block;">
<div class="container">
<nav class="navbar navbar-expand-lg">
<button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
<span class="navbar-toggler-icon">
<i class="fa fa-bars"></i>
</span>
</button>

<a href="/">
 				  {% if site["logo"] %}
					<img src="{{ site['logo'] }}" class="logo-lg" alt="{{ site["site_name"] }}" title="{{ site["site_name"] }}"style="max-height: 40px">
				  {% else %}
					{{ site["site_name"] }}
				  {% endif %}
                 </a>
<div class="collapse navbar-collapse" id="navbarSupportedContent">
<ul class="navbar-nav ml-auto">
<li class="nav-item topBotomBordersIn">
<a class="nav-link" href="/">
New Order
</a>
</li>

<li class="nav-item topBotomBordersIn">
<a class="nav-link" href="/massorder">
Mass Order
</a>
</li>

<li class="nav-item topBotomBordersIn">
<a class="nav-link" href="/orders">
️Orders
</a>
</li>
<li class="nav-item topBotomBordersIn">
<a class="nav-link" href="/services">
Services
</a>
</li>
<li class="nav-item topBotomBordersIn">
<a class="nav-link" href="/addfunds">
Add Funds
</a>
</li>


<li class="nav-item topBotomBordersIn">
<a class="nav-link" href="/refill">
Refill
</a>
</li>


<li class="nav-item topBotomBordersIn">
<a class="nav-link" href="/tickets">
Tickets {% if ticketCount %} <span class="badge">{{ ticketCount }}</span> {% endif %}
</a>
</li>
<li class="nav-item topBotomBordersIn">
<a class="nav-link" href="/child-panels">
Child Panels
</a>
</li>
<li class="nav-item topBotomBordersIn">
<a class="nav-link" href="/api">
API
</a>
</li>
</ul>
</div>
<div class="navbar-right">
<a href="/addfunds" class="badge badge-green float-left hide-lg userBalance"> {{ currency["symbol"]  }} {{ (user["balance"]*currency["value"]) |round(2, 'floor') }}</a>
<div class="dropdown float-left">
<a href="javascript:void(0)" class="nav-link dropdown-toggle" id="myAccount" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
<img src="https://www.gravatar.com/avatar/88b87698be0bc461f3cacf1f080929d5?d=https%3A%2F%2Fimages.irscdn.icu%2Fimg%2Fuser.png&amp;s=30" style="border-radius: 45px;max-width: 26px;max-height: 26px">
</a>
<div class="dropdown-menu" aria-labelledby="myAccount">
<a class="dropdown-item" href="/account/settings">
Account
</a>


<a class="dropdown-item" href="/funds-load-history">
Fund Add History
</a>


<a class="dropdown-item" href="/logout" onclick="event.preventDefault();document.getElementById('logout-form').submit();">
Logout
</a>


<!-- currency start by leakstation -->

{% if cronn == 2 %}
<li class="dropdown dropdown-item">
<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false" style="color: white">
Change Currency <span class="caret"></span>
</a>
<ul class="dropdown-menu" role="menu">
{% for curr in site['currencies'] %}<li>
<a class="dropdown-item" href="/cur?cur={{curr['id']}}">{{curr['name']}}</a>
</li>
{% endfor %}
</ul>
</li>{% endif %}


<!-- leakstation.in end -->


<form id="logout-form" action="/logout" method="POST" style="display: none;">

</form>
</div>
</div>
</div>
</nav>
</div>
</header>




{% else %}


<body class="guest">
<nav id="guest-nav" class="navbar navbar-default navbar-static-top   ">
<div class="container">
<div class="navbar-header">
<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
<span class="sr-only">Toggle navigation</span>
<span class="icon-bar"></span>
<span class="icon-bar"></span>
<span class="icon-bar"></span>
</button>&nbsp;

<a href="/">
 				  {% if site["logo"] %}
					<img src="{{ site['logo'] }}" class="logo-lg" alt="{{ site["site_name"] }}" title="{{ site["site_name"] }}"style="max-height: 40px">
				  {% else %}
					{{ site["site_name"] }}
				  {% endif %}
                 </a>
</div>
<form id="lang-form" action="/" method="POST" style="display: none;">

<input type="hidden" value="en" name="locale" id="locale">
</form>
<div id="navbar" class="collapse navbar-collapse">
<ul class="nav navbar-nav navbar-right">
<li class="nav-item topBotomBordersIn">
<a class="nav-link" href="/service">
Services
</a>
</li>
<li class="nav-item topBotomBordersIn">
<a class="nav-link" href="/faq">
FAQ
</a>
</li>
<li class="nav-item topBotomBordersIn">
<a class="nav-link" href="/">
Sign In
</a>
</li>
<li class="nav-item topBotomBordersIn">
<a class="nav-link" href="/signup">
Sign Up
</a>
</li>
<li class="nav-item topBotomBordersIn">
<a class="nav-link" href="/api">
API
</a>
</li>


</ul>
</div>
</div>
</nav>
{% endif %}


 
  


<script src="https://unpkg.com/wavesurfer.js"></script>

<script>


 $('.langs-btn').hover(function(){
    $('.langs-btn-content').toggle();
  });
  
    $('.currency-btn').hover(function(){
    $('.currency-btn-content').toggle();
  });
  
  
 function changeLang(newLang){
        $.ajax
        ({ 
            url: '/account/change_lang/',
            data: {lang: newLang},
            type: 'post',
            success: function(result)
            {
                
               location.href  = "";
            }
        });
    }
    
    var wavesurfer = WaveSurfer.create({
    container: '#waveform',
    waveColor: 'violet',
    progressColor: 'purple',
    mediaControls:true
});
wavesurfer.load('{{settings['music_url']}}');

wavesurfer.on('ready', wavesurfer.play.bind(wavesurfer));


</script>