{% include 'header1.twig' %}




<div class="not-authenticate">
<section class="top-hero">
<div class="container">
<div class="row">
<div class="col-sm-12">
<h1> <b>World's Cheapest Smm Sevices Provider<br>
Fastest Delivery 🚚 <b>And Best Qulity 😍</b> </h1>




 {% if errorText %}
						<div class="alert alert-dismissible alert-danger">
						  <button type="button" class="close" data-dismiss="alert">&times;</button>
						  {{ errorText }}
						</div>
					  {% endif %}
					  {% if successText %}
						<div class="alert alert-dismissible alert-success">
						  <button type="button" class="close" data-dismiss="alert">&times;</button>
						  {{ successText }}
						</div>
					  {% endif %}
					  
                <form  method="post" action="" class="home-form form-inline">
                    
                    
<div class="form-group inputDiv">
<span><i class="material-icons">perm_identity</i></span>
<input type="text" class="form-control" id="username" name="username" placeholder="username" value="">
</div>
<div class="form-group inputDiv">
<span><i class="material-icons">lock</i></span>
<input type="password" class="form-control" id="password" name="password" placeholder="Password">
</div>
<button type="submit" class="btn btn-primary">Sign in</button>


<div class="row">
<div class="col-md-4">
<label class="checkbox pull-left pull-left-middle" for="remember">
<input type="checkbox" id="remember" name="remember" data-toggle="checkbox"> Remember Me
</label>
</div>

	{% if resetPage %}
<div class="col-md-4">
<a href="/resetpassword" class="forgot-password pull-left pull-left-middle">Forgot password?</a>
</div> 	{% endif %}
</div>


 <div class="mt-4">
						  {% if captcha %}
							<div class="form-group">
							  <div class="g-recaptcha" data-sitekey="{{ captchaKey }}"></div>
							</div>
						  {% endif %}
                        </div>
                        
                        
                             
        {% if google == 2 %}
     <div class="row text-center">
<button type="button"  onclick=" window.location.href='/google'" class="btn btn-primary nomarg"><i class="fab fa-google"></i> Login with Google</button>
</div> 
                						  {% endif %}
       
       
       
                        

<div class=" signUpInText">Do not have an account?<br>
<button type="button" onclick=" window.location.href='/signup'" class="btn btn-primary nomarg">Sign up</button>
</div>

</form>


<div class="animation-box">
<img class="main-img" src="https://images.irscdn.icu/js/nicedit/upload/f1acc42799146006e6dad3b98c8e6afb.svg" alt="main-img" />
<img class="icon icon-1" src="https://images.irscdn.icu/smm/images/eWIjYmk.png?v=1" alt="Emoji" />
<img class="icon icon-2" src="https://images.irscdn.icu/smm/images/eWIjYmk.png?v=1" alt="Emoji" />
<img class="icon icon-3" src="https://images.irscdn.icu/smm/images/eWIjYmk.png?v=1" alt="Emoji" />
<img class="icon icon-4" src="https://images.irscdn.icu/smm/images/w74G3Nw.png" alt="Thumb" />
<img class="icon icon-5" src="https://images.irscdn.icu/smm/images/w74G3Nw.png" alt="Thumb" />
<img class="icon icon-6" src="https://images.irscdn.icu/smm/images/w74G3Nw.png" alt="Thumb" />
<img class="icon icon-7" src="https://images.irscdn.icu/smm/images/KfhaVKp.png" alt="Heart Fill" />
<img class="icon icon-8" src="https://images.irscdn.icu/smm/images/KfhaVKp.png" alt="Heart Fill" />
<img class="icon icon-9" src="https://images.irscdn.icu/smm/images/KfhaVKp.png" alt="Heart Fill" />
<img class="icon icon-10" src="https://images.irscdn.icu/smm/images/5lGrnOt.png" alt="bell" />
<img class="icon icon-11" src="https://images.irscdn.icu/smm/images/5lGrnOt.png" alt="bell" />
<img class="icon icon-12" src="https://images.irscdn.icu/smm/images/5lGrnOt.png" alt="Heart Unfill" />
<img class="icon icon-13" src="https://images.irscdn.icu/smm/images/5lGrnOt.png" alt="Heart Unfill" />
<img class="icon icon-14" src="https://images.irscdn.icu/smm/images/g44xYWV.png" alt="Facebook" />
<img class="icon icon-15" src="https://images.irscdn.icu/smm/images/YLfHh2V.png" alt="Twitter" />
<img class="icon icon-16" src="https://images.irscdn.icu/smm/images/GfSxNvF.png" alt="Instagram" />
<img class="icon icon-17" src="https://images.irscdn.icu/smm/images/kt8U9DI.png" alt="Sound Cloud" />
</div>
</div>
</div>
</div>
</section>
<section class="customerTabs">
<div class="container">
<div class="row">
<div class="col-sm-12">
<ul>
<li>
<div>LIVE<br>chat<br>support</div>
</li>
<li>
<div>Easy to place<br>system for<br>bulk orders</div>
</li>
<li>
<div>Accept payments<br>with<br>PayPal or others</div>
</li>
<li>
<div>Easy to use<br>multiple services<br>All-In-One</div>
</li>
<li>
<div>Full<br>API<br>Integration</div>
</li>
</ul>
</div>
</div>
</div>
</section>
<section class="customerResults">
<div class="container">
<div class="row">
<div class="col-xs-12 col-md-6">
<div class="animation-box-2">
<img src="https://images.irscdn.icu/js/nicedit/upload/803057837a9eb0f148e9cc441623e083.png" alt="cust_result_main_image" class="main-ani" />
<img src="https://images.irscdn.icu/smm/images/FWucr0F.png?v=1" alt="emoji" class="ani-icon-1" />
<img src="https://images.irscdn.icu/smm/upload/v1543904591/svg/icon7.svg" alt="emoji" class="ani-icon-2" />
<img src="https://images.irscdn.icu/smm/upload/v1543903363/svg/icon6.svg" alt="emoji" class="ani-icon-3" />
<img src="https://images.irscdn.icu/smm/upload/v1543904591/svg/icon7.svg" alt="emoji" class="ani-icon-4" />
<img src="https://images.irscdn.icu/smm/upload/v1543904591/svg/icon7.svg" alt="emoji" class="ani-icon-5" />
<img src="https://images.irscdn.icu/smm/upload/v1543903363/svg/icon6.svg" alt="emoji" class="ani-icon-6" />
<img src="https://images.irscdn.icu/smm/upload/v1543904591/svg/icon7.svg" alt="emoji" class="ani-icon-7" />
<img src="https://images.irscdn.icu/smm/upload/v1543904591/svg/icon7.svg" alt="emoji" class="ani-icon-8" />
<img src="https://images.irscdn.icu/smm/upload/v1543903363/svg/icon6.svg" alt="emoji" class="ani-icon-9" />
<img src="https://images.irscdn.icu/smm/upload/v1543903363/svg/icon6.svg" alt="emoji" class="ani-icon-10" />
<img src="https://images.irscdn.icu/smm/upload/v1543903363/svg/icon6.svg" alt="emoji" class="ani-icon-11" />
</div>
</div>
<div class="col-xs-12 col-md-6 text-center">
<h4>More Than 150,000 Successful Cases</h4>
<h2>Customer Results</h2>
<div class="customerSlider">
<div>
<div class="outer-circle">
<div class="inner-circle">
<div class="cir-icon">
<i class="fa fa-instagram"></i>
</div>
<div class="text-box">
<h4>Instagram Followers</h4>
<p>@carlton.bynum.official</p>
<div class="text-row">
<div class="text-col">
<span class="badgeBtn" style="background-color:#c1a9f1;color:#ffffff;">Before</span>
<h5><b>183</b>Followers</h5>
<h5><b>@ 0</b>Orders/Month</h5>
</div>
<div class="text-col">
<span class="badgeBtn" style="background-color:#87e3ce;color:#ffffff;">After</span>
<h5><b>197k</b>Followers</h5>
<h5><b>@ 20</b>Orders/Month</h5>
</div>
</div>
</div>
</div>
</div>
</div>
<div>
<div class="outer-circle">
<div class="inner-circle">
<div class="cir-icon">
<i class="fab fa-youtube"></i>
</div>
<div class="text-box">
<h4>YouTube Subscribers</h4>
<p>@tiffanyferg</p>
<div class="text-row">
<div class="text-col">
<span class="badgeBtn" style="background-color:#c1a9f1;color:#ffffff;">Before</span>
<h5><b>236</b>Subscribers</h5>
<h5><b>@ 0</b>Orders/Month</h5>
</div>
<div class="text-col">
<span class="badgeBtn" style="background-color:#87e3ce;color:#ffffff;">After</span>
<h5><b>106k</b>Subscribers</h5>
<h5><b>@ 120</b>Orders/Month</h5>
</div>
</div>
</div>
 </div>
</div>
</div>
<div>
<div class="outer-circle">
<div class="inner-circle">
<div class="cir-icon">
<i class="fab fa-twitter"></i>
</div>
<div class="text-box">
<h4>Twitter Followers</h4>
<p>@rmayemsinger</p>
<div class="text-row">
<div class="text-col">
<span class="badgeBtn" style="background-color:#c1a9f1;color:#ffffff;">Before</span>
<h5><b>7.2k</b>Followers</h5>
<h5><b>@ 0</b>Orders/Month</h5>
</div>
<div class="text-col">
<span class="badgeBtn" style="background-color:#87e3ce;color:#ffffff;">After</span>
<h5><b>59.6k</b>Followers</h5>
<h5><b>@ 50</b>Orders/Month</h5>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
<div class="slider-nav"></div>
</div>
</div>
</div>
</section>
<section class="whySmm">
<div class="container">
<div class="row">
<div class="col-sm-6">
<div class="animation-box-3">
<img src="https://images.irscdn.icu/smm/images/v8LlDWy.png?v=1" alt="why_us_main_image" class="ani-main" />
<img src="https://images.irscdn.icu/smm/images/BbE8hy7.png" alt="emoji" class="ani-icon-1" />
<img src="https://images.irscdn.icu/smm/images/53iYxPi.png" alt="emoji" class="ani-icon-2" />
<img src="https://images.irscdn.icu/smm/images/uSNrfHy.png" alt="emoji" class="ani-icon-3" />
<img src="https://images.irscdn.icu/smm/images/MEHmR6R.png" alt="emoji" class="ani-icon-4" />
<img src="https://images.irscdn.icu/smm/images/l04oQAH.png" alt="emoji" class="ani-icon-5" />
<img src="https://images.irscdn.icu/smm/images/uSNrfHy.png" alt="emoji" class="ani-icon-6" />
<img src="https://images.irscdn.icu/smm/images/yMnS96x.png" alt="emoji" class="ani-icon-7" />
<img src="https://images.irscdn.icu/smm/images/POb2YD9.png" alt="emoji" class="ani-icon-8" />
</div>
</div>
<div class="col-sm-6">
<div class="why-text-container">
<h2>Why is  &nbsp;{{ site["site_name"] }} So Effective?</h2>
<ul>
<li>LIVE Chat Support for ALL clients! <b>Customer Service is #1</b></li>
<li>We work with Celebs, Artists, Creators, <b>and more!</b></li>
<li>100% Confidential <b>Moneyback Guarantee </b>(Funds in Balance)</li>
<li>Headquaters Located in <b>Houston, TX</b></li>
</ul>
<p>Here at &nbsp;{{ site["site_name"] }}, we strive for customer service as well as top quality performance. You are 100% protected by using our services.</p>
<p>All services will guarantee full delivery. If any problems do occur, we have a LIVE customer support chat available from Mon-Fri (0900 - 1400) CST. With over 150,000 clients, we are the best <b>All-In-One</b> Social Media Marketing tool.</p>
<a class="btnCustom" href="/signup">Get Started Here</a>
</div>
</div>
</div>
</div>
</section>
<section class="social-media">
<div class="container">
<div class="row">
<div class="col-sm-12">
<h4>Here are some <b>Top</b> Performing</h4>
<h2>Social Media Marketing Platforms</h2>
</div>
</div>
<div class="row">
<div class="col-sm-5">
<div class="animation-box-4">
<img class="main-img2" src="https://images.irscdn.icu/js/nicedit/upload/33f2d287a320de81b51b7eda01637873.png?v=1" alt="girl-laptop" />
<img class="pot" src="https://images.irscdn.icu/smm/images/mOUTO9I.png" alt="pot" />
<img class="icon icon-18" src="https://images.irscdn.icu/smm/images/pQN6Sw5.png" alt="icon" />
<img class="icon icon-19" src="https://images.irscdn.icu/smm/images/zpNbOgO.png" alt="icon" />
<img class="icon icon-20" src="https://images.irscdn.icu/smm/images/oMYMjpq.png" alt="icon" />
<img class="icon icon-21" src="https://images.irscdn.icu/smm/images/p0ebJv8.png" alt="icon" />
<img class="icon icon-22" src="https://images.irscdn.icu/smm/images/f75SZZS.png" alt="icon" />
<img class="icon icon-23" src="https://images.irscdn.icu/smm/images/4pLMHLT.png" alt="icon" />
</div>
</div>
<div class="col-sm-7">
<ul id="myTabs" class="nav nav-pills" role="tablist" data-tabs="tabs">
<li class="active"><a href="#instaTab" data-toggle="tab"><i class="fa fa-instagram"></i> Instagram</a></li>
<li><a href="#youtubeTab" data-toggle="tab"><i class="fa fa-youtube"></i> Youtube</a></li>
<li><a href="#twitterTab" data-toggle="tab"><i class="fa fa-twitter"></i> Twitter</a></li>
<li><a href="#facebookTab" data-toggle="tab"><i class="fa fa-facebook"></i> Facebook</a></li>
</ul>
<div class="tab-content">
<div role="tabpanel" class="tab-pane fade in active" id="instaTab">
<div class="social-slider int-slider">
<div>
<div class="socialSlideBox">
<div class="socialSlideIcon">
<i class="fa fa-instagram"></i>
</div>
<h3>Instagram SMM Tools</h3>
<p>Instagram. One of the biggest Social Media Platforms that is out there and we provide all services as well! With our CEO previously in New York Times as well as TV series HBO, you know our services come from the best.</p>
<p>Our SMM tools will improve not only follower counts, but it will increase your <b>Social Image</b>. Instagram Followers and other engagement plays a big role when companies are looking at your profile! Get started with &nbsp;{{ site["site_name"] }}</p>
</div>
</div>
<div>
<div class="socialSlideBox">
<div class="socialSlideIcon">
<i class="fa fa-instagram"></i>
</div>
<h3>Buy Instagram Followers</h3>
<p>Having a large number count of Instagram Followers plays a big role in the Social world. More popularity increases chances of not only endorsements, but brand awareness as well for your account.</p>
<p>Promoting your account with <b>&nbsp;{{ site["site_name"] }}</b> for increasing your Instagram Followers is very effective. Whether you are a Brand, Public Figure, Celebrity, etc. having a large Instagram Audience will benefit you greatly.</p>
</div>
</div>
<div>
<div class="socialSlideBox">
<div class="socialSlideIcon">
<i class="fa fa-instagram"></i>
</div>
<h3>Buy Instagram Engagement</h3>
 <p>Buying Instagram engagement will keep your profile at a healthy status. We recommend to our clients, whatever the follower count is, to base all other engagement on a 10% scale.</p>
<p>This <b>"Healthy 10% Rule"</b> is used on client accounts to evaluate the worth of their profile. Here at &nbsp;{{ site["site_name"] }}, not only can you assure this healthy status, but we also offer services such as Instagram Likes, Views, Impressions and more!</p>
</div>
</div>
</div>
<div class="slider-nav4"></div>
</div>
<div role="tabpanel" class="tab-pane fade" id="youtubeTab">
<div class="social-slider yt-slider">
<div>
<div class="socialSlideBox">
<div class="socialSlideIcon">
<i class="fa fa-youtube"></i>
</div>
<h3>YouTube SMM Tools</h3>
<p>Getting noticed on YouTube takes a lot of work. <b>&nbsp;{{ site["site_name"] }}</b> makes it as simple as 1, 2, 3. With over 300 billion views delivered as of 2018, we are the best YouTube Video Promotion Tool out there!</p>
<p>With our 100% safe marketing method for your content, you will start to see results within the first couple of hours after your order has been placed!</p>
</div>
</div>
<div>
<div class="socialSlideBox">
<div class="socialSlideIcon">
<i class="fa fa-youtube"></i>
</div>
<h3> Buy YouTube Video Views</h3>
<p>If your main goal on your video promotion is to get millions of views, we make that goal easily achievable. Once you click that upload button on YouTube, grab your video link and start your video promotion with us after! </p>
<p>We have always been known for giving <b>High Retention</b> YouTube views. This is important to know because not only are we able to deliver millions of views, but we also encourage the audience to stay involved with your content.</p>
</div>
</div>
<div>
<div class="socialSlideBox">
<div class="socialSlideIcon">
<i class="fa fa-youtube"></i>
</div>
<h3>Buy YouTube Shares</h3>
<p>Sharing a YouTube video is another effective way on how to spread your content across the world! We enable our clients the option to choose which country, platform shared on, and much more depending on their needs.</p>
<p>When your video gets shared, not only will that increase organic reach, but it always spreads your content to different potential audiences across the world! .</p>
</div>
</div>
</div>
<div class="slider-nav3"></div>
</div>
<div role="tabpanel" class="tab-pane fade" id="twitterTab">
<div class="social-slider twt-slider">
<div>
<div class="socialSlideBox">
<div class="socialSlideIcon">
<i class="fa fa-twitter"></i>
</div>
<h3>Twitter SMM Tools</h3>
<p>Twitter (As well as Facebook) has potential to help create viral content. Twitter has the ability to increase organic post reach with a click of a button. After years and years of Social Media Marketing, we have learned a thing or two.</p>
<p>Our <b>All-In-One</b> SMM tool has multiple ways of helping to get your account boosted with engagement. Followers, Retweets, Likes, etc. We have them all in a easy to use dashboard for clients like you.</p>
</div>
</div>
<div>
<div class="socialSlideBox">
<div class="socialSlideIcon">
<i class="fa fa-twitter"></i>
</div>
<h3>Buy Twitter Followers</h3>
<p>Twitter and Instagram have a similiar profile report, meaning our <b>"Healthy 10% Scale"</b> still applies. Buy Twitter followers and notice a difference in your popularity.</p>
<p>With our 100% LIVE Customer Support (0900 - 1400 CST), choose the speed you would like your followers to be delivered at with our <b>Drip-Feed System</b>. Get Twitter Followers boosted today!</p>
</div>
</div>
<div>
<div class="socialSlideBox">
<div class="socialSlideIcon">
<i class="fa fa-twitter"></i>
</div>
<h3>Increase Twitter Awareness</h3>
<p>Back to our 10% rule, buying engagement as well as followers, will increase your Social Image upon finding new audiences. What this means is, when buying Twitter likes, or Retweets, causes a increase in organic post reach.</p>
<p>All engagement services are included with a 100% confidential agreement. Meaning, any business done between <b>&nbsp;{{ site["site_name"] }}</b> and yourself, will be private information and not shared with anyone. Enjoy!</p>
</div>
</div>
</div>
<div class="slider-nav5"></div>
</div>
<div role="tabpanel" class="tab-pane fade" id="facebookTab">
<div class="social-slider fb-slider">
<div>
<div class="socialSlideBox">
<div class="socialSlideIcon">
<i class="fa fa-facebook"></i>
</div>
<h3>Facebook SMM Tools</h3>
<p><b>&nbsp;{{ site["site_name"] }}</b> is not only known for providing High Quality Facebook Page Likes, but we also provide Facebook engagement services that allow you to promote your posts.</p>
<p>While being the <b>most effective SMM tool</b>, providing astonishing <b>Customer Support</b>, trust in &nbsp;{{ site["site_name"] }} to help build your Facebook Page today!</p>
</div>
</div>
<div>
<div class="socialSlideBox">
<div class="socialSlideIcon">
<i class="fa fa-facebook"></i>
</div>
<h3>Buy Facebook Post Boosting</h3>
<p>Facebook pushes posts in front of users with high engagement. Buy Facebook post <b>likes, shares, comments and more </b>to help increase your organic reach.</p>
<p>It is important to build a Facebook page off an audience who will most likely engage with your content. <b>&nbsp;{{ site["site_name"] }}</b> allows you to buy engagement based off of targeted user location!</p>
</div>
</div>
<div>
<div class="socialSlideBox">
<div class="socialSlideIcon">
<i class="fa fa-facebook"></i>
</div>
<h3>Buy Facebook Video Views</h3>
<p>Video posts on Facebook are so valuable when your goal is to increase impressions. Here at <b>&nbsp;{{ site["site_name"] }}</b>, we make it possible to get your video viewed by millions of people by just a click of a button.</p>
 <p>Getting high view count numbers on your posts wil not only increase your <b>Social Image</b>, but it will also increase chances for sponsorship endorsement oppurtunities! Buy daily Facebook engagement to keep your profile healthy.</p>
</div>
</div>
</div>
<div class="slider-nav2"></div>
</div>
</div>
</section>
<section class="interested">
<div class="container">
<div class="row">
<div class="col-sm-12">
<h2>Ready to Get Started?</h2>
<p>All user information is kept 100% private and will <b>NOT</b> be shared with anyone. Always remember, you are protected with <b>&nbsp;{{ site["site_name"] }}</b></p><a href="/signup" class="btnCustomAlt">Get Started Now</a>
</div>
<div class="col-sm-12">
<img src="https://images.irscdn.icu/smm/images/whWMMEQ.png?v=1" alt="ready_image" />
</div>
</div>
</div>
</section>




{% for lang in site['languages'] %}
  {% if lang['active'] %}
    <script src="https://www.google.com/recaptcha/api.js?hl={{ lang['code'] }}"></script>
  {% endif %}
{% endfor %}


{% include 'footer.twig' %}
