{% include 'header.twig' %}

    
    
    


<div class="inner-page" style="display: inline-block;">
<section>
<div class="container">
<div class="search-panel">
<form action="/orders/all" method="get" id="history-search">
<div class="form-group">
<div class="input-group">
<input type="hidden" name="status" value="all">
<input type="text" name="search" class="form-control" value="" placeholder="Search orders">
<span class="input-group-btn">
<button type="submit" class="btn btn-green"><i class="fa fa-search" aria-hidden="true"></i></button>
</span>
</div>
</div>
</form>
</div>
<div class="card my-orders-panel">
<div class="card-body">
<div class="tabs-wrapper">
<ul class="nav nav-justified nav-tabs dragscroll horizontal ">
	<li class="nav-item" >
		<a {% if 'all' == status %}  class="nav-link active" {% endif %} class="nav-link" href="refill">All</a>
		</li>
        <li class="nav-item"><a {% if 'Pending' == status %}  class="nav-link active" {% endif %} class="nav-link" href="refill/Pending">{{ lang['orders.status.pending'] }}</a></li>
        <li class="nav-item"><a {% if 'Refilling' == status %}  class="nav-link active" {% endif %} class="nav-link" href="refill/Refilling">Refilling</a></li>
        <li class="nav-item"><a {% if 'Completed' == status %}  class="nav-link active" {% endif %} class="nav-link" href="refill/Completed">{{ lang['orders.status.completed'] }}</a></li>
        <li class="nav-item"><a {% if 'Rejected' == status %}  class="nav-link active" {% endif %} class="nav-link" href="refill/Rejected">Rejected</a></li>
        <li class="nav-item"><a {% if 'Error' == status %}  class="nav-link active" {% endif %} class="nav-link" href="refill/Error">Error</a></li>
        
</ul>
</div>
<div class="tab-content table-responsive-xl">
<table class="table table-striped ">
<thead>
<tr>
 <th>Refill ID</th>
<th>Date </th>
<th>Order ID</th>
              <th>Link</th>
<th>Service</th> 
              <th>Status</th>
</tr>
</thead>
<tbody>
    
{#reject - #702283#}
{#completed-0e7f00#}
{#inprogress-0721ed#}
{#pending-42b7af#}
{#error-f71111#}

            {% for order in orders %}
              <tr>
<td>{{ order['refill_id'] }}</td> 
<td>{{ order['date'] }}</td> 
                <td><a href="orders/?search={{order['id']}}">{{ order['id'] }}</a></td>
               
                 <td><a   target="_blank" href="{{ order['link'] }}">{{ order['link'] }}</a></td>  
<td>{{ order['service'] }}</td> 
      
          <td><div style=" line-height:{% if order['refill_status'] == "Pending" %}1 {% endif %}; cursor:pointer; padding:3px 5px;  text-align:center; border-radius:20px; color:white; background:#{% if order['refill_status'] == "Completed"  %}0e7f00 {% elseif order['refill_status'] == "Refilling" %}260bc1  {% elseif order['refill_status'] == "Pending" %}42b7af {% elseif order['refill_status'] == "Error" %}42b7af {% elseif order['refill_status'] == "Rejected" %}702283 {% else %}f25800 {% endif %} ;" >{{ order['refill_status'] }}</div></td>
               

              </tr>
            {% endfor %}
</td>
          </tbody>
        </table>
   </div>
 {% if pagination["count"] > 1 %}
        <ul class="pagination">

          {% if pagination["current"] != 1 %}
            <li>
              <a href="orders/{{ status }}/{{ pagination["previous"] }}{% if search %}?search={{ search }}{% endif %}" aria-label="Previous">
                <span aria-hidden="true">«</span>
              </a>
            </li>
          {% endif %}

          {% set r, l = 3, 3 %}

          {% if pagination['current'] == 1 %}
            {% set r = 7 %}
          {% endif %}

          {% if pagination['current'] == 2 %}
            {% set r = 5 %}
          {% endif %}

          {% if pagination['current'] >= pagination['count'] %}
            {% set l = 5 %}
          {% endif %}

          {% for page in 1..pagination["count"] %}
            {% if page >= (pagination['current']-l) and page <= (pagination['current']+r) %}
              <li{% if page == pagination['current'] %} class="active" {%endif%}><a href="orders/{{ status }}/{{ page }}{% if search %}?search={{ search }}{% endif %}">{{ page }}</a></li>
            {%endif%}
          {% endfor %}

          {% if pagination['current'] < pagination['count'] %}
            <li>
              <a href="orders/{{ status }}/{{ pagination['next'] }}{% if search %}?search={{ search }}{% endif %}" aria-label="Next">
                <span aria-hidden="true">»</span>
              </a>
            </li>
          {% endif %}

        </ul>
      {% endif %}

 </div>
  </div>
</div></div></div></div>
</div></div></div></div></div></div>
</div>




<br><br><br><br><br>

{% include 'footer.twig' %}