{% include 'header1.twig' %}



  <div class="not-authenticate">
<section class="top-hero signupPage">
<div class="container">
<style type="text/css">
.well {
    background: #fff;
    border: none;
    border-radius: 4px;
    box-shadow: 0 2px 10px 0 rgba(0,0,0,.08)
}    
.thead-dark th {
    background: none;
    color: #333333;
}
    .top-hero {
        padding-top: 20px;
    }
.icon{ position:static; }    
</style>
<div class="row">
<div class="col-md-5 col-md-offset-7">
<div class="row">
<div class="col-md-6" style="padding-right: 0px;">
<div class="dropdown  pull-right">
<button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="background-color: #01487f;color: #fff;margin-top: 0px;height: 40px;">
<i class="fa fa-filter"></i> <span class="text">Filter Services</span>
</button>

<ul class="dropdown-menu">
									 <li><a href="javascript:void(0);" onclick="javascript:filterService('All')">{{lang["smmspot.services.filter.item.1"]}}</a></li>	
									  {% for category in serviceCategory %}
									 <li><a href="javascript:void(0);" onclick="javascript:filterService('{{ category["category_name"] }}')">{{ category["category_name"] }}</a></li>
									  {% endfor%} 	
								   </ul>



</div>
</div>
<div class="col-md-6 pull-right" id="srchdiv" style="padding-left: 0px;">
<input style="border: 1px solid #01487f;height: 40px;" type="text" name="search" id="serv-inp" class="form-control" value="" placeholder="Search services">
	
</div>
</div>
</div>

                        <div class="col-lg-12">
<div class="well">
<div class="panel panel-default">
<div class="table-responsive">
                            <table id="serv-table" class="table table-bordered services-table">
                                <thead>
                                    <tr>
                                       <th>ID</th>
<th>Service</th>
<th>Rate</th>
<th>Min order</th>
<th>Max order</th>
<th></th>
</tr>
                                    </tr>
                                </thead>
                                <tbody>
								{% for category in serviceCategory %}
                                    <tr class="services-header" data-category="{{ category["category_name"] }}">
                                        
                                        <td colspan="7" class="theme-bg social-title" style="background-color: #01487f;color: #e9ebee;font-size: 18px;">
<span style="font-family:'Font Awesome 5 Free','Font Awesome 5 Brands';" sname="{{ category["category_name"] }}"></span>{{ category["category_name"] }}</td>
                                       
                                    </tr>
									{% for service in category['services'] %}
                                    <tr class="table-mobile-card serviceData" data-category="{{ category["category_name"] }}">
                                        <td data-title="ID">{{ service["service_id"] }}</td>
                                        <td data-title="Service" class="pm-ikon">{{ service["service_name"] }}</td>
                                        <td data-title="1000 Number">    {{ currency["symbol"]  }}  {{ service['service_price'] *currency["value"]   }}</td>
                                        <td data-title="Minimum" class="text-success">{{ service["service_min"] }}</td>
                                        <td data-title="Maksimum" class="text-danger">{{ service["service_max"] }}</td>
										
										
										
										
                                         <td>
                                           
                                           
                                           
                                            <a  class="btn btn-primary icon viewMore"  data-toggle="modal" data-target="#servisDetay{{ service["service_id"] }}">
<i class="fa fa-info-circle"></i>
</a>
                                            
                                       
											<div class="modal fade" id="servisDetay{{ service["service_id"] }}">
												<div class="modal-dialog">
													<div class="modal-content">

														<!-- Modal Header -->
														<div class="modal-header">
															<h4 class="modal-title">{{ service["service_name"] }}</h4>
														</div>

														<!-- Modal body -->
														<div class="modal-body">
															{{ service["service_description"] }}		  
														</div>
														  <div class="modal-footer">
														      
														      
														      
															  <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
															 
														  </div>
													</div>
												</div>
											</div> 
                                        </td>
                                    </tr>
                                  {% endfor%}	
								{% endfor%}	
                                </tbody>
                            </table>
                        </div><!-- dash-list -->
                    </div>
                </div>
            </section>
        </div>
	 </div>  

<script>


function ikon(opt) {
    var ikon = "";
    if (opt.indexOf("Instagram") >= 0) {
        ikon = "<span class=\"fs-ig\"><i class=\"fab fa-instagram\" aria-hidden=\"true\"></i> </span>";
    } else if (opt.indexOf("YouTube") >= 0) {
        ikon = "<span class=\"fs-yt\"><i class=\"fab fa-youtube\" aria-hidden=\"true\"></i> </span>";
    } else if (opt.indexOf("Facebook") >= 0) {
        ikon = "<span class=\"fs-fb\"><i class=\"fab fa-facebook-square\" aria-hidden=\"true\"></i> </span>";
    } else if (opt.indexOf("Youtube") >= 0) {
        ikon = "<span class=\"fs-yt\"><i class=\"fab fa-youtube\" aria-hidden=\"true\"></i> </span>";
    } else if (opt.indexOf("Twitter") >= 0) {
        ikon = "<span class=\"fs-tw\"><i class=\"fab fa-twitter\" aria-hidden=\"true\"></i> </span>";
    } else if (opt.indexOf("Google") >= 0) {
        ikon = "<span class=\"fs-gp\"><i class=\"fab fa-google-plus\" aria-hidden=\"true\"></i> </span>";
    } else if (opt.indexOf("Swarm") >= 0) {
        ikon = "<span class=\"fs-fsq\"><i class=\"fab fa-forumbee\" aria-hidden=\"true\"></i> </span>";
    } else if (opt.indexOf("Dailymotion") >= 0) {
        ikon = "<span class=\"fs-dm\"><i class=\"fab fa-hospital-o\" aria-hidden=\"true\"></i> </span>";
    } else if (opt.indexOf("Periscope") >= 0) {
        ikon = "<span class=\"fs-pc\"><i class=\"fab fa-map-marker\" aria-hidden=\"true\"></i> </span>";
    } else if (opt.indexOf("Soundcloud") >= 0) {
        ikon = "<span class=\"fs-sc\"><i class=\"fab fa-soundcloud\" aria-hidden=\"true\"></i> </span>";
    } else if (opt.indexOf("Vine") >= 0) {
        ikon = "<span class=\"fs-vn\"><i class=\"fab fa-vine\" aria-hidden=\"true\"></i> </span>";
    } else if (opt.indexOf("Spotify") >= 0) {
        ikon = "<span class=\"fs-sp\"><i class=\"fab fa-spotify\" aria-hidden=\"true\"></i> </span>";
    } else if (opt.indexOf("Snapchat") >= 0) {
        ikon = "<span class=\"fs-snap\"><i class=\"fab fa-snapchat-square\" aria-hidden=\"true\"></i> </span>";
    } else if (opt.indexOf("Pinterest") >= 0) {
        ikon = "<span class=\"fs-pt\"><i class=\"fab fa-pinterest-p\" aria-hidden=\"true\"></i> </span>";
    } else if (opt.indexOf("iTunes") >= 0) {
        ikon = "<span class=\"fs-apple\"><i class=\"fab fa-apple\" aria-hidden=\"true\"></i> </span>";
    } else if (opt.indexOf("Müzik") >= 0) {
        ikon = "<span class=\"fs-music\"><i class=\"fab fa-music\" aria-hidden=\"true\"></i> </span>";
    } else if (opt.indexOf("Vimeo") >= 0) {
        ikon = "<span class=\"fs-videmo\"><i class=\"fab fa-vimeo\" aria-hidden=\"true\"></i> </span>";
    } else if (opt.indexOf("Ekşi") >= 0) {
        ikon = "<span class=\"fs-eksi\"><i class=\"fab fa-tint\" aria-hidden=\"true\"></i> </span>";
    } else if (opt.indexOf("Telegram") >= 0) {
        ikon = "<span class=\"fs-telegram\"><i class=\"fab fa-telegram\" aria-hidden=\"true\"></i> </span>";
    } else if (opt.indexOf("Twitch") >= 0) {
        ikon = "<span class=\"fs-twc\"><i class=\"fab fa-twitch\" aria-hidden=\"true\"></i> </span>";
    } else if (opt.indexOf("Zomato") >= 0) {
        ikon = "<span class=\"fs-zom\"><i class=\"fab fa-cutlery\" aria-hidden=\"true\"></i> </span>";
	} else if (opt.indexOf("Amazon") >= 0) {
        ikon = "<span class=\"fs-amaz\"><i class=\"fab fa-amazon\" aria-hidden=\"true\"></i> </span>";
	} else if (opt.indexOf("Tumblr") >= 0) {
        ikon = "<span class=\"fs-tumb\"><i class=\"fab fa-tumblr-square\" aria-hidden=\"true\"></i> </span>";
	} else if (opt.indexOf("Yandex") >= 0) {
        ikon = "<span class=\"fs-yndx\"><i class=\"fab fa-yoast\" aria-hidden=\"true\"></i> </span>";
	} else if (opt.indexOf("Linkedin") >= 0) {
        ikon = "<span class=\"fs-lnk\"><i class=\"fab fa-linkedin\" aria-hidden=\"true\"></i> </span>";
	} else if (opt.indexOf("Yahoo") >= 0) {
        ikon = "<span class=\"fs-yahoo\"><i class=\"fab fa-yahoo\" aria-hidden=\"true\"></i> </span>";
    } else if (opt.indexOf("TikTok") >= 0) {
        ikon = "<span class=\"fs-tiktok\"><i class=\"fa fa-music\" aria-hidden=\"true\"></i> </span>";
    } else {
        ikon = "<span class=\"\"><i class=\"far fa-star\" aria-hidden=\"true\"></i> </span>  ";
    }
    return ikon;
}
  
$(document).ready(function() {

	$(".pm-ikon").each(function() {
				var ico = ikon($(this).text());
				$(this).html(ico + $(this).text() );
				console.log($(this).text());
		});	
});

</script>
<script>
      function filterService(category) {
        if (category == 'All')
          $('tbody tr.hidden').removeClass('hidden');
        else {
          $('tbody tr').addClass('hidden');
          $('tbody tr[data-category="' + category + '"]').removeClass('hidden');
        }
        removeEmptyCategory();
      }

      function removeEmptyCategory() {
        $('.services-header').each(function () {
            var next = $(this).next();
            var services = $(this).nextUntil('.services-header');
            var empty = true;
            services.each(function() {
              if (!$(this).hasClass('hidden')) empty = false;
            });
            if (empty) $(this).addClass('hidden');
        })
      }
</script>
{% include 'footer.twig' %}